[2021-02-24 16:49] DavidRoy opened #1 "Menu title typo"
Menu says 'Exit existing data'. Should say 'Edit...'

[2021-02-24 16:53] DavidRoy opened #2 "Privacy policy & T&Cs"
Required on website.

Also needs to integrate with FitCount app privacy and T&C
https://github.com/NERC-CEH/fit-count-app/issues/2

[2021-02-24 17:27] andrewvanbreda commented on #1
@DavidRoy
Fixed, close when you are satisfied that fix has worked.

[2021-02-24 18:19] DavidRoy commented on #1
Thanks.  Closing

[2021-02-24 18:19] #1 closed, assigned to andrewvanbreda

[2021-02-26 11:31] andrewvanbreda opened #3 "Consider user of NPMS theme for project"
There is initially a problem where NPMS is Drupal 7 and PoMS is Drupal 8

[2021-02-26 11:33] andrewvanbreda opened #4 "Setup homepage"
Andrew van Breda to initially setup a placeholder homepage.
CEH to provide homepage content.

[2021-02-26 11:34] andrewvanbreda opened #5 "Move existing sample/occurrence data to new website"
AVB to write scripts, then contact CEH for running

[2021-02-26 11:36] andrewvanbreda opened #6 "Remember language selection"
Site must remember a user's language selection from their previous login

[2021-02-26 11:41] andrewvanbreda opened #7 "Code existing data page, consider possible use of Elastic Search"
As per issue title

[2021-02-26 11:42] andrewvanbreda opened #8 "Finish configuration of registration options and fields"
Finish configuration of registration options and fields.

AVB extra thought: does the Indicia Easy Login code used in NPMS need a Drupal 8 conversion?

[2021-02-26 11:48] andrewvanbreda opened #9 "Consider how to deal with translations"
Consider how to export all required translations in bulk, preferably in a one-off bulk export for translation (although note this probably isn't probably isn't completely possible in practice)

[2021-02-26 11:49] BirenRathod commented on #8
@andrewvanbreda
There is already developed code in Drupal 8. you will find that here -> https://github.com/Indicia-Team/drupal-8-modules-indicia_features

[2021-02-26 11:54] andrewvanbreda opened #10 "Complete and test Public Fit Count page"
Complete and test Pulbic Fit Count page inc copying spatial references from previous years.

[2021-02-26 11:56] andrewvanbreda opened #11 "Setup reports such they work with app data"
App data will go into its own survey, make sure report grids on site can cope with this, in particular that there is a recording form on the site which can be accessed for editing of existing app data.

[2021-02-26 11:57] andrewvanbreda opened #12 "Setup user roles and permissions on site"
As per issue title

[2021-02-26 14:06] andrewvanbreda commented on #8
@BirenRathod
Yes it is, but that isn't actually quite what I meant by the issue I have raised (maybe I need to re-word the issue)

The Warehouse syncing code actually had a lot of bugs in it which I fixed for NPMS.
I need to make sure those bug fixes are present in the Drupal 8 version as actually the syncing didn't work well at all without them.

Sorry for the confusion. Thanks for the attempt to

[2021-02-26 14:07] andrewvanbreda opened #13 "Square management page required"
Need to create Square management page, in particular this must include a location attribute to indicate if square is allocated

[2021-02-26 14:10] BirenRathod commented on #8
@andrewvanbreda The easy_login module works slightly different way, then drupal 7 one, so you need to check first and then make a changes according to. Of course your code specific to NPMS, still required to implement as per Drupal 8 version.

[2021-02-28 18:59] andrewvanbreda commented on #4
Placeholder welcome page now on site. CEH to provide content.

[2021-03-01 11:16] andrewvanbreda commented on #8
@BirenRathod That is fine, I will test it and only code if it isn't working

AVB note to myself: Need to add "'Where did you hear about this survey?" registration field.

@DavidRoy
I have enabled the test site to allow users to register using registration email.
You may wish to think of wording you may want to use for a custom registration email text.
Also can you consider if you want the "Where d

[2021-03-01 11:32] andrewvanbreda opened #14 "Make project squares work on new website"
Project squares need to work on new website.
Also look on iRecord to see if "1km square survey - Flower-Insect Timed Counts" & "1km square survey - pan-trap samples " use different squares.

[2021-03-01 11:57] kitenetter commented on #14
There is only one set of 1km squares, and it is used for both those surveys. The squares are all set up in the warehouse locations table, and have type = "PoMS 1km squares".

A couple of squares have had to be discarded over the years, so I'm fairly sure that the warehouse list contains more than the 75 squares that we currently use.

[2021-03-01 12:22] BirenRathod commented on #3
@andrewvanbreda, @DavidRoy
I have created PoMS theme identical to https://test-ukbms8.pantheonsite.io/. It does require to change background images. I could do once we get it.

[2021-03-01 12:34] BirenRathod commented on #3
@andrewvanbreda The theme is available to test on test site. So when ever you get chance, you can test it.

[2021-03-01 14:10] andrewvanbreda commented on #14
@kitenetter
Thanks, this is very useful information. I will add these to the new website then.
Thanks again

[2021-03-01 14:19] andrewvanbreda commented on #3
@BirenRathod
Thanks Biren,

Have just switched to it. Will let you know how I get on. We will need to deal with it saying UK Butterfly Monitoring Scheme at some point, but that is fine for now.
Thanks

[2021-03-01 14:22] BirenRathod commented on #3
@andrewvanbreda Yes, that is also part of changing images. So we need images, logo & icon.

[2021-03-03 13:33] andrewvanbreda commented on #10
AVB note to myself (page complete apart from):

1. "other" habitat option needs to be dynamic (AVB Fixed: Code was in a node.x.js file)

2. target flower options missing icons

3. "Type of flower counted" is set automatically in original form on iRecord (AVB Fixed: Code was in a node.x.js file)

4. Start Time missing time control (AVB: moved into separate issue so doesn't need to be considered her

[2021-03-03 13:54] andrewvanbreda opened #15 "Check "required" fields on site."
Once data entry forms are completed, AVB to double check "required" fields are setup correctly.

[2021-03-03 16:16] andrewvanbreda commented on #9
To meet with David about this:

Challenges to discuss
1. Requirements not tightly defined so full translation requirements are unknown.

2. No way to just export translations what we want

3. Need to clearly define advantages of Transifex.

Possible Solutions
Meet before translations are sent to translators to precisely agree exact wording for each page, including registration pages.

[2021-03-03 16:21] andrewvanbreda opened #16 "Improve Language Switcher visually"
1. Language Switch looks wrong with UKBMS theme.
2. Need Welsh flag for language switcher. Note this can be any royalty free image, however note that as David correctly pointed out, why is this not working automatically. Other sites it is not necessary to specify the flag.

[2021-03-03 16:48] andrewvanbreda opened #17 "Count Start Time causing jQuery error if enabled as time_input control"
If the Count Start Time attribute is set to be a "time_input" in the Warehouse attribute settings this causes an error on the input_form saying (even if not using Firefox)

jQuery.Deferred exception: undefined is not an object (evaluating '$.browser.mozilla')

[2021-03-03 20:17] andrewvanbreda commented on #9
Have mailed JVB about Transifex and the project website/survey structure.
Awaiting response

[2021-03-03 20:20] DavidRoy commented on #4
Require PoMs logo and background image for home page

[2021-03-04 13:03] andrewvanbreda commented on #16
2. Flag fixed. Languageicons module doesn't have an icon of its own for Welsh, so have made one

[2021-03-04 13:13] DavidRoy commented on #3
Closing this as we can pick up specific design changes as specific issues

[2021-03-04 13:13] #3 closed, assigned to DavidRoy, BirenRathod

[2021-03-04 13:14] andrewvanbreda commented on #11
AVB note to myself: Elastic Search syntax for multiple surveys is as follows:
(noting displayed inside <> which are not included here as confuses the display of the comment)
input type="hidden" class="es-filter-param" data-es-bool-clause="must" data-es-query-type="terms" data-es-field="metadata.survey.id" value="[636,637,638]"

[2021-03-04 13:15] DavidRoy opened #18 "PoMS logo for website theme"
https://test-ceh-poms.pantheonsite.io/

Replace UKBMS logo with PoMs logo
@kitenetter to add logo file to this issue
@BirenRathod to add to site

[2021-03-04 13:18] DavidRoy opened #19 "Background image for home page"
Currently has a butterfly
@kitenetter to provide image file for background
@BirenRathod to replace current image

[2021-03-04 13:19] DavidRoy commented on #4
links to #18 #19
@kitenetter to provide home page text

[2021-03-04 23:19] kitenetter opened #20 "Content for web pages"
Initial draft is here:
[DRAFT text for web pages 2021_03_04.docx](https://github.com/BiologicalRecordsCentre/PoMS/files/6087159/DRAFT.text.for.web.pages.2021_03_04.docx)

More work to do to add to and revise this content but sharing it now to give the outline.

[2021-03-04 23:23] kitenetter commented on #18
Logo options:

PoMS_Logo_WithoutStrap_Positive_Black
![PoMS_Logo_WithoutStrap_Positive_Black](https://user-images.githubusercontent.com/16039111/110043972-468da900-7d40-11eb-800a-e1819875e8ff.png)

PoMS_Logo_WithoutStrap_Positive_WhiteOut
![PoMS_Logo_WithoutStrap_Positive_WhiteOut](https://user-images.githubusercontent.com/16039111/110043976-47263f80-7d40-11eb-9224-83d16763481f.png)

PoMS_Logo_Wit

[2021-03-04 23:27] BirenRathod commented on #19
@kitenetter I need about six images min if possible. the size will be 3504 x 2360

[2021-03-04 23:30] BirenRathod commented on #18
Thanks @kitenetter. No strap line needed. This should be fine. Also I need three insects without text for icon.

[2021-03-04 23:34] kitenetter commented on #18
PoMS_Logo_IconOnly_WhiteOut
![PoMS_Logo_IconOnly_WhiteOut](https://user-images.githubusercontent.com/16039111/110045102-1941fa80-7d42-11eb-901d-8949e3c5fe11.png)

PoMS_Logo_IconOnly_Black
![PoMS_Logo_IconOnly_Black](https://user-images.githubusercontent.com/16039111/110045104-1a732780-7d42-11eb-82c6-5e967a79df6d.png)

PoMS_Logo_IconOnly_Twitter
![PoMS_Logo_IconOnly_Twitter](https://user-images.git

[2021-03-04 23:36] BirenRathod commented on #18
Thanks, @kitenetter

[2021-03-04 23:38] kitenetter commented on #19
Most of my photos are a bit smaller than that. Do you want me to resize them to exactly 3504 x 2360 pixels?

And are we using all six (e.g. in a scrolling banner) or do you just need a choice for a single background photo, as shown with the butterfly on the test site?

[2021-03-05 00:15] kitenetter commented on #19
Six photos here:
https://1drv.ms/u/s!Ak5pqPfqMN7VhcQ8WIIUc7D2APMgfg?e=8l8wOG

[2021-03-05 08:09] BirenRathod commented on #19
Thanks @kitenetter.  The background images hard coded, so I do need six photos at least. Otherwise I have to make six copies of one photos. Anyway thanks again.

[2021-03-05 08:29] DavidRoy commented on #19
@BirenRathod this is only a temporary design until Steve Dixon can work on the site.  so please use the images as best you can but some repetition of images is fine.

[2021-03-05 10:44] andrewvanbreda commented on #17
Hi @BirenRathod

Very low prority, but do you know if iRecord has a jQuery plugin called timeentry installed?

I think the "Start time (BST) for your count" control on the following page maybe using it, any thoughts on getting this installed on POMS? As I say, low priority as the field can accept entry without the fancy spinner.

https://www.brc.ac.uk/irecord/poms-fit-count

[2021-03-05 10:58] andrewvanbreda opened #21 "Move node.x.js files across from iRecord"
As per issue title

[2021-03-05 11:02] andrewvanbreda opened #22 "Setup equivalent placeholder non-Elastic report pages"
Bring across reporting pages from iRecord as placeholders then replace with Elastic page equivalents.
This will allow site to work even if Elastic isn't finished or proves troublesome

[2021-03-05 11:07] DavidRoy opened #23 "Implement Transifex-Drupal module"
There is a Drupal module for Transifex.
David Roy sets up Transifex for website

Here are my notes:
See https://docs.transifex.com/drupal/drupal-8
 Modules required:
 	• https://www.drupal.org/project/tmgmt (includes Content Entity Source, Locales Sources)
 	• https://www.drupal.org/project/tmgmt_transifex

 Copy over transifex module fixes from ABLE latest as this contains some patches.
 Enable t

[2021-03-05 11:17] andrewvanbreda opened #24 "Setup privacy precision on data entry forms and test on reports"
@DavidRoy

Are you able to confirm if map blurring is required for user privacy reasons or species sensitivity reasons?
Thanks

[2021-03-05 11:21] DavidRoy commented on #24
@CCarvell and @kitenetter to confirm

[2021-03-05 11:25] DavidRoy commented on #23
@BirenRathod could you install these modules from the ABLE site (www.butterfly-monitoring.net)

[2021-03-05 11:30] andrewvanbreda commented on #9
After discussion project to use one Indicia website (id = 136) and separate surveys (ids = 636 - 638)

Transifex to be install to allow selection of required translations during export.
Meeting has been organisation to go through website and add any missing bits with placeholder text so translation can be completed.

[2021-03-05 11:30] #9 closed, assigned to andrewvanbreda

[2021-03-05 11:33] BirenRathod commented on #23
@DavidRoy Both modules available for PoMS. Just to enable them for the site.

[2021-03-05 11:40] DavidRoy commented on #23
@BirenRathod are these modules copied over from the ABLE site, as John applied some patches

[2021-03-05 11:41] kitenetter commented on #24
Map blurring is required for user privacy reasons, because:
- many FIT Counts take place in private gardens so we prefer to blur the precise location
- 1 km square surveys are on private land and we need to blur the precise pan-trap locations

Blurring to 1 km square level will suffice in both cases.

[2021-03-05 11:45] BirenRathod commented on #23
@DavidRoy He didn't do any implementation in the module. Those modules rolled out from upstream.

[2021-03-05 11:54] andrewvanbreda commented on #24
Thanks @kitenetter

Thanks, that is all fine, I just needed to know as the way I implement the blurring varies depending on the reasons for it

[2021-03-05 13:10] BirenRathod commented on #21
I have sent you zip files.

[2021-03-05 13:57] BirenRathod commented on #19
@DavidRoy All background images uploaded.

[2021-03-05 13:58] BirenRathod commented on #18
@DavidRoy Logo and icon has uploaded now.

[2021-03-05 14:07] andrewvanbreda commented on #21
Thanks Biren.

AVB note to myself: This is done, but I need to finishing testing all functionality when the site is more complete.
Also need to consider how to store these files safely as they were transferred using SFTP

[2021-03-05 14:29] DavidRoy commented on #23
@johnvanbreda can you advise on how to connect up Transifex and Drupal through this module (e.g. is a key needed?) and whether we've pulled the right module across.

[2021-03-05 14:52] BirenRathod commented on #23
@DavidRoy Once it is enabled, the transfix module will create api key which Andy can use and store in helper_config file.

[2021-03-05 14:54] BirenRathod commented on #23
Also @DavidRoy you need to register the site on this www.transifex.com website.

[2021-03-05 14:56] BirenRathod commented on #23
@DavidRoy Sorry the api key, you will get it from transfix website once you register it. I don't have log in details about it.

[2021-03-05 16:52] andrewvanbreda commented on #13
Implemented

[2021-03-05 16:52] #13 closed, assigned to andrewvanbreda

[2021-03-05 18:01] andrewvanbreda commented on #11
AVB Note to myself: Survey 641 is app survey

[2021-03-07 08:05] andrewvanbreda commented on #24
All data entry forms now protected to 1km for privacy. Just requires testing before closure

[2021-03-09 11:06] andrewvanbreda commented on #15
Done on all 3 forms. Also checked term lists were enabled and help text is available.

[2021-03-09 11:06] #15 closed, assigned to andrewvanbreda

[2021-03-09 11:50] andrewvanbreda commented on #14
Squares now working in square maintenance area, and on applicable forms.

[2021-03-09 11:50] #14 closed, assigned to andrewvanbreda

[2021-03-09 12:09] andrewvanbreda commented on #12
Hi @DavidRoy

Am a bit confused by the roles the site will have. I have the following information from one of the documents.
Are the "1km square survey - Flower-Insect Timed Counts" and "1km square survey - pan-trap samples" entered by users with the same user role then? ( PoMS volunteer)

1 | PoMS volunteer * | Carry out field survey, record data on paper form, collect insect specimens to send to

[2021-03-09 12:12] kitenetter commented on #12
Yes, the role "PoMS volunteer" applies to the set of people who carry out the 1km square surveys for us, which includes pan-trapping and FIT Counts. This set of FIT Counts is stored in a separate survey to the public FIT Counts.

Martin

________________________________
From: andrewvanbreda <notifications@github.com>
Sent: 09 March 2021 12:09
To: BiologicalRecordsCentre/PoMS <PoMS@noreply.github.c

[2021-03-09 12:46] kitenetter commented on #2
Privacy Notice:

[PoMS Privacy Notice v1.docx](https://github.com/BiologicalRecordsCentre/PoMS/files/6108563/PoMS.Privacy.Notice.v1.docx)

I have given the URL for this policy as:
http://ukpoms.org.uk/privacy-notice

[The FIT Count app has a similar, but separate, Privacy Notice.]

[2021-03-09 12:56] DavidRoy commented on #2
@BirenRathod can you create a page for this on https://test-ceh-poms.pantheonsite.io/ and add a link in the page footer template

[2021-03-09 13:40] andrewvanbreda commented on #12
Thanks Martin. This information will help me setup the roles correctly.

[2021-03-09 14:07] kitenetter commented on #2
@BirenRathod I've found a typo in the Terms of use - can you give me editing permissions so that I can correct it?

[2021-03-09 14:26] kitenetter commented on #2
Terms of use:

[PoMS Terms of Use v1.docx](https://github.com/BiologicalRecordsCentre/PoMS/files/6109141/PoMS.Terms.of.Use.v1.docx)

I have given the URL for this policy as:
http://ukpoms.org.uk/terms

[2021-03-09 14:48] BirenRathod commented on #2
@DavidRoy  & @kitenetter Terms of use and privacy pages have been added.

[2021-03-10 10:29] andrewvanbreda commented on #11
Hi @kazlauskis ,

Just trying to setup the website so it will work with app data.
However I have run into a problem.

To show app data on the website, I need to add your survey 641 to the survey filter on the website data grids.
So my data grids will show data from surveys 636,637,638,641 in total

However in the Warehouse survey 641 currently points to a website called Fit Count which is website

[2021-03-10 10:35] kazlauskis commented on #11
Yes, site `134` is the "headless" website dedicated to the app user accounts.

@johnvanbreda @DavidRoy can you advise us on the data sharing options?

[2021-03-10 10:55] DavidRoy commented on #11
@kazlauskis we concluded that it is best to have everything under website .id =136.  Is this a major headache for you!

[2021-03-10 11:39] kazlauskis commented on #11
@johnvanbreda do you know if using our new JWT authentication the warehouse will accept a record for a survey that belongs to a different website than the website in the token (in the `iss` claim)?

[2021-03-10 12:31] CCarvell commented on #19
@kitenetter @BirenRathod sorry to come to this late - thanks for the photos Martin!
It would be great if we could please use the two images of Nadine's that have been used a lot for PoMS to date, to keep some recognisable identity. These are the versions that I have saved - some are also on here:
https://drive.google.com/drive/folders/13FETxdP-UVEYK8D027d0tA7It8D6tOrH

Are these of suitable size?

[2021-03-10 12:46] CCarvell opened #25 "Website colour themes"
@BirenRathod David has suggested that you might be able to edit the colours on the current PoMS web pages.
I would like it to stand apart from UKBMS and NPMS if possible, and also mirror some of the look and feel of the FIT Count app, but bear in mind that we will work with Steve Dixon to improve the design interface after the initial soft launch.
Could the current dark navy blue (as per UKBMS) be

[2021-03-10 12:51] johnvanbreda commented on #11
@kazlauskis At the moment, the code will overwrite any website ID with the one in the iss claim. But, if the scope is set to editing, then we could change the code to only do this if the website ID is not provided, otherwise it will accept the one in the occurrence's values as long as the website can be edited (according to the website sharing agreements).

[2021-03-10 14:22] kazlauskis commented on #25
Primary colour (purple): `#ba107a`
Secondary colour (orange): `#f4a901`

[2021-03-10 14:24] BirenRathod commented on #25
@kazlauskis Thanks for that. I have already implemented that.

[2021-03-10 14:27] BirenRathod commented on #19
@CCarvell
Thanks for images. I have uploaded those images. you need to clear the cookies from your browser to see those changes.

[2021-03-10 14:28] BirenRathod commented on #25
@CCarvell Also, I have implemented the color scheme through out the website. See if anything missing or noticed on it.

[2021-03-10 14:28] kitenetter opened #26 "Problem creating account on test website"
I think I've created an account but got an error message about the confirmation email:

![image](https://user-images.githubusercontent.com/16039111/110644116-af47ac00-81ac-11eb-88fc-0e4eccbdbd9d.png)

So I haven't been able to set a password.

Not sure if this is something for @BirenRathod or @andrewvanbreda ?

[2021-03-10 14:31] BirenRathod commented on #26
@kitenetter I will check that. Also, I made you and admin. Do you have password or shall I reset it?

[2021-03-10 14:33] kitenetter commented on #26
I don't have the password, so please reset it and let me know.

[2021-03-10 14:34] kazlauskis commented on #11
Thanks, yeah we could change the warehouse code (and the Drupal scopes) to use the sharing agreements to allow **write** data to other sites.

@DavidRoy given the time we have left, what's the reason that we don't use the sharing agreements to **read** the data from the "headless" website?

[2021-03-10 14:44] kitenetter commented on #26
@andrewvanbreda has now sent me a password (apologies for confusion between this issue and a separate email thread!)

[2021-03-10 14:51] andrewvanbreda commented on #26
Yes it is the emails on the site not working, not limited to the registration.

[2021-03-10 14:51] BirenRathod commented on #26
@kitenetter  & @andrewvanbreda Unable to send email problem has been resolved now.

[2021-03-10 15:01] kitenetter commented on #26
I think we can close this.

[2021-03-10 15:01] #26 closed, assigned to nobody

[2021-03-10 15:04] kitenetter commented on #20
Have started adding content to the test website, will track progress via new issues. Closing this one.

[2021-03-10 15:04] #20 closed, assigned to kitenetter

[2021-03-10 15:04] kitenetter commented on #2
I think we can close this.

[2021-03-10 15:04] #2 closed, assigned to BirenRathod

[2021-03-10 15:13] kitenetter commented on #4
Home page text now added to the existing home page.

I have not added any of the partner logos. Will these be added to the footer strip? I will supply logos to @BirenRathod

As yet we don't have many controls in place for positioning and resizing images, e.g. I don't think I can control the text buffer around the image.

[Ignore my previous comment about not knowing how to set the page to be the h

[2021-03-10 15:22] andrewvanbreda commented on #11
@DavidRoy @kazlauskis
Hi Karolis,
Had a meeting with David, Claire and Martin this morning.
I will be summarising (in a very short document) the current plan regarding the project structure and this will give you the opportunity to put arguments for any changes. Will try to get this to you by tomorrow.

[2021-03-10 15:27] BirenRathod commented on #4
@kitenetter please pass it to me.  I will config the test bit, so you will be able to. actually for home page you just need to add  /home in the url and that is it.

[2021-03-10 15:50] kitenetter commented on #4
@BirenRathod I have now edited the existing home page rather than trying to create a new one so I think all is well. Sorry for confusion.

[2021-03-10 15:56] BirenRathod commented on #4
@kitenetter No problem. I think Andy has already created one. no need to take action.
Also, on the home page, click on edit tab, if you right click on image, it will show you "image property" which shows caption checkbox, once you select and close the popup window , it will show text editor below the image where you can add label.

[2021-03-10 16:04] BirenRathod commented on #4
@kitenetter If you add images through insert text box appears below the text editor,  it will allow you use zoom in feature too.

[2021-03-10 16:04] kitenetter opened #27 "Use of logos"
How should we handle logos on the website, do we need to show all partners and all funders? I assume we do, and the options for displaying them include:
1. Full set of clickable individual logos in the pink footer bar on all pages
2. Full set of clickable individual logos in the pink footer bar on home page only (and/or on the About page)
3. Static graphics on the home page only (and/or on the Abo

[2021-03-10 16:07] kitenetter commented on #27
For comparison, UKBMS has all logos in the footer on all pages (but only has four logos).

NPMS has nine clickable logos on the home page, but only has NPMS itself in the footer, so on most pages it is only the NPMS logo that is displayed.

[2021-03-10 16:19] kitenetter commented on #4
Thanks @BirenRathod but as usual I find the standard Drupal image options rather limiting. If I use the "Add a new file" option at the foot of the page it doesn't allow me to add alternative text to the image (as far as I can see).

The text on the page runs right up to the image, and we need to enable a buffer around the image. But perhaps that is something that can be tackled when we get to the

[2021-03-10 16:35] BirenRathod commented on #4
@kitenetter I enabled the alternative text now. Sorry which text runs right up to the image?

[2021-03-10 16:52] kitenetter opened #28 "Web page: About PoMS"
Web page now drafted at:
https://test-ceh-poms.pantheonsite.io/about

I have added the logos as static images, but we may need to change that, see #27. At the moment I only have logos on white backgrounds so they don't look very good on the shaded page.

@CCarvell to check that this text is up to date.

@BirenRathod I have tried to set this page up as a submenu item under the "Home" main menu, and

[2021-03-10 16:53] kitenetter commented on #27
Discovered that I can tag @CCarvell but cannot assign tasks to her.

[2021-03-10 16:56] BirenRathod commented on #28
@kitenetter Can you see now?

[2021-03-10 17:05] kitenetter commented on #28
Yes, thanks @BirenRathod the menu is now working on the Home page.

[2021-03-10 17:23] kitenetter commented on #4
@BirenRathod thanks for the alt text, that's fine now.

Images don't seem to have much if any buffer, e.g. on the Home page the right-hand side of the text runs up very close to the image:

![image](https://user-images.githubusercontent.com/16039111/110670318-2c7f1b00-81c5-11eb-8827-13b000d4ca1b.png)

In some of our Drupal websites (Drupal 7 ones I think) there is an image properties option that a

[2021-03-10 17:24] DavidRoy commented on #27
@CCarvell needs to accept her invite....sent several days ago ;-)

[2021-03-10 17:36] kitenetter commented on #28
@BirenRathod I've hit the same menu problem again. I've added a top-level menu "Taking part" but from the home page it is not displaing the sub-menu "FIT Counts". Can you let me know what I need to do to make these menus work - the same situation will arise with a few more menus to add.

[2021-03-10 17:36] BirenRathod commented on #4
@kitenetter I added spaces for images. Most of those Drupal 7's features have now gone. They are not ideal to use with responsive theme, so discontinue now.

[2021-03-10 17:39] kitenetter opened #29 "Enable PDFs to be uploaded to Basic pages"
Please can we add a PDF upload option to the Basic page content type.

[2021-03-10 17:41] BirenRathod commented on #28
@kitenetter It is now displaying the submenu. Well, you need me to that magic. :). you just need to check  "show as expanded" checkbox of the parent menu item.

[2021-03-10 17:45] kitenetter commented on #28
Thanks @BirenRathod
There are plenty of places where I need your magic, don't worry about that!

[2021-03-10 17:47] BirenRathod commented on #29
@kitenetter I added the pdf field now.

[2021-03-10 17:49] kitenetter commented on #29
Thanks - closing.

[2021-03-10 17:49] #29 closed, assigned to BirenRathod

[2021-03-10 20:50] andrewvanbreda commented on #11
@DavidRoy @kazlauskis
Here is that little overview, with a few notes on what to consider. Note this was originally written because my meeting with David/Martin/Claire had indicated there was some conversation regarding the current state of the project structure. I will email it to them too

I am actually quite easy regarding what the solution is, I think actually a lot of it depends on your view o

[2021-03-10 22:38] CCarvell commented on #27
Invite now accepted from Friday, apologies! Great work Martin thank you.

Logos - we do need to show all partner and all funder logos.

Can we try Option 2: Full set of clickable individual logos in the pink footer bar on home page and on the About page.
Also leave the links within the "Who we are" section".
For all other pages can we just have the PoMS logo in the pink footer bar, like NPMS?

Do

[2021-03-10 22:41] CCarvell commented on #19
@BirenRathod thanks - sorry but can you please tell me how to clear the cookies from my browser?!

[2021-03-10 22:53] CCarvell commented on #28
@kitenetter what's the best way for me to feedback comments on text? Edits in a separate Issue?

I think we should have a short section within the About PoMS page that links to each of the National Pollinator Strategies for Defra, WG, SG and Daera. They would each need to be referred to correctly by name!
Something like
"PoMS aims to engage individuals and communities in taking action for pollinat

[2021-03-11 08:29] BirenRathod commented on #19
@CCarvell On Chrome, you can click on three dots at top right hand corner -> More tools -> clear browsing data.  There will be popup windows appears showing options selected. This depends on your browser settings. One important one to select checkbox is "Cached images and files" and press "Clear data" button.

[2021-03-11 08:42] DavidRoy commented on #19
@CCarvell you'll have to check that 'clear images' is also ticked

[2021-03-11 10:13] kitenetter commented on #28
@CCarvell I'm happy to pick up edits from you in whatever form is easiest for you to provide them - via github is fine, or in an email or Word doc. Will add the pollinator strategies in now.

[2021-03-11 10:26] kazlauskis commented on #11
Thanks, I agree, there are multiple ways around this.

Having a sharing agreement between the 134 and 136 sites would work well from my perspective. My favourite option.

Each website having it's own warehouse ID sounds more 'correct' to me though I haven't done sharing agreements so I am not sure what that involves.

Yes, but the other way round. With the current authentication set up the PoMS si

[2021-03-11 10:58] kitenetter opened #30 "Website images"
When using the Image upload options from the foot of the Basic page, it is not possible to add a caption before inserting the image.

After inserting the image, it is possible to tick a box to add the caption, but if I do that it loses the link to the previously uploaded image and I have to upload it again, which then loses the settings previously chosen for the original upload.

Can we add the ab

[2021-03-11 11:01] BirenRathod commented on #30
@kitenetter Please select "Basic html" from below text editor which should work. meanwhile I will sort out this problem for full HTML.

[2021-03-11 12:06] kitenetter opened #31 "Contact form for PoMS"
We need to provide a contact form. This could be a standard contact form based on a user account.

The contact form needs to go to poms@ceh.ac.uk

That email address is currently registered to the "admin" account.

The "PoMS support" account is registered to my own CEH account.

In some ways it would be best if the "PoMS support" account was seen as the main contact point for PoMS, and for that ac

[2021-03-11 12:13] BirenRathod commented on #31
@kitenetter
If you want to use poms@ceh.ac.uk for PoMS support, I can change admin to email to one of mine as I need for login purpose & drupal update purpose.
Also, you can use poms@ceh.ac.uk for contact forms.

[2021-03-11 12:15] BirenRathod commented on #31
or best we could use brc@ email address.

[2021-03-11 12:24] kitenetter commented on #31
@BirenRathod if you are happy to use the brc@ address then let's do that. Is it okay for me to edit the email for the admin account or do you want to do that?

[2021-03-11 12:57] BirenRathod commented on #31
@kitenetter I done it as it has required an admin password.

[2021-03-11 13:48] andrewvanbreda commented on #11
Hi all,

My current thinking is perhaps option 1 might be best (although am happy to be persuaded otherwise).

I think several reasons for this

- It is good for Karolis

- Having to spoken to John the other day, I don't think there are any particular disadvantages to use the one website ID for the websites themselves.

- Also perhaps it is an elegant solution because if the app is being used in s

[2021-03-11 13:58] DavidRoy commented on #11
thanks for all the thinking on this. I'm happy to go with option 1 and I'll setup the website agreement

[2021-03-11 14:26] andrewvanbreda opened #32 "Keep Welsh page versions up to date"
AVB note to myself: When updating pages, make sure the Welsh version is updated with same changes.

[2021-03-11 16:15] andrewvanbreda commented on #10
@BirenRathod
Hi Biren,

Are you able to send me these results from the live Warehouse please. Thanks

select image_path from indicia.cache_termlists_terms where termlist_id = 669;

select image_path from indicia.termlists_terms where termlist_id = 669;

[2021-03-11 16:26] BirenRathod commented on #10
@andrewvanbreda
First query should be like this
select preferred_image_path from indicia.cache_termlists_terms where termlist_id = 669;

Below are the results.
[FItCount_Image.zip](https://github.com/BiologicalRecordsCentre/PoMS/files/6124444/FItCount_Image.zip)

[2021-03-11 16:50] andrewvanbreda commented on #10
@BirenRathod
Thanks Biren,

Image_path worked ok on my machine, but don't think it matters, preferred_image_path should be equivalent for purposes of my test.

Um........that result is interesting, as the images are not in the cache_table.
How often do scheduled_tasks run on live?
Are you still getting that same result after scheduled_tasks have run?

Thanks
Andy

[2021-03-11 17:02] DavidRoy commented on #10
Note that the work_queue has a lot of jobs at the moment as we doing some big imports...

[2021-03-11 17:05] andrewvanbreda commented on #10
@DavidRoy Thanks for the note. @BirenRathod Probably not worth rerunning those now, will revisit this tomorrow.

[2021-03-11 17:14] CCarvell opened #33 "Data downloads for individual users"
To confirm that individual users will be able to access their own FIT Count data to download in csv format.
This would allow groups of individuals, if they wish, to come together to pool their counts if part of a project where they want to view a set of counts collectively (e.g. to compare with national averages or to compare between their own sites or years). Examples who may want to use the app/

[2021-03-11 17:27] DavidRoy commented on #33
These are two different requirements.
For user download - this is requirement for the initial website development

I suggest the second (organisational/group) requirement is a separate (much more complex) issue

[2021-03-11 17:37] CCarvell commented on #33
David, I am not yet talking about the organisational/group requirement. The above relates to one requirement for individual users.
What I am suggesting is that if a group of users want to _pool their own counts_ (ie. download them as individuals when logged into their own accounts, then compile a set of counts offline, in their own time and without additional input from PoMS) then the system would

[2021-03-11 17:41] CCarvell commented on #33
@DavidRoy the RSPB/ Buglife project at Hope Farm is another example - if submitting counts via the app, and wanting to provide feedback to the farmer/s, they would have to download separately each relevant count and summarise the data themselves.

[2021-03-11 18:32] CCarvell opened #34 "How-to videos within website x3"
Note NEW videos have been prepared in English and Welsh - Claire to get Paulette to upload to YouTube and provide the new links.
Martin? to embed within webpages and/or provide Welsh versions to Andy/ Elen?

[2021-03-11 18:53] kitenetter commented on #34
That is fine. The current videos can stay there as placeholders, and any text surrounding them can be translated. The new videos will just require an edit to the links, and can be updated as soon as available.

Note that we also have the 2020 webinar video which won't be available in translation, and is presumably best edited out of the Welsh version of this page:
https://test-ceh-poms.pantheonsit

[2021-03-11 19:00] CCarvell opened #35 "Webpage text edits for Martin (using bold to highlight changes) v1"
**Home page:**
Under Choose an Activity:
Adopt a 1 km square and help us carry out a systematic survey of **insects and flowers**

**Latest news**:
Fine as is. We may be required to add gov links x4 for covid restrictions - and we may also need to continue to update the covid statement on the current UKCEH webpage IF we are only doing a Beta launch of the new website on 1st April.

**About PoMS**

[2021-03-11 20:00] andrewvanbreda commented on #16
@kitenetter @DavidRoy
I have put this on one line so looks better than it did.

However, can you let me know where you want this to go on the page asthat will need a little work as will need to create a new theme region for it to go in (otherwise it does funny things like appear on top of menus).
I don't want to do that then find it isn't in the place you want.

[2021-03-11 20:03] BirenRathod commented on #10
@andrewvanbreda I just checked both have got same results, no need to run scheduled tasks.

[2021-03-11 20:07] andrewvanbreda commented on #10
@BirenRathod Thanks Biren. Ok will look into this tomorrow. I noticed actually editing these terms in the Warehouse UI is resulting in an error, so might relate to what we are seeing here.

[2021-03-11 20:11] DavidRoy commented on #16
@andrewvanbreda better but I think it should be top right, like this on https://butterfly-monitoring.net/....
![image](https://user-images.githubusercontent.com/2699478/110848350-e6e64f00-82a5-11eb-9b39-f6ad80b3204a.png)

[2021-03-11 20:32] andrewvanbreda commented on #16
@DavidRoy
Ok thanks. Yes I realise it can't stay where it is.

[2021-03-11 20:49] andrewvanbreda commented on #16
Hi @BirenRathod

Need to get the Language Switcher to be in the top-right position like the butterfly monitoring.

In order to do this I think I need to create an extra region call Top Sidebar that is present on the butterfly site but not PoMS.
Trying to read about this on the internet, from what I can work out, the regions are defined in a .info.yml file in the theme folder.
Is this configuration

[2021-03-11 20:54] kitenetter commented on #4
@CCarvell I have added some covid text to the home page, based on the text used by BBCT. Are you happy for this to go ahead for translation or will it need clearance by our funders?
https://test-ceh-poms.pantheonsite.io/home

[2021-03-11 21:40] kitenetter commented on #35
Those edits done.

[2021-03-11 23:12] CCarvell commented on #4
Please await funder/ Team approval of the covid guidance (as per email just sent ) before getting this translated

[2021-03-11 23:17] kitenetter opened #36 "Indicia recording forms - recorder name"
The recording forms are using the iRecord default format of presenting the recorder name as "surname, forename". We would prefer to change this to "forename surname".

A similar change is planned for iRecord itself, see background here:
https://github.com/BiologicalRecordsCentre/iRecord/issues/1027

[2021-03-11 23:32] kitenetter opened #37 "Indicia forms - FIT Count form"
Proposals to simplfy form - please can @CCarvell approve or not:

1. Remove the "how did you hear about" question (for reasons discussed for the app)
2. Remove the two user experience questions at the end ("Taking part was ...", "Carrying out was ...") (as they become repetetive for regular recorders, and we could capture similar feedback from a user questionnaire)
3. Remove the "Permission to con

[2021-03-11 23:42] kitenetter opened #38 "User registration form"
(Andy: please reassign to Biren if this is something that he needs to do.)

Remove the "Picture" upload option (not needed).

Remove the "Personal contact form" option (not needed).

Hide the "Indicia Warehouse User ID" so that the user is not presented with a box to fill in.

Remove "PoMS Survey Hear".

Add a mandatory question:
- I am happy for you to contact me in connection with PoMS: yes/no

[2021-03-11 23:47] kitenetter opened #39 "Log-in page"
On:
https://test-ceh-poms.pantheonsite.io/user/login

Change first box so that it allows either a user name or an email address.

[2021-03-11 23:59] kitenetter opened #40 "Indicia page - Edit FIT Counts"
This applies to:
- https://test-ceh-poms.pantheonsite.io/node/11

This page should only be available to admins, who may need to edit any of the counts. (Users can edit their own counts via the "My records" page.)

Ideally, the columns to display are:
- Record ID
- Date
- Location
- Habitat
- Target Flower
- Photo of target flower
- Total number of insects

(If we can implement elastic for this pag

[2021-03-12 00:01] kitenetter opened #41 "Question - editing app records"
Will it be possible for website users (and admins) to edit records that were added via the app?

I'm guessing that this will need a custom editing form for the app records, as the app survey structure is slightly different to the website survey structure.

[2021-03-12 07:56] BirenRathod commented on #16
@andrewvanbreda
I added top bar on butterfly while ago and on fit count about two days ago. So same again I have added on PoMS today.

[2021-03-12 08:31] andrewvanbreda commented on #38
Hi @kitenetter
Yes I am aware of some of these issues, although the detail of exactly what you want is useful.
The naming of the "PoMS Survey Hear" field is actually deliberate at the moment to try to get it to sync with the Warehouse.

[2021-03-12 08:32] andrewvanbreda commented on #39
@BirenRathod
Are you able to install the Drupal module needed for this

[2021-03-12 08:35] andrewvanbreda commented on #41
@kitenetter
Yes there is going to be a duplicate entry Public FIT Count page which will point to the same survey as the app.
I created the page, however I cannot finish setting it up as the data agreements aren't in place yet (or weren't last time I looked)

[2021-03-12 08:44] BirenRathod commented on #39
@andrewvanbreda Already installed called "Login with email or username"

[2021-03-12 08:56] andrewvanbreda commented on #39
@BirenRathod Ah ok, thanks. I will enable that when I get a sec later

[2021-03-12 09:23] DavidRoy commented on #41
@andrewvanbreda the agreements should now be in place
- agreement = 'Pollinator FIT Counts' setup on 134
- joining agreement = 'Pollinator Monitoring Scheme' joining agreement = 'Pollinator FIT Counts'

Let me know if this doesn't give you what you need

[2021-03-12 09:47] andrewvanbreda commented on #41
@DavidRoy Thanks I will check this right now and let you know how I get on

[2021-03-12 09:51] andrewvanbreda commented on #41
@DavidRoy Um.........I am going to speak to John about this as I can see some challenges with the way this is working. Will get back to you as soon as I have managed to have that conversation. By that I mean some problems that having an agreement might not be able to overcome.

[2021-03-12 09:52] CCarvell commented on #37
Agree with all 3 proposals, thank you Martin.

Can you find an appropriate place to flag the opportunity to add photos of examples of insects seen, as we discussed by email?

[2021-03-12 09:53] DavidRoy commented on #41
ask John if the agreements are setup correctly as I did them

[2021-03-12 10:12] andrewvanbreda commented on #41
@DavidRoy Will do, the questions I have actually go beyond whether it is setup correctly, more generally a limitation there may be regarding having the app assigned to website 134 that I hadn't previously thought of.
The question is whether the app data entry editing form on the website will recognise a sharing agreement when the survey is selected for the form. Currently I am still unable to sele

[2021-03-12 10:17] DavidRoy commented on #41
yes, I'm unclear on this too.

[2021-03-12 10:18] kitenetter commented on #27
Info from Paulette on what we need from partners/funders:
"It will depend on the colours within each specific logo if you need whiteout versions or not, but you will need transparent for all of them and should ask for png versions."

I will start contacting partners/funders for suitable logos.

@BirenRathod Can you set up the PoMS logo so that it appears in the pink footer bar for every page? Here

[2021-03-12 10:20] andrewvanbreda commented on #16
@BirenRathod
Thanks Biren. That looks really good now. I think as the flag icons are a bit bigger now I will try and add some higher resolution ones at some point, but I don't think this issue needs to be left open anymore.

[2021-03-12 10:20] #16 closed, assigned to BirenRathod

[2021-03-12 10:26] andrewvanbreda commented on #39
Done and tested

[2021-03-12 10:26] #39 closed, assigned to BirenRathod

[2021-03-12 10:29] BirenRathod commented on #16
@andrewvanbreda No problem. When ever you get chance please update the welsh flag to higher resolution one.

[2021-03-12 11:32] andrewvanbreda commented on #41
@DavidRoy @kitenetter
I have spoken to John about this. I think there were two conclusions from the conversation.

1. In theory we should be fine, actually the situation is simpler than I thought. As the agreement is in place, app records should be editable on a data entry form that is using the non-app survey. So I don't need to select the app survey when setting up the data entry form.

2. The a

[2021-03-12 11:41] andrewvanbreda opened #42 "ElasticSearch - possible issues"
I still have some issues that is stopping me pushing forward with Elastic Search.

Some of this is related to the more limited capabilities for reporting. However I think there are two problems which I need your thoughts on

1. Currently Elastic Search doesn't currently return empty samples. Have you any thoughts on the acceptability of this. I am not sure a simple fix is available, but John said

[2021-03-12 12:02] kitenetter commented on #27
Given time constraints at the moment, I've used a stopgap measure, which is to add all partner and funder logos as a static image on the Home and About pages.

I suggest we revisit this when it is possible to get Steve Dixon involved with the design. I will obtain copies of logos from partners/funders in preparation for that.

@BirenRathod if you can add the white-out PoMS logo to the footer for a

[2021-03-12 12:33] BirenRathod commented on #27
@kitenetter I have added white logo of POMs on the footer. Also added copyright text and links of terms use & privacy aligned.

@kitenetter  I can set up the clickable logo footer for home & about page. if you want me to do that, I can go ahead and do that.

[2021-03-12 13:04] DavidRoy commented on #27
@kitenetter I've been thinking whether the main PoMs logo top-right should be smaller?  Also it could and in the same pink colour as other parts of the site

[2021-03-12 13:18] kitenetter commented on #27
@DavidRoy do you mean top-left? If so I agree it could be smaller and it would be good if the top white strip was less deep. Not sure about the colour but have no objection to using the dark pink.

[2021-03-12 13:21] DavidRoy commented on #27
@kitenetter yes, I meant top left, sorry!
@BirenRathod can you reduce the size of the main PoMs logo by 50%

@CCarvell do you have a view on dark pink or black for main top-left logo?

[2021-03-12 13:23] kitenetter commented on #42
**Empty samples**
Ideally we do need the reports to display samples that have zero occurrences, because we want to encourage people to submit results even if they don't see any insects, and if the resulting empty sample is not displayed people think the system isn't working.

I thought this had been resolved for the NPMS site, but not sure if that was using ES or not.

**Unreleased records**
There

[2021-03-12 13:25] andrewvanbreda commented on #36
Changed

[2021-03-12 13:25] #36 closed, assigned to andrewvanbreda

[2021-03-12 13:26] DavidRoy commented on #42
@andrewvanbreda I thought this might be an issue.  I suggest you switch to PostGres queries for the reports for PoMs.  Longer term we need to extend the ElasticSearch Index to include samples with no occurrences

[2021-03-12 13:43] andrewvanbreda commented on #42
@DavidRoy @kitenetter
As far as unreleased is concerned, that is fine, I will remove the configuration that is doing that on the data entry forms.
Yes, will really push ahead now with doing those postgres queries, we can gradually replace with Elastic in future.
NPMS does allow zero abundance, but doesn't use Elastic Search. Elastic Search isn't very suitable for NPMS anyway as their is so much lo

[2021-03-12 13:55] kitenetter commented on #41
@andrewvanbreda the attributes used by the app survey are all present in the website survey in terms of their meaning, but for some of them the app uses a different attribute ID for the same attribute:

**attribute | website_attr_id | app_attr_id**
Flower context | smpAttr:fk_1055 or smpAttr:1055 | smpAttr:fk_1543 or smpAttr:1543
Flower cover within quadrat   (PoMS) | smpAttr:fk_1052 or smpAttr:10

[2021-03-12 13:58] #42 closed, assigned to DavidRoy, kitenetter

[2021-03-12 14:01] andrewvanbreda commented on #41
@kitenetter
Thanks for this information. So yes two forms will be required which isn't a problem in itself. I think I would have to progress this further before commenting any further. Will let you know how I get on.

[2021-03-12 14:06] kitenetter commented on #37
@andrewvanbreda we can remove the attributes from the recording form as listed in points 1-3 above. The attributes should stay in the survey (to hold the data collected in previous years) but can be removed from the form.

[2021-03-12 14:07] kitenetter commented on #35
Closing this issue for now - if there are further edits please re-open (or add a new issue).

[2021-03-12 14:07] #35 closed, assigned to nobody

[2021-03-12 14:13] kitenetter commented on #33
@andrewvanbreda as per above, we need to enable users to download the data for the public FIT Counts they have contributed. I have a nasty feeling that wasn't in our original specification documentation.

I don't think we need to enable users to download data from the 1km surveys, certainly not in the intial version of the website.

In the specification we do have "A1.5 Data download function" to

[2021-03-12 14:16] kitenetter commented on #31
Contact form now set up:
https://test-ceh-poms.pantheonsite.io/user/12/contact

We will presumably need to check which user ID needs to be allocated to this when the website moves from test to live.

Closing for now.

[2021-03-12 14:16] #31 closed, assigned to nobody

[2021-03-12 14:17] kitenetter commented on #30
I think this is now working - thanks @BirenRathod

Closing.

[2021-03-12 14:17] #30 closed, assigned to BirenRathod

[2021-03-12 14:18] kitenetter commented on #28
Closing

[2021-03-12 14:18] #28 closed, assigned to nobody

[2021-03-12 14:19] kitenetter commented on #19
I think we have now dealt with the photos - closing.

[2021-03-12 14:19] #19 closed, assigned to BirenRathod, kitenetter

[2021-03-12 14:19] kitenetter commented on #18
Closing.

[2021-03-12 14:19] #18 closed, assigned to BirenRathod, kitenetter

[2021-03-12 14:21] kitenetter commented on #4
We will need to make final confirmation of text for translation on Monday if we possibly can. The home page issues discussed above are now dealt with - closing.

[2021-03-12 14:21] #4 closed, assigned to nobody

[2021-03-12 14:32] kitenetter opened #43 "Indicia page - map of FIT Counts"
This applies to:
https://test-ceh-poms.pantheonsite.io/fit-counts-map

Ideally, the columns to display are:
- Date
- Location
- Habitat
- Target Flower
- Photo of target flower
- Total number of insects

If possible, it would be good to show both the public and the 1 km FIT Counts on this single map, but the public counts are the priority.

If possible, it would be good to have filter boxes at the

[2021-03-12 14:40] kitenetter commented on #10
@andrewvanbreda I expect this is on your list already, but the attributes for First name, Last name and Email should only appear if the user is not logged in.

In you comment [above](https://github.com/BiologicalRecordsCentre/PoMS/issues/10#issuecomment-789716674), point 6 is not needed for the FIT Count forms, it is a request for the 1 km survey form (where we would ideally like to be able to pop

[2021-03-12 14:40] kazlauskis commented on #41
I can add **Recorder Name** attribute to the `v1`.

The reason the app uses different attribute IDs is because the PoMS ones weren't shared to other sites. If you prefer me to reuse the same IDs then I can toggle **Available to other Websites** to the PoMS attributes and reuse those in the app.

[2021-03-12 14:45] BirenRathod commented on #27
@DavidRoy , @kitenetter PoMs logo has been reduced in size.

[2021-03-12 14:49] kitenetter commented on #40
Have added "photo of target flower" to the above list.

[2021-03-12 14:58] kitenetter opened #44 "Indicia page - My FIT Counts"
This applies to:
https://test-ceh-poms.pantheonsite.io/my-counts

Ideally, the columns to display are:
- ID
- Date
- Location
- Habitat
- Target Flower
- Photo of target flower
- Total number of insects

If possible, it would be good to have filter boxes at the top of the columns.

This page is currently showing all counts, needs to filter for just my counts.

This page currently has the standard

[2021-03-12 14:59] kitenetter commented on #43
This page currently has the standard iRecord tools for "Create a filter" but few of these are relevant to PoMS, and the column-head filter boxes will be sufficient. Otherwise we will have to make a lot of change to the "Create a filter" tools.

[2021-03-12 15:23] andrewvanbreda commented on #41
@kazlauskis
Yes I certainly think it would make it more elegant if we are able to do that now, espiecially for all the reports not to having  to take into account loads of other attributes. If you can, that would definitely be the way to go.
I assume there isn't any existing data that use those other attributes? (because we never had an app before)

[2021-03-12 15:32] andrewvanbreda commented on #43
@kitenetter
Yes that is fine, I have been too distracted with various things to work on this yet. Will be doing that over the weekend. Thanks for the note though

[2021-03-12 15:37] kazlauskis commented on #41
Thanks, I'll switch to website attributes then.

[2021-03-12 15:49] kitenetter opened #45 "Latest news"
Add a block to the home page to display headlines from Latest news articles:
https://test-ceh-poms.pantheonsite.io/news

In the articles themselves:
- Remove the "Submitted by" details
- Keep the date, but make it into a UK-format date (dd mmm yyyy)

[2021-03-12 15:58] kazlauskis commented on #41
I've done this now. This is the list of all common attributes shared between the website and app surveys:

<img width="284" alt="Screenshot 2021-03-12 at 15 55 16" src="https://user-images.githubusercontent.com/7383162/110964821-83166180-834b-11eb-9864-a5f75dcede6a.png">
<img width="199" alt="Screenshot 2021-03-12 at 15 56 21" src="https://user-images.githubusercontent.com/7383162/110964830-86a9e8

[2021-03-12 16:14] andrewvanbreda opened #46 "Termlists require translation"
A note to say I just thought of something.
The terms in the data entry form termlists will need translating and these won't be exported by Drupal/Transifex, the translations need adding to the Warehouse.
You may need to let me know what the translations are, then I can add them to the Warehouse.

[2021-03-12 16:30] andrewvanbreda commented on #41
@kazlauskis Thanks for the clear overview

[2021-03-12 16:32] BirenRathod commented on #45
@kitenetter
I have added latest news block, removed "submitted by" on latest news page. Also I have added the twitter block on home page.
Date has implemented to UK format.

[2021-03-12 17:22] kitenetter commented on #45
Thanks @BirenRathod that's a great improvement.

[2021-03-12 17:22] #45 closed, assigned to BirenRathod

[2021-03-12 17:27] kitenetter commented on #46
Most of the terms should be available already in the Welsh version of the paper recording form - I will compile a list and see if we are missing anything.

[2021-03-14 19:05] andrewvanbreda commented on #43
@BirenRathod
Hi Biren,

I have done an initial version of this report that has now been commits into indicia-reports, PoMS.
Two reports are

fit_counts.xml
fit_counts_mapping.xml

Can you pull these onto Live Warehouse please

Thanks

[2021-03-14 19:07] andrewvanbreda commented on #44
This page can use the same report I have created for FIT Counts

[2021-03-14 19:08] andrewvanbreda commented on #40
Again, I think this will be able to use the report I have committed this evening

[2021-03-15 08:25] BirenRathod commented on #43
@andrewvanbreda
I have pulled those reports on to live warehouse now.

[2021-03-15 08:28] andrewvanbreda commented on #43
@BirenRathod
Thanks Biren, will take a look this morning

[2021-03-15 09:44] CCarvell opened #47 "Typo in 2nd para Home page - remove 'more' on Latest news - then all Home page links signed off"
Home page
There is one typo to correct in the second parargraph under "Welcome to... PoMS"

"and keep up with _our_ latest news. - not _out_ latest news"

Latest News
Check the link within last sentence "Contact us"
After this there is an erroneous "more" that should be removed?

Otherwise I think we can sign off the Home page and all 3 pages linked with it for translation.

I will move onto the n

[2021-03-15 10:17] kitenetter commented on #47
Home page corrected.

We'll need the "more" option once we have lots of news, but I've switched it off for now.

The "Contact us" link is working for people logged in as admins, but not yet for others. I think @andrewvanbreda is working on the user permissions that will sort this out.

The contact form is at:
https://test-ceh-poms.pantheonsite.io/user/12/contact

and looks like this:
![image](http

[2021-03-15 11:11] andrewvanbreda commented on #47
Hi kitenetter,

Not sure what has happened in regards to the setup of this, but this is not quite right as that is not the site contact form. I think that is a personal contact form for the PoMS Support user account.

The URL of the site contact form is here and is could be accessed by unregistered users if you setup a link to it wherever you want it.
https://test-ceh-poms.pantheonsite.io/contact/

[2021-03-15 11:21] kitenetter commented on #47
Thanks @andrewvanbreda - that's my ignorance, I didn't realise we had a site contact form and had set up the user one instead. I will change the links.

Does the site contact form go to poms@ceh.ac.uk?

[2021-03-15 12:20] BirenRathod commented on #27
@kitenetter
I have added the reference logo footer on home page and about page. The only missing logo is welsh gov. If you have can you pass it to me.

Let me know about ref logo footer, if you need any amendments.

[2021-03-15 12:25] andrewvanbreda commented on #22
Postgres reports are now the primary development method, so closing this

[2021-03-15 12:25] #22 closed, assigned to andrewvanbreda

[2021-03-15 12:28] kitenetter commented on #27
Thanks @BirenRathod but the problem is that we do not have the correct set of logos available - the ones we have are a mix of transparent and white backgrounds and look rather messy on the shaded colour background. So I think we should leave them out of the footer for now.

@DavidRoy @CCarvell to confirm.

[2021-03-15 12:39] BirenRathod commented on #27
@kitenetter If the white background is the only concern, I can create the transparent, so they look identical. But I still need welsh logo.

[2021-03-15 12:43] andrewvanbreda commented on #43
@kitenetter @DavidRoy
Have put this on test site, also the My Counts page should be working.
I realise there are some things that need address still such as
- Default the year
- Setting the colours on the map depending on the counts
- Other enhancements
- General checking for any bugs

Could you let me know what colours you would like to use for the map in relation to counts.

AVB Edit: Note I am

[2021-03-15 12:55] BirenRathod commented on #27
@kitenetter They are all now without white background. Please clear the cookies from browser if can't see that.

[2021-03-15 13:04] CCarvell commented on #27
@BirenRathod I can see all the logos you have created with transparent background - thanks - but the University of Leeds is all white so doesn't look right. Attached is the version we have for PoMS.
![University of Leeds](https://user-images.githubusercontent.com/44494345/111157073-5bfba200-858e-11eb-9eeb-870bac845535.PNG)
Funders logos - attached is the Welsh Gov logo that we hold.
But I think we

[2021-03-15 13:08] BirenRathod commented on #27
Thanks, @CCarvell for providing both these logos, much needed.

Also, about current version is not totally clear of PoMS logo, Can you share some screenshot, so I can understand more clearly. I can't see any problem on my screen.

[2021-03-15 13:36] andrewvanbreda commented on #47
@kitenetter
Yes should do. Obviously we can give that a double-check and test

[2021-03-15 13:40] BirenRathod commented on #27
@kitenetter , @CCarvell All logos have been updated now.

[2021-03-15 18:32] andrewvanbreda commented on #7
Think this issue no longer needs to be open. Postgres reports are now primary development platform.
Use of Elastic Search is currently on hold because it does not currently return samples without any occurrences.

[2021-03-15 18:32] #7 closed, assigned to andrewvanbreda

[2021-03-15 18:42] andrewvanbreda commented on #8
Seems to be covered by a newer issue #38
So closing this

[2021-03-15 18:42] #8 closed, assigned to andrewvanbreda, DavidRoy

[2021-03-15 19:05] andrewvanbreda commented on #24
All 3 types of data entry form setup up with same configuration. Have checked this configuration is also present on both languages versions. Have also checked this is working on Map Of FIT Counts, other reports will work in same way so closing now.

[2021-03-15 19:05] #24 closed, assigned to andrewvanbreda

[2021-03-15 19:10] andrewvanbreda commented on #43
@kitenetter
Hi Martin,
I fixed the year. Let me know about the colours. I also fixed the Target Flower which was a bug (although this fix isn't on site yet).
However the Location not displaying is actually correct. This is has been automatically protected due to the Privacy Precision setting.
Let me know your thoughts on this? The name of the place won't get displayed because of that, an alternati

[2021-03-16 10:41] andrewvanbreda commented on #40
@kitenetter
Am now wondering actually if this should just be one grid for any type of record which can be selected for editing (not just 1km).
This would mean adding the survey to the record grid.
This might be a lot cleaner as I realised we were starting to get so many record grids.

[2021-03-16 12:19] andrewvanbreda opened #48 "Clarify best structure for existing records grids"
There are currently some issues with the number of different grids that are required for existing data (and then doubling this as there are English and Welsh versions)

Thoughts on a possible simplification of this?

Currently I added the following

"Select pan-trap samples....."  for Bycatch added to "Add your records" menu
"Select pan-trap samples....."  for insect species added to "Add your rec

[2021-03-16 12:23] andrewvanbreda commented on #44
These requirements have been basically been covered on this page, so will close this now so not too many issues open about grids.

[2021-03-16 12:23] #44 closed, assigned to andrewvanbreda

[2021-03-17 10:44] kitenetter commented on #48
**Menu structures**

The terminology needs some care, and here is what I've ended up doing:
- menu "Taking part" tells you what surveys PoMS runs, and how to do them
- menu "Add your results" will be where you go to add the results of your standard FIT Count, and if you are registered as a 1 km square volunteer you will also be able to add your 1 km square FIT Count and 1 km square pan-trap result

[2021-03-17 10:53] kitenetter opened #49 "FIT Count map tidying"
On this page:
https://test-ceh-poms.pantheonsite.io/fit-counts-map

Where we have:

![image](https://user-images.githubusercontent.com/16039111/111456362-cf2c2200-870e-11eb-9aea-0d5e65cdddaf.png)

Can we remove the "Report parameters" subheading, and replace the label "Filter" with "Apply year".

And move the filter button to the right of the year dropdown.

[2021-03-17 10:57] CCarvell commented on #48
@kitenetter I am happy with the menu structures you propoe above, agree we should use "results" not data

Probably not relevant, but in the "My results display, will the FIT Count samples that are shown definitely contain the name of the target flower chosen for each count?
Having the recorder name appear in the My results grid makes sense for people who many want to share and combine their counts

[2021-03-17 10:59] CCarvell commented on #49
Can I check whether the FIT Count map will have text alongside saying "XXX count submitted so far this year by XX participants"??
The number of participants is not critical .....
Sorry I can't view the draft map but can we also position the FIT Count logo alongside the map with the PoMS logo??

[2021-03-17 14:14] andrewvanbreda commented on #48
Hi @CCarvell @kitenetter

Using the term "results" is fine, I used "data" simply as a term that was more general than "counts" and was never intended to be the final term.

Yes the FIT Count Map showing all survey's will be fine I will change that. Very easy change.

In regards to the attributes
- The Target Flower is fixed in code, but that code hasn't been moved onto BRC's server yet.

- The Loc

[2021-03-17 14:17] andrewvanbreda commented on #49
@kitenetter @CCarvell
I haven't look at the enhancements required in the specification for this page yet, but I will do shortly. The button positions are automatically set by Indicia/Drupal theme, but will try to adjust or override that

[2021-03-17 17:53] CCarvell opened #50 "Text edits for Taking part and sub-pages"
A few edits for @kitenetter but otherwise signing off these pages for translation.

**Taking part**
under FIT Counts: change
"Choose a target flower and count all insects landing on it within ten minutes" to
"Choose a patch of target flowers and count all insects landing on them within ten minutes" - I'm still concerned about creating an image of the count being done on one single target flower.

[2021-03-17 18:03] kitenetter commented on #50
Thanks @CCarvell

**Taking part** and **1 km square survey**: edits done.

**FIT Counts**: I suggest we leave the poster text on for now so that it gets translated, but we can remove it before going live and put it back in when we have a new poster available.

It would be good to turn the ten steps into a more engaging image, but again we don't need to do that now, once the text is translated we c

[2021-03-17 19:17] CCarvell commented on #50
agreed @kitenetter thanks.
Are you OK to get these pages transferred to the relevant part of Transifex? Has Elen started translating the web pages now?

[2021-03-17 19:32] DavidRoy commented on #50
I've held off sending everything to Transifex as I think it's best for Elen to prioritise in the order:
FIT Count App
FIT Count website
PoMs website
 - home page
 - FIT count pages etc

But I will have a stock-take of 'signed off' website pages

[2021-03-18 11:53] andrewvanbreda commented on #49
"Filter" and "Apply year" label part of this has been changed. Still working on other bits

[2021-03-18 12:20] andrewvanbreda commented on #48
Hi @kitenetter @CCarvell,

I have been trying to deal with this this morning.
I have made quite a lot of changes to reports running on my own machine (so you won't see the changes yet)
However I think I should check some things before I commit.

Ultimately I will now use a different report for "my results" and "all results".
This will allow me to specify the location and detail spatial reference o

[2021-03-18 12:53] kitenetter commented on #48
Thanks Andy. I'm not sure what you mean by "all results", is that the FIT Count map?

1. Ideally it would be good to have recorder name in the "My results" grid, because some users will add results from more than one recorder. However, if that make the grid look too congested it could be left out.
2. In the "My results" grid the target flower is less important I think. It is needed for the FIT Cou

[2021-03-18 13:53] andrewvanbreda commented on #48
Hi @kitenetter
Thanks for responses.
I will implement these suggestions on my machine and let you know if I have further questions.
Sorry by "All Results" I meant the Fit Count Map (although this same report may end up driving the administrator equivalent page hence the general name). I said All Results because that is the filename I have given the report, obviously it slipped my mind you didn't k

[2021-03-19 14:59] andrewvanbreda commented on #48
@BirenRathod
I have written some new reports, are you about to pull these onto the Live Warehouse please. Obviously this is risk free at the moment as the project isn't live.
Thanks

indicia-reports/projects/PoMS/all_poms_results.xml
indicia-reports/projects/PoMS/all_poms_results_mapping.xml
indicia-reports/projects/PoMS/my_poms_results.xml
indicia-reports/projects/PoMS/my_poms_results_mapping.xml

[2021-03-19 15:05] BirenRathod commented on #48
@andrewvanbreda

Those reports have gone live now.

[2021-03-19 16:58] andrewvanbreda commented on #48
@BirenRathod
Thanks Biren.
Looks those changes are there fine as it says it can't find the old report which is what I am expecting.
Will configure over the weekend.
Cheers

[2021-03-19 18:07] CCarvell opened #51 "Edits for "Reports and newsletters" sub-page then signed off for translation"
Some edits for @kitenetter  but otherwise signing off this page for translation.

**Reports and newsletters**
I wonder if we can make the wording more generic so that it doesn't need updating and translating each time we add a new progress report/s or newsletter to the website. Simply list each output with a link to the pdf or Defra pages? Could we also add an image of the 2019 newsletter as below

[2021-03-19 18:08] CCarvell commented on #51
@kitenetter my screen grab of the newsletter front page didn't work, so not to worry if you can't get that shown.

[2021-03-19 18:13] CCarvell opened #52 "FAQs page signed off for translation"
No further edits to FAQs page! thanks @kitenetter

I would like to return to the "PoMS research" page with some additions but otherwise think we are nearly there.

[2021-03-19 18:31] kitenetter commented on #51
I agree it is good to simplify this page for future updating, thanks.

Those edits are done, and newsletter image added. Still to add links to PDF docs (but that shouldn't affect translation).

[2021-03-20 15:23] johnvanbreda commented on #23
For reference, I kept some notes last time I set this up:

Note in particular that the version of the Transifex module available for download is broken, but the one used in the ABLE/EBMS project should be OK.

[2021-03-21 15:52] andrewvanbreda commented on #49
@kitenetter @CCarvell
Hi, Sorry am slow to directly respond to some of the things mentioned here.
I have now written a new report, so the wording about counts and participants should be possible.

@CCarvell
In regards to "can we also position the FIT Count logo alongside the map with the PoMS logo??"
Am not entirely sure what you mean here as I can't see a FIT Count logo, are you able to clarify?.

[2021-03-21 21:19] andrewvanbreda commented on #48
@BirenRathod
Whenever you get chance I have made some alterations to reports for bug fixes and suggestions made by Martin/Claire in other threads, could you pull these reports onto live whenever you get chance (I have renamed them again also). Cheers

projects/PoMS/blurred_poms_results.xml
projects/PoMS/blurred_poms_results_mapping.xml
projects/PoMS/poms_results_in_detail.xml
projects/PoMS/poms_re

[2021-03-22 07:27] BirenRathod commented on #49
@andrewvanbreda You can upload logo from here -> https://github.com/BiologicalRecordsCentre/PoMS/issues/18

[2021-03-22 07:37] BirenRathod commented on #48
@andrewvanbreda I have pulled those reports on live warehouse now.

[2021-03-22 09:19] andrewvanbreda commented on #48
@BirenRathod
Thanks Biren,
Will configure those this morning

[2021-03-22 09:44] kitenetter commented on #49
@andrewvanbreda for the button let's label it "Apply filters". Happy to keep it underneath the other boxes if that makes sense for mobile use.

I've updated the text slightly at the top of the page to allow for there being more than one filter.

[2021-03-22 10:54] CCarvell commented on #49
Not sure if this helps, but this is the FIT Count logo used by the app.
@andrewvanbreda I understand your points about the main PoMS logo being controlled by the site, fine.
If there is a way of having the FIT Count logo alongside the map, great, but not absolutely essential for phase 1.
![FitCount_Logo_Positive](https://user-images.githubusercontent.com/44494345/111979482-0890d300-8afd-11eb-9922-

[2021-03-22 11:31] andrewvanbreda commented on #49
@CCarvell Yes I should be able to put this alongside the map, but will have to be low priority for now

[2021-03-22 12:11] DavidRoy opened #53 "Agree an overall menu design"
When logged out, the menu item appears with no sub-menu items and does nothing.

@kitenetter I'm not sure how you want this behave

[2021-03-22 12:14] DavidRoy opened #54 "pages lacking meaningful url"
https://test-ceh-poms.pantheonsite.io/node/6
https://test-ceh-poms.pantheonsite.io/node/7

@kitenetter do you want urls for these?

[2021-03-22 12:17] kitenetter commented on #54
Yes, I just haven't been prioritising the 1 km square pages. Will sort it out soon.

[2021-03-22 12:20] DavidRoy commented on #54
No rush. I'm just logging issues as i find them

[2021-03-22 12:22] DavidRoy opened #55 "Website pages sent to Transifex"
This is an issue to keep track of pages signed off and sent for translation.
@CCarvell @kitenetter. Please confirm order of priority for translation and which, if any, require sign off for translation

sent for translation
- [x] home page. https://test-ceh-poms.pantheonsite.io/
- [x] contact. https://test-ceh-poms.pantheonsite.io/contact
- [x] FAQs. https://test-ceh-poms.pantheonsite.io/faqs
- [x]

[2021-03-22 12:23] DavidRoy opened #56 "Website pages with Welsh translations complete"
This is an issue to keep track of pages where welsh translation is complete.  Links to #55

Translation done:
- [x] About PoMS https://test-ceh-poms.pantheonsite.io/about
- [x] FIT Count app https://test-ceh-poms.pantheonsite.io/fit-count-app
- [x] FAQs. https://test-ceh-poms.pantheonsite.io/faqs
- [x] taking part. https://test-ceh-poms.pantheonsite.io/taking-part
- [x] Species recording. https://

[2021-03-22 12:23] kitenetter commented on #53
I always find Drupal menu behaviour confusing.

We do want logged-out users to be able to add FIT Counts and see the FIT Counts map.

There is a similar issue with "View results" and "Reports and research", whereby the top-level menu item does not do anything.

@andrewvanbreda is there a 'best practice' way of dealing with this? Do I need to create new pages that will appear if people click on the

[2021-03-22 12:25] kitenetter commented on #54
Yes, sorry, I realise that, and probably didn't need to reply the first time! Please do continue logging them, it is helpful, and I will try to refrain from unhelpful replies :)

[2021-03-22 12:27] CCarvell commented on #55
thanks @DavidRoy
This is the main remaining page which I am expecting to edit and sign off this week:
Reports and research. PoMS research. https://test-ceh-poms.pantheonsite.io/research

All other core pages (that don't require authorised login) are signed off BUT I have not reviewed any of the results or report pages yet. Will aim to access in next 2 days. But @kitenetter should be the main revie

[2021-03-22 12:54] BirenRathod commented on #53
@kitenetter You don't need to create new pages. There is very good way to control menu items for each role & anonymous user.

If you can list me the menu items which should be available to anonymous user, I can add permission for it. so they will be available for non login user.

Also, here are two way to manage menu item, one which has got page link with it one without. So it all depends which pa

[2021-03-22 14:51] andrewvanbreda commented on #53
@BirenRathod
Hi Biren,

Should I enable the Menu Item Visibility module, then I can deal with this situation for you. I am doing the rest of the page permissions, so prob less confusing if I do it

[2021-03-22 14:52] andrewvanbreda commented on #54
Yes, I haven't worked much on those pages, they will have meaningful URLs

[2021-03-22 14:54] andrewvanbreda commented on #48
Hi @BirenRathod
I have made some further important changes, can you pull the following again, cheers.
projects/PoMS/blurred_poms_results.xml
projects/PoMS/poms_results_in_detail.xml

[2021-03-22 15:01] andrewvanbreda commented on #54
@DavidRoy @kitenetter
Hi, I have added URLs, but also disabled the menu items that are not worth checking yet because I need to check them first.
I will enable them as soon as I can.
We don't want lots of issues on pages I didn't check yet, so best to disable them and re-enable when ready to test.

[2021-03-22 15:08] andrewvanbreda commented on #40
Think this issue is now superseded by #48

[2021-03-22 15:08] #40 closed, assigned to andrewvanbreda

[2021-03-22 16:02] andrewvanbreda opened #57 "Solutions for displaying location of grid"
We have a problem with the recording grids.
We want to have a location column of some kind, however I cannot display this currently because

1. The Location Name and Public Entered Sref database fields are not populated in the cache_tables when privacy precision is activated.
This is not what I thought, I thought sample Public Entered Sref would be a blurred spatial reference, but it isn't

2. Occ

[2021-03-22 16:15] BirenRathod commented on #53
@andrewvanbreda yes, please. As I mentioned before feel free to enable module as you required.

[2021-03-22 16:29] BirenRathod commented on #48
@andrewvanbreda, done.

[2021-03-22 16:35] andrewvanbreda commented on #48
@BirenRathod Thanks Biren

[2021-03-22 16:44] andrewvanbreda commented on #11
Note the website now how intelligent edit icons.
So should go to appropriate input form and only appear at correct time. I will test further before closure.

My Records = Always get edit icon, automatically takes user to correct input form
Public Fit Map = Edit icon for your own records only, automatically takes user to correct input form
List samples for administrator = Always get edit icon, auto

[2021-03-22 16:51] kitenetter commented on #57
I think the only short-term solution is to not show a location in the grid for the FIT Count map. People will still be able to zoom in to find their own location, or to filter by their recorder name, if they need to.

So let's go with option B, and think about option A if resources allow in future.

[2021-03-22 17:29] kitenetter commented on #53
Thanks @andrewvanbreda - let me know if there is anything I need to do for this

[2021-03-22 17:39] kitenetter commented on #46
I'm just about to start working on the termlists. What I intend to do is compile a Word doc that lists the terms we use for the PoMS surveys, and give the Welsh equivalent where we already have it.

@andrewvanbreda @DavidRoy let me know if there is a better way of doing this.

[2021-03-22 18:05] andrewvanbreda commented on #46
@kitenetter This is fine, I can then add them to the Warehouse

[2021-03-22 18:33] CCarvell commented on #38
@andrewvanbreda @kitenetter I have been trying to create a User account and Reset my password, and have stalled at the Resolve Multiple Users page: screen shot below. is this a common problem?
That said, I can now view the Enter FIT Counts and FIT Counts map pages to review for translation - perhaps that is due to a development from Biren?

![image](https://user-images.githubusercontent.com/444943

[2021-03-22 18:34] andrewvanbreda commented on #53
@DavidRoy @kitenetter
I have corrected these particular problems now with unregistered users in both English and Welsh versions.
Please close this issue if you are happy the original issue is resolved.

[2021-03-22 18:38] andrewvanbreda commented on #38
Hi @CCarvell
I just fixed the unregistered user permissions. I will review the registration situation, no need to raise another issue for that as we have some open ones to do with registration. What you are seeing there looks like it maybe be a server failure (possibly one-off) rather than a fundamental problem with the site, I will run through the registration when I get a chance.

[2021-03-22 18:50] CCarvell commented on #55
@kitenetter or @andrewvanbreda minor edits for this page please, then I think it is ready to translate from my perspective.
Add your results. Enter-fit-count https://test-ceh-poms.pantheonsite.io/enter-fit-count

**First yellow text box, edit to say UK PoMS and one typo:**
"This FIT Count is being submitted to the UK PoMS website. If you have **a** website account, please log in so that this Count

[2021-03-22 18:52] andrewvanbreda commented on #57
Done.
Note that on the My Records & List of sample pages for admins, there is a column called "Detailed grid ref".....I will change this to "Grid ref", don't raise that as will do that now, but will only be moved to the site next time I get Biren to move the files across (and it probably isn't worth getting him to do that just for that change).

[2021-03-22 18:52] #57 closed, assigned to DavidRoy, kitenetter

[2021-03-22 18:54] CCarvell commented on #55
View results. Map of FIT Counts. https://test-ceh-poms.pantheonsite.io/fit-counts-map

This page seems fine to me for translation.
I have a query about the zoom resolution on the map - to confirm that 1 km squares will not be identifiable to 1 km level by non-registered users (we do not share locations publically beyond the 10km scale).

[2021-03-22 19:00] andrewvanbreda commented on #55
@CCarvell
There are two test samples on the system, they should be 1km protected. It looks to me like they are but feel free to have a look yourself. If you don't think that is the case, let me know with explanation of your thinking so I can look into it.

[2021-03-22 19:13] andrewvanbreda commented on #55
Hi @CCarvell
I fixed the typo and added UK PoMS. However I have not removed those questions yet. I can remove them but I wanted to confirm you definitely don't ant any of this information captured for unregistered users, and registered users only have the question about hearing about the survey on their account page.
Please confirm this is what you want.

[2021-03-22 19:32] kitenetter commented on #55
@CCarvell I'm a bit alarmed about the 10km resolution suggestion, I wasn't aware that this was a requirement.

On iRecord at the moment, non-logged in users can see public FIT Counts at full capture resolution, and always have been able to. So the 1km blur provides a greater degree of blurring than we have previously had.

For the FIT Counts originating from the 1 km squares we have not made these

[2021-03-22 20:05] andrewvanbreda commented on #12
@kitenetter
Just setting this up.
Do we even need the PoMS volunteer role on the site actually, as shouldn't all registered users have that role level?

[2021-03-22 20:20] andrewvanbreda commented on #43
@kitenetter
Let me know about the colours for the map, think the other bits are resolved now

[2021-03-22 20:25] kitenetter commented on #12
@andrewvanbreda I hadn't noticed that the [list above](https://github.com/BiologicalRecordsCentre/PoMS/issues/12#issuecomment-793794451) has drifted a bit from our original specification, which is given in this document:

[PoMS recording forms and user roles.docx](https://github.com/BiologicalRecordsCentre/PoMS/files/6185094/PoMS.recording.forms.and.user.roles.docx)

Is that document okay, or do y

[2021-03-22 20:31] andrewvanbreda commented on #55
@CCarvell @kitenetter
Hi, just to clarify my understanding.
All the 3 data entry forms are currently blurred to 1km for both registered and unregistered. If you see anything other than this, let me know.
Nothing relating to 10km has been implemented at the moment.

Note that I am making the assumption the app handles applying the 1km privacy precision itself

[2021-03-22 20:54] kitenetter commented on #46
@andrewvanbreda here are the terms for the public FIT Count form, let me know if there is anything else I need to do.

[Termlist translations.xlsx](https://github.com/BiologicalRecordsCentre/PoMS/files/6185223/Termlist.translations.xlsx)

There are just a couple of terms that I haven't been able to find translations for - @DavidRoy please let me know what is best to do to get these sorted out.

My

[2021-03-22 21:47] CCarvell commented on #55
@kitenetter you are completely right about the 1km square resolution, my apologies to you and @andrewvanbreda  for getting confused and rushing to make that comment. I was thinking from the perspective of the maps we normally produce for our reports and to flag 1 km squares available to adopt, which are necessarily at large (10km) scale due to the A4 print size. Until now, people have had to email

[2021-03-23 08:31] DavidRoy commented on #46
@kitenetter I suggest you send the spreadsheet direct to Elen for the additions and an overall review.

At some point we should get these terms into Transifex in preparation for needing translations in other languages

[2021-03-23 11:05] andrewvanbreda commented on #46
@DavidRoy
Note that importing these as Transfex terms using Drupal's translation system won't work  from my experience on my other multi-lingual project.
These will only work when I add them to the termlists in the Warehouse.

Obviously if you want to add them to Transifex for the purposes of having an elegant structure that includes everything, feel free to do that, it is just that any import usi

[2021-03-23 11:09] DavidRoy commented on #46
@andrewvanbreda understood.  Transifex provides a useful way of crowd-sourcing the translations, without having to manage spreadsheets circulating.  We still then have the manual job of adding in the termlist translations in the warehouse.

[2021-03-23 11:50] andrewvanbreda commented on #55
@CCarvell
No problem Claire, actually I didn't even notice it at first, I will leave the system as is.

[2021-03-23 12:11] andrewvanbreda commented on #55
@CCarvell
Oh and can you let me know about what I have written here as I think it has got lost amongst the talk about square resolution.
Thanks

"I fixed the typo and added UK PoMS. However I have not removed those questions yet. I can remove them but I wanted to confirm you definitely don't want any of this information captured for unregistered users, and registered users only have the question a

[2021-03-23 12:53] CCarvell commented on #55
@kitenetter could you please confirm your understanding of what we decided about the question
How did you hear about the FIT Count? - and the two feedback questions at the end of the FIT Count form?
None of these are present on the app Beta version (either at the Register stage or within each count survey), so I was assuming we would also remove them from the new website forms. Did we decide to re

[2021-03-23 13:26] andrewvanbreda commented on #55
@kitenetter @CCarvell
Just to note, it isn't my suggestion as such, it is simply my understanding of what you wanted, but then I noticed the other two questions would be lost. Entirely up to you how to proceed, I just wanted to let you know what I noticed.

[2021-03-23 13:35] CCarvell commented on #55
@DavidRoy to note that Welsh Gov have said it will not be necessary to provide Welsh translation of the 1 km square survey online data entry forms.
Add your results. 1km square survey - pan-trap results. https://test-ceh-poms.pantheonsite.io/add-1km-samples
 Add your results. Select pan-trap samples to add insect bycatch data for 2020. https://test-ceh-poms.pantheonsite.io/node/6
 Add your results

[2021-03-23 14:08] andrewvanbreda commented on #55
Does this mean the term lists shouldn't be translated?
I just started but only done a few terms so far as a test. I assume we don't want Welsh terms if rest of page is in Welsh?

Note I have noticed a problem where actually both the english and welsh terms are showing in the drop-downs at the moment, I have seen this happen on another project, so I will have a look what I did to fix that situation

[2021-03-23 14:18] kitenetter commented on #55
@andrewvanbreda @CCarvell

My understanding is that want to keep the FIT Count data entry form as focused as possible on the counts. So the form will **_not_** include:
- Your identification experience
- How did you hear about ...
- Taking part in the FIT Count was ...
- Carrying out the count was ...
- I am happy for you to contact me in connection with PoMS

It would be good if the website regis

[2021-03-23 14:57] CCarvell commented on #55
Thanks @kitenetter that is all perfect.
If you/ Andy can make those adjustments to the form and registration, then I think they should be ready for translation.

[2021-03-23 15:08] andrewvanbreda commented on #55
@kitenetter @CCarvell
Ok yes. I still have a problem with it not syncing with the Warehouse making this more complex than it seems, but I will let you know how I get on.
What about the translations of terms I mentioned? Should the term lists be translated if the rest of the page isn't going to be?

[2021-03-23 15:10] kitenetter commented on #55
@andrewvanbreda I'm a bit confused about your final question - can we speak on phone/zoom (see email I sent you for phone number)?

[2021-03-23 15:23] kitenetter commented on #55
@CCarvell having spoken to Andy, the issue arises because the terms used for the public FIT Count form are the same set of terms used for the 1 km square FIT Count form. This means that when we add the Welsh terms to the public form, they will also be added to the 1 km form.

Which means that if one of our 1 km square volunteers was to go to the website and choose the Welsh version of it, and then

[2021-03-23 18:04] CCarvell commented on #55
@kitenetter thanks for the explanation - you are right in that this won't be a problem for now, since we don't expect any of our 1 km volunteers to be using the Welsh version.

[2021-03-24 08:00] andrewvanbreda commented on #55
@CCarvell @kitenetter
I fixed the Welsh language problem with the terms this morning. I haven't actually added all the terms yet, but can see it working now.
I also removed those fields from the data entry form. I also removed Identification Experience from the 1km FIT form as it was also there.
I added them to the registration page.
I do have a problem with them and the way they are interacting w

[2021-03-24 08:05] andrewvanbreda commented on #46
Note I didn't finish entering the terms yet, but I fixed an issue this morning which means I can see it working in Welsh now for the terms I have entered.

[2021-03-24 10:00] kitenetter commented on #55
@andrewvanbreda at the moment most analysis for PoMS is done by extracting data from the warehouse via pgAdmin. I hadn't stopped to think about how we would use the data from the new registration process. Am I correct in thinking that the registration data is stored in Drupal but not in the warehouse? If so we will need some way of extracting it, but I don't mind if that is done via the warehouse

[2021-03-24 11:19] andrewvanbreda commented on #55
@kitenetter
Yes that is roughly the issue.
The issue being that Indicia is supposed to be able to sync registration fields to warehouse attributes.
This didn't work very well, so I fixed for Drupal 7 NPMS. That works fine now.
But it appears not to work in Drupal 8 at all.
I don't think that can be fixed in time for live. So I can setup a Drupal view with this information on then.

[2021-03-24 11:39] kitenetter commented on #55
Drupal view is fine @andrewvanbreda - please can you include a button to download the view as csv.

[2021-03-24 12:02] andrewvanbreda commented on #55
@kitenetter Yes, think there is a Drupal module for that.

[2021-03-24 12:09] andrewvanbreda opened #58 "Create Drupal view to allow download of user data (including account fields)"
must include a CSV download button

[2021-03-24 12:22] BirenRathod commented on #55
@andrewvanbreda It is called views data export and it is available to enable.

[2021-03-24 12:41] andrewvanbreda opened #59 "Hide profile fields when logged in"
On public fit count, the user details fields shouldn't be shown for logged in users.

[2021-03-24 12:50] andrewvanbreda commented on #48
Going to close this issue now. Individual problem cans be raised separately.

[2021-03-24 12:50] #48 closed, assigned to BirenRathod

[2021-03-24 13:00] andrewvanbreda commented on #55
@BirenRathod
Great thanks Biren

[2021-03-24 13:37] andrewvanbreda commented on #12
@kitenetter Am not sure to be honest. Let me complete what I think should happen, I will then describe it to you, then you can raise your hand for changes.

[2021-03-26 13:46] andrewvanbreda commented on #5
Hi @BirenRathod

I have some test code to move the samples from the old iRecord surveys to the new website. Just to move a sample with a few occurrences.

I have tested this on my machine using different IDs, but obviously please take any precautions you feel the need to take before running this on live.

update indicia.samples
set survey_id=636,updated_on=now(),updated_by_id=5553
where survey_id

[2021-03-26 14:00] DavidRoy commented on #5
@BirenRathod we will let you know when we want to run these updates.  No action to be taken yet, thanks

[2021-03-26 16:23] kitenetter commented on #46
@andrewvanbreda we now have the termlists back from the translator, and more of them have been changed that I was hoping, see highlighted rows:

[Termlist translations for website.xlsx](https://github.com/BiologicalRecordsCentre/PoMS/files/6213083/Termlist.translations.for.website.xlsx)

Can you incorporate these changes please? Or alternatively, let me know when you've finished entering the first

[2021-03-29 04:59] andrewvanbreda commented on #46
Hi @kitenetter
Yes I will do these, I have just done some of them.
It is probably best I enter them for now as I noticed a problem with the Warehouse where after about 5 entries it starts warning about the work_queue, and then I have to come back later.
What will be good is once I have done all of them is if you go and double-check all the entries as it will be critical all the translations are pu

[2021-03-29 05:11] andrewvanbreda commented on #41
@DavidRoy @kitenetter
As mentioned in our meeting, the test site wasn't working with App data, that has now been corrected (there was a silly typo from me in the page configuration causing that).
Please leave this issue open for now so I can test some of the logic, and that data from the app can be viewed & edited correctly on the website.

[2021-03-29 05:16] andrewvanbreda commented on #11
Closing this as testing will be completed under issue #41

[2021-03-29 05:16] #11 closed, assigned to DavidRoy

[2021-03-29 11:12] kitenetter opened #60 "Custom taxon list translations"
The public FIT Counts use a custom taxon list, list ID 221 in the warehouse.

We need to add Welsh names to that list, see spreadsheet:

[Taxon list translations.xlsx](https://github.com/BiologicalRecordsCentre/PoMS/files/6221286/Taxon.list.translations.xlsx)

Let me know if you want me to make any warehouse changes.

The 1 km square FIT Counts also use list ID 221, so we need to ensure that the E

[2021-03-29 11:39] kitenetter commented on #49
Have added the FIT Count logo to the introductory text box as a short-term solution.

I think the remaining task from this issue is to add text alongside saying "XXX count submitted so far this year by XX participants" (The number of participants is not critical .....)

[2021-03-29 11:42] kitenetter opened #61 "FIT Count map: display locations as 1km squares"
Applies to https://test-ceh-poms.pantheonsite.io/node/15

The locations are currently being shown at quite a high resolution for app records - we're aiming to display all counts (including from the app) as blurred to a 1 km square.

[2021-03-29 11:44] kitenetter opened #62 "FIT Count map: zoom control"
Applies to https://test-ceh-poms.pantheonsite.io/node/15

This is a cosmetic issue - the zoom control on the map is currently displaying incorrectly:

![image](https://user-images.githubusercontent.com/16039111/112831805-5c1a9800-908c-11eb-93d5-0c838718f518.png)

Also, the link between dots on the map and records in the grid is not in place (i.e. clicking on one has no effect on the other).

[2021-03-29 11:46] kitenetter commented on #53
This may already be in hand, but at the moment we have three top-level menu items that do not provide a page when clicked on:
- Add your results
- View results
- Reports and research

[2021-03-29 12:08] andrewvanbreda commented on #53
Will fix, they should be inactive and non-clickable

[2021-03-29 13:04] kitenetter opened #63 "Documentation: FIT Count survey form"
The survey form will need updating to coincide with the launch of the new site:
- Change the link in the header to the new website
- Change the link at the end to direct people to the data entry form on the new website, rather than iRecord
- Add a link to the FIT Count app if possible (probably need to set up an additional web page for this)
- May as well change the blue line dividers to match the

[2021-03-29 13:12] andrewvanbreda commented on #60
@kitenetter
I have made the following adjustments

- iRecord adjusted to stop Welsh filtering through
- Public FIT count form altered to show English/Welsh species depending on language
- 1km altered to only show English regardless of language selection. Does this mean this page won't be translated?.....or did I misunderstand and you do actually want Welsh to appear on this page?

[2021-03-29 13:19] kitenetter commented on #60
@andrewvanbreda as things stand there is no requirement to provide Welsh versions for any of the data entry forms and data selection reports relating to the 1 km square survey. It's possible that Welsh will be needed in future, but as long as we don't do anything that would make it impossible to translate in future we are fine to keep them in English.

It would be good to have a Welsh version of t

[2021-03-29 13:36] andrewvanbreda commented on #60
@kitenetter
OK, have changed it to force the English to be shown on all data entry pages now.
Not sure how to deal with the term lists at moment, as those will still show the Welsh.
I will deal with that separately.
Ok yes please raise another Github for the page you mentioned.

Please close this issue once you are happy, if you wanted to check the translations I entered you can do so directly in

[2021-03-29 13:41] kitenetter opened #64 "New web page: FIT Count app"
I've realised that we need a page on the website to inform people about the app. A page is set up here:
https://test-ceh-poms.pantheonsite.io/fit-count-app

@CCarvell to check and sign off
@DavidRoy do I need to do anything to add this to the transifex site?

[2021-03-29 13:41] andrewvanbreda commented on #61
@kitenetter @kazlauskis
This would probably be because the app is not setting a privacy precision.
Karolis do you know if the app is setting a privacy_precision of 1000?

Let me know if I can help at all, but I think it is probably at the app end as I think report is working with the other surveys.
Cheers

[2021-03-29 13:43] andrewvanbreda commented on #62
@kitenetter Ok thanks noted.

[2021-03-29 13:43] DavidRoy commented on #64
@kitenetter shall we have a quick zoom so I can go through the Tranifex process with you?

[2021-03-29 13:49] CCarvell commented on #64
@kitenetter I had thought the same! That page looks perfect, thank you, happy to sign off.
Can we also assume that we will add a very simple News section to the current UKCEH PoMS webpage with the links to the app once it has launched end of April, and before the new website is out?

[2021-03-29 13:51] kitenetter commented on #64
@CCarvell yes, we can continue to update the UKCEH page until the new site is available.

[2021-03-29 13:56] kitenetter opened #65 "Documentation: FIT Count flower guide"
Updates that can be done immediately:
- Add Daera and NHM logos
- Update link to [NPMS plant ID guide](https://www.npms.org.uk/sites/default/files/PDF/NPMS_Id%20guide_WEB_2ndEd.pdf)

Updates required to coincide with the website launch:
- Edit links from CEH site to PoMS site (pages 1, 2)
- Add links to FIT Count page on new site plus FIT Count app

[2021-03-29 13:59] kazlauskis commented on #61
@kitenetter would you like the app to set the precision of 1000?

[2021-03-29 14:05] kitenetter commented on #61
@kazlauskis yes, I think we should - we are treating all FIT Count occurrences as 'sensitive' with a blur to 1 km square, on the grounds that many counts will be done in private gardens.

[2021-03-29 14:07] kazlauskis commented on #61
Thanks, will do.

[2021-03-29 14:17] kitenetter opened #66 "Documentation: FIT Count insect guide"
Updates that can be done immediately:
- Add Daera and NHM logos

Updates required to coincide with the website launch:
- Edit links from CEH site to PoMS site
- Add links to FIT Count page on new site plus FIT Count app
- Add link to "Taking things further" web page

[2021-03-29 14:29] kitenetter opened #67 "Documentation: FIT Count main guide"
Updates that can be done immediately:
- Add Daera and NHM logos

Updates required to coincide with the website launch:
- Edit links from CEH site to PoMS site (pages 1, 7)
- Add links to FIT Count page on new site plus FIT Count app
- Update "Sending in your count data" for PoMS website/app (pages 5-6)

Some new Welsh translations will be required.

[2021-03-29 14:37] kitenetter commented on #61
Closing.

[2021-03-30 18:59] andrewvanbreda commented on #62
@kitenetter
I checked this and it is the theme causing this, the other theme is ok when I switched it. It is hard for me to experiment though because I have to commit all the time when I am making site changes.
For now I have changed it to a Pan Zoom control instead of Pan Zoom Bar.
Let me know if you are ok with that style of control, else might need Biren to have a look.

[2021-03-30 19:07] BirenRathod commented on #62
@andrewvanbreda I'm happy to have a look if that is causing too much problem. Although the current settings is much better than previous one but that is just my opinion.

[2021-03-30 19:33] andrewvanbreda commented on #62
@BirenRathod
See what Martin says, entirely up to him what he wants. Cheers

[2021-04-12 10:52] andrewvanbreda commented on #46
@DavidRoy @kitenetter
I finally managed to finish these (I kept getting interrupted with work_queue warning from the warehouse).

[2021-04-12 10:57] andrewvanbreda opened #68 "Avoid Welsh termlist mixing on data entry forms"
There is a potential serious problem because we have Welsh translation on the termlsits for reporting, these will mix into data entry pages which are in English.

Possible fixes
1. Remove Welsh version of those pages completely (not sure this will work)
2. Again not sure if this will work, but to use the Internationalise Lookups Drupal translation override option to override the translated items,

[2021-04-12 14:45] andrewvanbreda commented on #68
Thankfully able to fix more easily than I feared.
If the "Show only preferred terms but enable localisation (e.g. Drupal or Indicia)" option is selected on the Welsh version of the data entry pages means those untranslated Welsh page versions will continue to use English terms.

[2021-04-12 14:45] #68 closed, assigned to andrewvanbreda

[2021-04-13 13:11] andrewvanbreda commented on #49
Done, although be aware that I misread this and it currently isn't just this year only, I will change that

[2021-04-13 13:39] andrewvanbreda commented on #49
@BirenRathod
Can you pull this report whenever you get a change so the data is limited to just this year.
Thanks
projects/PoMS/result_counts.xml

[2021-04-13 14:43] andrewvanbreda commented on #53
@BirenRathod
Hi Biren,
I see the butterfly monitoring site does this also, do you know how the theme can be prevented from doing this?

[2021-04-13 16:46] BirenRathod commented on #53
@andrewvanbreda Sorry I don't understand this. what you want me to do in this issue?

[2021-04-13 17:09] BirenRathod commented on #49
@andrewvanbreda I have pulled that report now.

[2021-04-13 17:19] andrewvanbreda commented on #53
@BirenRathod
It is what Martin mentioned in this comment

"This may already be in hand, but at the moment we have three top-level menu items that do not provide a page when clicked on:

Add your results
View results
Reports and research"

I think what martin is saying is that the menu headings are still clickable, but don't do anything. It is like a link that goes nowhere, where we don't want it t

[2021-04-13 17:20] andrewvanbreda commented on #49
@BirenRathod
Brill thanks.
Martin close this issue if you are happy with this now.

[2021-04-13 17:24] BirenRathod commented on #53
@andrewvanbreda I checked the links.  It shows hover on that link and because it hasn't got any page link with it, it should not go anywhere and stays there.

[2021-04-13 17:27] andrewvanbreda commented on #53
@kitenetter @BirenRathod
Thanks Biren.

Martin: As you raised the issue originally you will need to be the one to say whether or not you are ok with this.

[2021-04-14 11:41] kitenetter commented on #53
I still find the menu behaviour confusing, but I'm not sure if others react the same way as me.

- At the moment, if I click on "Home" it takes me straight to the home page, which is what I expect. If I hover over the "Home" menu item I can see some other sub-menu choices.
- If I click on "Taking part" it takes me straight to a taking part page, which is what I expect. If I hover over the "Taking

[2021-04-14 11:59] BirenRathod commented on #53
@kitenetter
There are two options available "Mouse hover" & "Mouse click". So "Mouse hover" suppose to display drop down menu if there is. "Mouse click" suppose to take the link to the page if page is exist. because there is no page exist, it is not taking anyway but it should show "Hand" gesture as it has got dropdown menu with it.

You have confused with "Mouse click", as you expect mouse click

[2021-04-14 14:57] andrewvanbreda commented on #53
@BirenRathod @kitenetter
Hi,

I am personally not a great fan of sub-menus that have an active heading (although I realise my opinion isn't the decisive factor here). I have seen projects in the past have problems with this where people then don't notice there is a sub-menu (admittedly the PoMS admittedly displays the sub-menu instantly, so shouldn't be an issue).

Personally I think
1. Home shoul

[2021-04-14 15:03] BirenRathod commented on #53
@andrewvanbreda How to layout menu, that is @kitenetter can decide. From my perspective, I should provide the features the way menu should behave in general.

[2021-04-14 15:10] andrewvanbreda commented on #53
@BirenRathod
Yes I realise Martin will decide, but that is my thought on what might work well.

[2021-04-19 15:53] kitenetter opened #69 "Holding page for PoMS website address"
The FIT Count app will launch before the new PoMS website, and the app contains URL links to http://ukpoms.org.uk

Are we able to set up a holding page so that anyone who goes to a link for http://ukpoms.org.uk can see a page that says "Website coming soon! For now please visit the PoMS pages on the [UKCEH website](https://www.ceh.ac.uk/our-science/projects/pollinator-monitoring)."

Preferably sho

[2021-04-19 16:58] andrewvanbreda commented on #49
@kitenetter
Am going to close this, as Claire was concerned about the number of open issues and I think this one is done. Re-open if needed.

[2021-04-19 16:58] #49 closed, assigned to kitenetter

[2021-04-19 17:12] andrewvanbreda commented on #62
@kitenetter
Going to close this one, again to reduce the number of open issues. Please re-open if required.

[2021-04-19 17:12] #62 closed, assigned to kitenetter

[2021-04-19 17:16] andrewvanbreda commented on #32
Don't think this needs to be left open, am used to updating Welsh versions now.

[2021-04-19 17:16] #32 closed, assigned to andrewvanbreda

[2021-04-19 17:27] andrewvanbreda commented on #23
Am closing this to reduce number of open issues, as am sure this must now be covered by #55. Please reopen if I have misunderstood.

[2021-04-19 17:27] #23 closed, assigned to BirenRathod

[2021-04-19 17:56] andrewvanbreda commented on #21
Closing this as have checked this, and the JS logic is active and running.
Further tests will be done on these pages naturally before go live.

[2021-04-19 17:56] #21 closed, assigned to andrewvanbreda

[2021-04-19 18:16] andrewvanbreda commented on #53
@kitenetter
Assigning to you to comment on proposals.

I should also point one further thing out, my suggestions should also avoid the problem where if there is a sub-menu, the user might not even notice the the main heading is clickable too.

[2021-04-19 18:42] andrewvanbreda commented on #60
I have double-checked these entries on the Warehouse, so going to close this now.
If you want to double-check the translations feel free.

[2021-04-19 18:42] #60 closed, assigned to andrewvanbreda

[2021-04-19 20:19] CCarvell commented on #25
@andrewvanbreda these colour themes will be used by Steve Dixon in his design templates and we'll have them incorporated hopefully before initial launch of the site.

[2021-04-19 20:25] CCarvell commented on #27
@kitenetter given that Biren added all the partner and funder logos to the bottom of the Home and About pages, with live links, should we now remove your pink-framed image above this containing all the logos?
My one comment would be for @BirenRathod to remove the pink line that is between the two rows of partner logos. Leave the pink line separating the funders as they need to be clearly distinct.

[2021-04-20 06:17] BirenRathod commented on #27
@CCarvell I will wait until Julian make changes to the theme otherwise I have to make those changes again.
@kitenetter can remove pink-framed image as it is in the content.

[2021-04-20 06:59] BirenRathod commented on #69
@kitenetter For that I need to make POMS test site in live env. Live env is same as test env but with active URL. I can add above message, so outside world will see this message and we internal people can still able to work on it.
For live env, how far are we of making changes on test site?

[2021-04-20 10:08] andrewvanbreda commented on #25
@CCarvell
That is fine, I just assigned this to you in case you hadn't seen Biren's comment. We probably need an issue label to indicate that no work is required on a particular issue at this time.

[2021-04-21 17:57] kitenetter commented on #69
Sorry @BirenRathod, I'm not sure what you mean, Is it possible to set up the new URL without exposing the site itself? If not, would it be better to redirect to the [existing UKCEH page](https://www.ceh.ac.uk/our-science/projects/pollinator-monitoring)?

[2021-04-22 06:39] BirenRathod commented on #69
@kitenetter In any of those things, we need to put site first to live. it will still be restricted for outside world to expose until the final date of release.

[2021-04-22 06:58] BirenRathod commented on #69
@kitenetter One advantage of making site live is to avoid last minute waiting of URL propagation, so worth making site live now instead of waiting till last minute.

[2021-04-23 15:52] kitenetter opened #70 "Welsh page URLs"
For the FIT Count website we decided to keep the URLs in English and add "cy" to the pathway for the Welsh pages.

At the moment, on the PoMS website we are using Welsh URLs, e.g. the FAQ page is currently showing as:
https://test-ceh-poms.pantheonsite.io/cy/cwestiynaucyffredin

Do you want me to change this so that it becomes:
https://test-ceh-poms.pantheonsite.io/cy/faqs

to match the English:
h

[2021-04-23 15:58] kitenetter opened #71 "Images on Welsh pages"
When I bring in a translated page onto the PoMS website, it loses the images that are shown on the English pages. Is there any way of automatically copying the images over from the English to the Welsh or do I have to edit each one individually?

[2021-04-23 16:05] kitenetter commented on #71
@DavidRoy
If I download the translations direct from Transifex (rather than importing them via Drupal) it retains the images and most of the formatting. Is there any reason why I shouldn't do that?

If I do do that, should I also complete the import via Drupal so that all the jobs get marked as finished, or is it okay to do this independently of the Drupal import system?

[2021-04-23 16:16] kitenetter opened #72 "Check all links in Welsh pages once they are all set up"
The import process does not bring the correct URL links over, they all need to be checked for the Welsh pages.

[2021-04-23 16:18] kitenetter commented on #56
- [ ] FIT Count app

[2021-04-23 16:25] kitenetter commented on #56
@DavidRoy the text has changed on a number of pages since it was sent to Transifex. Can you let me know how I deal with this - do I need to re-send the whole page, or just the parts that have changed, and what is the procedure for that?

- Home page (a few additions)
- Taking part - FIT Counts  (minor additions of mentions of the app, that we can probably translate based on other pages, but not su

[2021-04-23 16:41] kitenetter commented on #56
Does transifex deal with Indicia recording and reporting pages?
To send to transifex, do I use "Add continuous job" from the Jobs page (https://test-ceh-poms.pantheonsite.io/admin/tmgmt/jobs)?

[2021-04-23 16:45] kitenetter commented on #56
Loose ends:
- [ ] check that logos are displayed correctly on Welsh pages once they are finalised for English (Home and About pages, see #27)

[2021-04-23 18:22] kitenetter opened #73 "Alt text for images on translated pages"
The image alt text is showing up in the English within the translation job items, but does not appear to have been passed to transifex. This means that Drupal sees the job as incomplete. I am currently bypassing that by setting the translated test to be the same as the English text in order to allow me to save the translation, but if that approach will cause problems please let me know.

[2021-04-24 17:52] andrewvanbreda commented on #70
@kitenetter
Hi Martin.
From my point of view, I have no problem you changing URLs. It might break one or two links, but we will go through the site clicking on all the page links before go live anyway and these would be easy corrections.
Minor issue.

Also all the pages which aren't anything to do with Indicia I am not worried about anyway, you can do what you like with them.

[2021-04-25 18:23] andrewvanbreda opened #74 "A1.3 Map display of 75 x 1 km square survey sites for the 1km square pan trap survey"
Coded a colour coded map, with optional grid.
Awaiting placement onto site

[2021-04-25 18:24] andrewvanbreda commented on #74
Note code be used for any surveys you wanted, doesn't have to be pan-trap

[2021-04-25 18:45] andrewvanbreda opened #75 "A1.4 Map display of 1 km squares with summary data from previous years"
A grid is coded, map in progress

[2021-04-26 13:29] andrewvanbreda opened #76 "Allow maps to be limited to a drawn polygon with download"
Allow maps to be limited to a polygon with download

[2021-04-26 13:29] andrewvanbreda commented on #76
Coded awaiting release to live

[2021-04-26 15:16] kitenetter opened #77 "Remove test data from app survey"
To be deleted:
- All occurrences from survey ID 641 (FIT Count app) where sample ID <= 14202516

No urgency for this, needs doing in time for website launch in mid May.

[2021-04-26 15:22] kitenetter commented on #70
Okay, I'm going to use the 'cy' pattern, e.g.:
https://test-ceh-poms.pantheonsite.io/cy/faqs

For consistency with what was agree [here](https://github.com/NERC-CEH/fit-count-app/issues/60#issuecomment-825207795).

Closing.

[2021-04-26 15:22] #70 closed, assigned to kitenetter

[2021-04-26 20:46] kitenetter commented on #69
@BirenRathod the app is going live this week so we need to ensure that http://ukpoms.org.uk/ is available.

When you say that we need to make the site live, does that mean that anyone will be able to see the site if they go to the link?

Or can we make the site live but also set up a redirect so that people are sent to https://www.ceh.ac.uk/our-science/projects/pollinator-monitoring for now, and t

[2021-04-27 08:19] BirenRathod commented on #69
@kitenetter We can make site live and setup a redirect. After making site live, we can restrict to access by anybody until site goes live.

[2021-04-27 08:23] BirenRathod commented on #69
@kitenetter Sorry until the release date.

[2021-04-27 08:39] kitenetter commented on #69
That's great, thanks @BirenRathod

[2021-04-27 08:41] BirenRathod commented on #69
@kitenetter So can I go ahead and make test site into live or ? are we still waiting something to finish yet?

[2021-04-27 08:44] kitenetter commented on #69
The test site is still under development and will change over the coming weeks but as long as the redirect is in place that should be okay shouldn't it? And we do need to get this set up now the app has gone live.

@andrewvanbreda let us know if you have any concerns about this.

[2021-04-27 08:57] andrewvanbreda commented on #69
@kitenetter @BirenRathod
The test site is not ready yet.

Are you able to clarify what you mean by redirect in this particular case, as I don't understand what is redirecting where?

From my point of view, ideally I want to be able to complete the test site and then be able to move that configuration onto live without manual setup.
So you can do whatever you like as long as I am able to do that.

[2021-04-27 09:01] kitenetter commented on #69
The issue we have is that the FIT Count app has now gone live. The app contains links to http://ukpoms.org.uk/ but if you go to that page you get an error message. Ideally, if people try to go to http://ukpoms.org.uk/ we want them to end up on https://www.ceh.ac.uk/our-science/projects/pollinator-monitoring

I'm afraid I don't understand enough about the relationship between the test site and the

[2021-04-27 09:05] BirenRathod commented on #69
@andrewvanbreda & @kitenetter
Basically, I need to make site live using ukbms.org.uk. Same like other websites the only difference is, this website won't be available to access by outside world. And when somebody access site from app they will see coming soon message including the redirect link with it on live site until the site is ready to release.

[2021-04-27 09:13] andrewvanbreda commented on #69
@BirenRathod @kitenetter
OK, I think just do whatever you need to do, and I will work around it as needed.

[2021-04-27 09:22] BirenRathod commented on #69
@andrewvanbreda The option to update live from test what ever you make changes on test site is still there.
@kitenetter & @andrewvanbreda So, I'm starting process about 11is, is that ok?

[2021-04-27 09:23] DavidRoy commented on #69
@BirenRathod the live site url is http://ukpoms.org.uk/
not ukbms.org.uk - a typo in your comment above?

[2021-04-27 09:25] BirenRathod commented on #69
@DavidRoy yes, you are right. missing typo as I'm working ukbms site at the same time too.

[2021-04-27 09:26] BirenRathod commented on #69
Thanks @andrewvanbreda & @kitenetter.

[2021-04-27 09:26] andrewvanbreda commented on #69
@BirenRathod
Yes 11 is fine. Should I make sure I am not touching the test site during this time?

[2021-04-27 09:27] BirenRathod commented on #69
@andrewvanbreda yes, please.

[2021-04-27 09:41] andrewvanbreda opened #78 "Clickable map feature summary capability"
Investigated & working map clicking into a summary popup or panel running on my machine.
Awaiting deployment to PoMS site maps.

[2021-04-27 10:18] BirenRathod commented on #69
@andrewvanbreda & @kitenetter I have now initialized the live env, so you can now carry on working on test site.

[2021-04-27 11:31] BirenRathod commented on #69
@kitenetter this is how it will be once the URL (ukpoms.org.uk) been activated. Check below link.
https://live-ceh-poms.pantheonsite.io/

[2021-04-27 11:35] kitenetter commented on #69
Thanks @BirenRathod

Instead of these two lines:
- Coming soon
- Website coming soon!

I think we only need:
- Website coming soon!

It's a bit hard to read the text on top of the image, especially for the link to UKCEH, can we put it into a semi-transparent box to make the text stand out more? Or use a different image?

[2021-04-27 11:45] BirenRathod commented on #69
@kitenetter I removed the coming soon text. Also, I changed the text color but link is still hidden under the background image. Do you have another which we could use for it?

[2021-04-27 11:53] kitenetter commented on #69
Does this work - there is a dark area at the top of the image that might be okay for white text?:

![Bombus pratorum - Great Kimble-002_cropped](https://user-images.githubusercontent.com/16039111/116236881-7c0aad80-a757-11eb-84ba-580fbb0edf92.JPG)

[2021-04-27 12:00] BirenRathod commented on #69
@kitenetter I changed the text color and made underline should work. Also, I uploaded your image as background but logo is hidden now. If you satisfy then we can keep it like that.

[2021-04-27 12:44] kitenetter commented on #69
Text is fine, can you use this white-out logo please:

[PoMS_Logo_WithStrap_WhiteOut.zip](https://github.com/BiologicalRecordsCentre/PoMS/files/6384548/PoMS_Logo_WithStrap_WhiteOut.zip)

[2021-04-27 12:58] andrewvanbreda commented on #71
@kitenetter
Hi Martin,
Sorry I thought I had replied to this thread.
What happens is on the website is there is initially there is an English page only, then at the point you tell system to create the Welsh version, that becomes a carbon copy of English one which can then be edited independently.
So if you have images which have been edited into the English version, it should be possible to copy t

[2021-04-27 13:11] BirenRathod commented on #69
@kitenetter I don't have a choice of using this logo. I can only use the logo which the website is currently using it. If I change that it will then change on coming soon page. Do you want me to do that?

[2021-04-27 13:11] andrewvanbreda commented on #74
@BirenRathod
Whenever you get a second, can you pull the following report onto live. Not urgent. Thanks as always.
/projects/PoMS/squares_summary_mappable.xml

[2021-04-27 13:13] kitenetter commented on #71
Hi @andrewvanbreda I think I've sorted this out - transifex seems to be a bit erratic it how it handles, or mostly doesn't handle, images, but I've found workarounds so there isn't a problem any more. Closing.

P.S. sent you an email about a possible catch-up meeting tomorrow

[2021-04-27 13:13] #71 closed, assigned to DavidRoy, kitenetter

[2021-04-27 13:17] andrewvanbreda commented on #71
@kitenetter
Yes I replied to that email, can you let me know if you didn't a reply.
Thanks

[2021-04-27 13:21] BirenRathod commented on #74
@andrewvanbreda I have pulled that report now on live.

[2021-04-27 13:37] andrewvanbreda commented on #74
@BirenRathod
Great thanks. Will take a look shortly

[2021-04-27 13:56] kitenetter commented on #71
Hi @andrewvanbreda - I've just found several of your emails in my junk folder, apologies! Will try to persuade outlook that you are a legitimate operation :)

[2021-04-27 14:03] kitenetter commented on #69
Okay, let's have one more try! Does this work - use the photo below, and keep the black logo, and change the text to black, and maybe use the PoMS purple colour to highlight the UKCEH weblink?

![Thymelicus sylvestris - Bushy Park-004](https://user-images.githubusercontent.com/16039111/116254780-8c2b8880-a769-11eb-9589-dfdf358b4393.JPG)

[2021-04-27 14:06] andrewvanbreda commented on #71
@kitenetter
Oh right, was wondering why I didn't get any replies recently about project (not just you). I just assumed everyone was mega busy.
If you just let me know your thoughts on anything (that is still relevant) via email when you get chance thanks.

[2021-04-27 14:07] BirenRathod commented on #69
@kitenetter I have uploaded new images. Have a look first and let me know if you still need to change anything.

[2021-04-27 14:13] kitenetter commented on #69
I think that's fine Biren, let's go with that.

[2021-04-27 14:30] andrewvanbreda commented on #33
@CCarvell @kitenetter @DavidRoy
Sorry I missed this issue and raised another one.
I already enabled grid Download This Report option in bottom right of the My Records page grid.
In addition to this, I have code running on my machine that allows a user to draw onto the map and filter the results to that area.

That can work on FIT count map page too and doesn't require the user to have to open the

[2021-04-27 14:31] andrewvanbreda commented on #76
Now covered by #33

[2021-04-27 14:31] #76 closed, assigned to nobody

[2021-04-27 14:36] kitenetter commented on #25
I think we can close this for now, pending Steve's design work.

[2021-04-27 14:36] #25 closed, assigned to CCarvell

[2021-04-27 14:38] kitenetter commented on #47
Closing.

[2021-04-27 14:38] #47 closed, assigned to kitenetter

[2021-04-27 15:03] kitenetter commented on #33
This needs some discussion. At the moment, the grid download from "My records" outputs the following columns:

- ID [sample ID]
- Survey
- Date
- Grid ref
- Habitat
- Target flower
- Photo of target flower [not actually   needed]
- Total number of insects
- Start time
- Pan-trap number
- Recorder names

What I would ideally like us to output is this:

- ID [sample ID]
- Survey
- Location
- Spatial

[2021-04-27 15:07] kitenetter commented on #34
The videos include screenshots of the website recording forms etc. so we are currently waiting for the website design to be as close to final as possible before updating the screenshots in the videos.

[2021-04-27 15:08] kitenetter commented on #37
I think this is now done. Closing.

[2021-04-27 15:08] #37 closed, assigned to andrewvanbreda

[2021-04-27 15:10] andrewvanbreda commented on #33
@kitenetter
OK well I will check spec, but easy download Indicia page is driven by a report, so could just drive this from a report. Prob not too difficult, although am not sure whether that page can support the map draw....I don't think so.

[2021-04-27 15:13] andrewvanbreda commented on #33
@kitenetter
Actually another thought, I think i have seen in the past that the grid download option downloads hidden columns (so extra columns not shown on grid that are deliberately hidden). If so it would be possible from the same download option I already setup, I will take a look

[2021-04-27 15:19] andrewvanbreda commented on #33
@kitenetter
I checked and that is indeed the case.
Providing I can code the report grid so it isn't too slow, I think these extra columns could be added to the existing download I setup.....although there is a lot of LEFT Joining involved.
I can code that, and if it is too slow for the grid, we can move the same report to drive an Easy Download page

[2021-04-27 15:26] kitenetter commented on #41
The editing form seems to be working for my for app records. It includes a mandatory location attribute, but location is not entered within the app, and as far as I can see the mandatory condition is being set by the form, not by the survey structure in the warehouse.

However, location name is mandatory for records entered via the website, and the same form is used for editing website records and

[2021-04-27 15:37] kitenetter commented on #43
Before we get to colours, I need to catch up what we are actually going to display on the map. My recollection is that we were aiming to show counts as 1 km squares rather than precise locations, is that going to be possible? If it is, then it would be nice to have a colour ramp that indicates how many counts are in a 1 km square, but I don't have a strong opinion as to what that colour ramp shoul

[2021-04-27 15:39] kitenetter commented on #50
Update: awaiting final translation before editing the PoMS poster information.

[2021-04-27 15:41] kitenetter commented on #51
Links to PDF docs still to be done on all relevant pages, will transfer that to a new issue. Closing this one.

[2021-04-27 15:41] #51 closed, assigned to nobody

[2021-04-27 15:42] kitenetter opened #79 "Check that all PDF download links are live before launch"
May need to upload the 2020 versions of the documents to start with, and then replace with revised when available (revisions needed to remove references to iRecord and add new website and app instead).

[2021-04-27 15:42] #52 closed, assigned to nobody

[2021-04-27 15:46] kitenetter commented on #53
Okay, I'm going to go with @andrewvanbreda suggestion that where sub-menus exist the top level menu item should not be clickable (mainly because to add top-level pages would have knock-on requirements for additional translations). I will re-organise the menu structure slightly to ensure this is consistent.

[2021-04-27 15:47] kitenetter commented on #54
I think we can close this (but need to do final checks and tests of all menus and URLs prior to launch).

[2021-04-27 15:47] #54 closed, assigned to kitenetter

[2021-04-27 15:48] andrewvanbreda commented on #41
@kitenetter
Thanks for notes I will check them shortly. This area is coded but I have not actually tested it at all yet on the test site. I will look at what you said shortly.

[2021-04-27 15:50] kitenetter commented on #55
I think can be closed - will confirm at our catch-up meeting on 28 April.

[2021-04-27 15:52] kitenetter commented on #56
Need to check that all relevant menu items have been translated (most have but not all as yet).

Need to work out how to deal with translating the links in the footer.

[2021-04-27 15:53] #64 closed, assigned to nobody

[2021-04-27 15:54] kitenetter commented on #63
@CCarvell where we are editing the FIT Count documents, and will therefore need some translation help, should I send those to Elen or do you want them to go to the translators who worked on them before?

[2021-04-27 15:55] kitenetter commented on #73
Not a priority to resolve - closing

[2021-04-27 15:55] #73 closed, assigned to DavidRoy

[2021-04-27 16:03] andrewvanbreda commented on #43
@kitenetter
Yes can fix the last two, the colour ramps would be possible.

I think I raised somewhere inconsistencies in the spec in this area which talks about squares, but also talked about samples and clicking on individual counts:
I see now that you are expecting it to transition between types as you click on map. This was not taken into account by me when estimating.
I did do something simila

[2021-04-27 16:31] CCarvell commented on #63
We have not been back to the original translator who did the FIT Count materials that were translated using funding from National Botanic Garden of Wales.
But we still have the editable versions in Welsh, hence this is a fairly small job, is that right?
If so, it would be great if Elen could add these to her list - can we get a quick response on whether this will be possible?
I think we would shar

[2021-04-27 16:36] kitenetter commented on #63
Thanks @CCarvell - that sounds like the best approach to me, will liaise with Elen.

[2021-04-27 18:35] DavidRoy commented on #33
Or extract the attributes from the json field in the cache tables?  To negate the need for many joins?

[2021-04-27 18:51] andrewvanbreda commented on #33
@DavidRoy Yes that is true, I keep forgetting we have them there now for sample/occurrences, I can do that I think. I will take a look.

[2021-04-27 19:15] kitenetter opened #80 "1 km FIT Count data entry: 1km square look-up"
The autocomplete look-up for the list of 1km squares produces results very quickly if you type in the first letter of the grid ref, but if you go on to type a second letter the look-up hangs.

[2021-04-27 20:17] kitenetter opened #81 "1 km FIT Count data entry: 1km square link to map"
When a 1 km square is chosen from the autocomplete lookup, the map should automatically zoom in to that 1 km square, so that users can then add a precise location within the square (as currently happens on the equivalent iRecord form).

Nice-to-have if possible: disallow entry of grid ref outside the chosen 1 km square.

[2021-04-27 20:19] kitenetter opened #82 "1 km FIT Count data entry: date picker obscured"
The current date picker opens up but is partially hidden behind the map.

[2021-04-27 20:23] kitenetter commented on #80
The chosen 1km square is not recognised and the form cannot be saved.

(Apologies if I'm picking up on things that are still under development.)

[2021-04-27 20:30] andrewvanbreda commented on #43
@kitenetter
I have looked into the viability of solutions to what you want.
I think what might be possible, which should be easy IF it works is as follows (I think the alternatives to this are far too difficult to implement for this project from what I can work out. I have it in a project about 8 years ago, but the code is too complex to even lift out for this project).
I propose the following:
-

[2021-04-28 07:40] andrewvanbreda commented on #80
@kitenetter
OK thanks. These forms have not been tested seriously yet as there are unlikely to be things that are hard to fix on the forms so rest of project taken priority. So your notes are useful.

[2021-04-28 08:41] andrewvanbreda commented on #80
@kitenetter
Actually just to note, anything available in the menus is available for testing.
The stuff that is completely under development and shouldn't be touched yet is hidden from the menu

[2021-04-28 09:05] andrewvanbreda commented on #80
@kitenetter
Ok have looked at this, I think this form is not loading its javascript at all at the moment.
So a lot of things will break.
Bit odd as it is essentially the same form as iRecord, think there is likely a general misconfiguration on the site in someway.
For now don't carry out any further testing on the data entry forms as it will be a waste of time.

[2021-04-28 11:27] kitenetter commented on #82
See what effect the new design has.

[2021-04-28 12:23] DavidRoy commented on #61
@kazlauskis I don't think the sample.privacy_precision is being set as required.  If I run this query, all the privacy_precision values are null

select *
from samples
where survey_id = 641

[2021-04-28 12:47] kazlauskis commented on #61
I didn't know you can set the precision to samples, is that what we should do? At the moment, we set it to occurrences (see occurrences from a recent survey from Claire https://warehouse1.indicia.org.uk/index.php/sample/edit/14232193).

[2021-04-28 12:51] DavidRoy commented on #61
@andrewvanbreda to advise on what is needed.  Options are:
samples.privacy_precision
occurrences.sensitivity_precision

or both, set to 1000.  I'm not sure if there is a distinction between 'privacy' and 'sensitivity'

[2021-04-28 13:26] kitenetter commented on #6
Andy will investigate adding a language choice to the user profile, as an alternative to remembering a browser setting.

[2021-04-28 13:39] kitenetter commented on #61
@andrewvanbreda regarding map clicks on iRecord, go to one of the old explore pages:
https://www.brc.ac.uk/irecord/my-records-old
https://www.brc.ac.uk/irecord/all-records-old

If you select the "?" tool from the top-right of the map, and then click on any grid square, the records grid is filtered to show the records that fall under the square you have clicked on. I'm hoping that the PoMS maps can

[2021-04-28 14:08] andrewvanbreda commented on #53
@BirenRathod
Is this feasible?

[2021-04-28 14:16] BirenRathod commented on #53
@andrewvanbreda Basically not be clickable means no leading page link. and that simply means just disable that link. You just need to disable the top menu link, so only hover is available to display a drop down menu.

[2021-04-28 14:16] andrewvanbreda commented on #43
Note the above notes are now out of date and not necessary. The confusion was caused by the app not setting privacy precision on the samples, if this is set, then these samples will be shown at 1km level anyway.
The existing samples report will suffice in this area.

[2021-04-28 15:46] andrewvanbreda commented on #61
@kazlauskis @DavidRoy
Essentially the actual functionality between sensivity_precision and privacy_precision is very much the same apart from one is held against the sample and one against the occurrence. Both blur the map and hide location details.
The main difference is the intention. Privacy precision is mainly used for user privacy reasons. Sensitivity precision is for protecting rare species.

[2021-04-28 15:52] andrewvanbreda commented on #53
Hi @BirenRathod,
This is the problem I have though, the top-level links were always disabled & set to "<nolink>",  but are still active anyway. So this is the issue I don't understand how to fix.

[2021-04-28 15:55] BirenRathod commented on #53
@andrewvanbreda Instead of storing with blank string like this "", use `<nolink>` which should disable it.

[2021-04-28 15:55] DavidRoy commented on #61
Thanks for the explanation.  In that case the action is for @kazlauskis to apply the value 1000 to samples.privacy_precision

[2021-04-28 16:02] kitenetter commented on #78
Suggested options for 'pop-up' functionality.

![image](https://user-images.githubusercontent.com/16039111/116435311-201d5300-a843-11eb-9dfc-2b62d72ff146.png)

![image](https://user-images.githubusercontent.com/16039111/116435344-26abca80-a843-11eb-8a79-a141b4cad60a.png)

![image](https://user-images.githubusercontent.com/16039111/116435374-2e6b6f00-a843-11eb-958a-c0dc9c42b368.png)

@andrewvanbred

[2021-04-28 16:10] kitenetter commented on #33
@andrewvanbreda as discussed, here is the SQL that we've been using to download PoMS data via pgAdmin. What I haven't been able to do in pgAdmin is to incorporate the 'pivot' approach so that the insect group occurrences can be included alongside the sample attributes.

**Sample attributes:**

`SELECT
	s.id AS "sampleid",
	(case when snf.privacy_precision is null then s.location_name else 'Sensiti

[2021-04-28 16:10] kazlauskis commented on #61
Thanks, it's good to know the difference. I will change it to `privacy_precision` then.

[2021-04-28 16:10] andrewvanbreda commented on #61
@DavidRoy @kazlauskis
Just had a look in database just to refresh myself.
Yes this is correct, just set the privacy precision.
The spatial reference and location information is held at the sample level anyway, so that is where we protect in this case. All occurrences hanging off the sample will be shown at the sample spatial reference.

I did check the bat page I did on iRecord which also has priv

[2021-04-28 16:48] BirenRathod commented on #53
@kitenetter those should not be visible. Do you want me to do that or are you ok to do that?

[2021-04-28 16:57] kitenetter commented on #53
@BirenRathod I can no longer see any problem with menus when logged out. I need to do a final review of which menu headings we use but I don't think there are any other remaining issues here.

[2021-04-28 17:59] andrewvanbreda commented on #53
@BirenRathod
There was a typo in my message, they are currently set to nolink and it doesn't work.
You actually aren't allowed a blank string

Actually just realised whey I had a typo in my previous message, when I type that GitHub is removing it.

The page still reloads on clicking heading

[2021-04-28 18:24] kitenetter opened #83 "1 km square allocation map"
https://test-ceh-poms.pantheonsite.io/square-volunteer-pantrap-statuses

**Map symbol colours:**
At the moment unallocated squares are semi-transparent red, changing to solid red when allocated. Can this be changed so that unallocated squares are semi-transparent red and allocated squares are semi-transparent dark blue.

I think you were also intending to vary the colour depending on whether the s

[2021-04-28 18:42] kitenetter opened #84 "1 km square management page"
https://test-ceh-poms.pantheonsite.io/node/13

Requests:
- Add filter boxes at the top of each column
- Column "ID" does not need to be displayed in the grid.
- Column "Type" does not need to be displayed in the grid.
- Add column for "Allocated"
- Add column for "Location code" (can be labelled just as "Code")
- Add column for "Land cover category" (can be labelled just as "Category")

And on the

[2021-04-29 10:22] andrewvanbreda commented on #83
@kitenetter
Just working on report for these changes.
I can see that I think the grid clicking is being broken by the same problem as the data entry forms have, the javascript is not loading properly.
In terms of the exclusions.
I think this may need extra budget, as I will need to change the whole system because the squares need excluding from the data entry forms also, affects other reports also

[2021-04-29 10:33] andrewvanbreda commented on #83
@kitenetter
Hi Martin,
I need to check what is meant by "current year".
Do you mean calendar year, or do you mean the past year from the date of viewing?
So the former of these will show a count of 0 as soon as you reach 1st Jan, but the second will have a count that changes day to day.

[2021-04-29 10:44] kitenetter commented on #83
@andrewvanbreda
I mean the calendar year, so that if you access the page on any date in 2021 it shows only the surveys from 2021, but as soon as we hit 1 Jan 2022 it 'resets' and only shows data for 2022.

[2021-04-29 10:57] kitenetter commented on #83
@andrewvanbreda
Regarding the square exclusions, am I correct in thinking that the list of squares that you are pulling in to the report is defined by the location type, as discussed [here](https://github.com/BiologicalRecordsCentre/PoMS/issues/14#issuecomment-787892797)?

If so, will it work if I edit the three squares that we don't want, and give them a different location type?

[2021-04-29 11:06] andrewvanbreda opened #85 "Footer translation capability"
@kitenetter
I have now made some changes to the configuration of the site, that should allow Welsh translation for the footer.
You should be able to get at the Welsh translation page for the footer here

https://test-ceh-poms.pantheonsite.io/cy/block/1

[2021-04-29 11:47] andrewvanbreda commented on #83
@kitenetter
Yes, actually yes this latter idea is good. I like that idea.
Seems so obvious now, kicking myself didn't think of that.
Let me know which ones and I will switch them

[2021-04-29 13:22] kitenetter commented on #83
@andrewvanbreda I've edited the location type for the three squares that are no longer needed:

![image](https://user-images.githubusercontent.com/16039111/116557394-4e0f9f80-a8f6-11eb-8b0d-4e9ecd198707.png)

Hope that's the right thing to do, let me know if anything needs to change.

[2021-04-29 13:54] andrewvanbreda commented on #83
@kitenetter
Yes this is great idea, and looks like you have also done right thing there also.

[2021-04-29 15:01] andrewvanbreda commented on #80
@kitenetter
All mentioned problems with this page should be fixed now (including help from John with he autocomplete).
I have also fixed the save and seen this working.

[2021-04-29 15:03] andrewvanbreda commented on #80
@kitenetter
Data entry testing can now continue on all pages available in menu

[2021-04-30 08:36] andrewvanbreda commented on #78
@kitenetter
Hi Martin,

My thinking is this:

1. Definitely not do-able for live as we don't have a way to support a grid click at the moment in Indicia. I would have to code something for that. I can see this being quite a nice option for the longer term but would require extra budget.
I will of course double-check there isn't something we have that already does this, but I do not think so.

2. T

[2021-04-30 08:52] kitenetter commented on #78
@andrewvanbreda do you mean the linking between dots and grid as described [here](https://github.com/BiologicalRecordsCentre/PoMS/issues/61#issuecomment-828463268)? Or was there another iRecord page that I mentioned?

[2021-04-30 08:56] andrewvanbreda commented on #78
@kitenetter
Yes thanks that is it. Will have a look when get chance.

[2021-04-30 10:30] kitenetter commented on #33
@andrewvanbreda
As discussed, users should be able to download the full set of attrbutes (as per the bulleted list above) for their own data, but we still need to confirm what the output should be for users downloading other people's data via the polygon select. Claire and I are working on that and we will confirm it as soon as we can next week.

[2021-04-30 11:36] kazlauskis commented on #61
@DavidRoy I have changed the app to submit using `privacy_precision` but I cannot test this as the warehouse UI doesn't have this field. I have just uploaded a test sample record `14258170`, could you please check that it contains the desired field in the database?

[2021-04-30 11:44] kitenetter commented on #61
@kazlauskis sample with ID = 14258170 has value 1000 in attribute privacy_precision, so it looks like that has worked

[2021-04-30 11:48] kazlauskis commented on #61
@kitenetter yay, cheers. Please close it if that's all that was required in the ticket.

[2021-04-30 12:06] kitenetter commented on #61
@andrewvanbreda can close if he is happy that this is feeding through correctly to the website maps.

Do we need to do any retrospective updates to the samples previously submitted, and if so can you do that Andy?

[2021-04-30 12:20] andrewvanbreda commented on #61
@kitenetter
Yes these will need updating, I will send you SQL when I get chance, but I am busy with Plant Portal today.

[2021-04-30 12:22] kitenetter commented on #61
@andrewvanbreda I don't have update permissions for the warehouse so I'll have to ask you to do that when you get a chance - no immediate hurry.

[2021-04-30 12:23] andrewvanbreda commented on #61
@kitenetter
I have no access at all to the warehouse DB, but I can ask Biren to run it

[2021-04-30 14:21] andrewvanbreda commented on #81
@kitenetter
Hi Martin
Fixed yesterday. Please close if happy.
The disallow grid reference is outside the scope of the current budget, but feel free to raise it separately in the future.

[2021-04-30 14:39] andrewvanbreda commented on #75
@kitenetter
Didn't we decide this page didn't need a map? or was that another page?

The specification says this
"A1.4 Map display of 1 km squares with summary data from previous years
This would allow logged-in users to click on a 1km square and see some summary information based on data from years prior to the current one. Depending on what it is possible to do, this summary could include:
•	Lis

[2021-05-03 17:29] andrewvanbreda commented on #78
@kitenetter
I got the map clicking to affect grid to work. I have committed the code (although that hasn't been pulling onto the site yet so you won't see it yet).
The reason why it worked straight away on iRecord is that it can work automatically for occurrences based reports, but with some fiddling got it working with samples.

I also changed the FIT counts map to react to filtering the grid, I

[2021-05-04 21:50] andrewvanbreda commented on #78
@kitenetter
I now have something pretty much identical to number 2 working on my machine.
(Although I haven't changed the report yet to return all those fields.....although that is a far less difficult issue am less worried about)
There is just one problem I have to fix, and that is I realise the popup and clicking on map to filter grid don't work at same time at moment.
Switching on one breaks th

[2021-05-06 09:25] andrewvanbreda commented on #78
@kitenetter @DavidRoy @CCarvell
I was just wondering if the email system is working now?, did you get the email about a quick catchup to see what is needed for live on Wednesday. Think that might be very useful.

[2021-05-06 09:31] BirenRathod commented on #78
@andrewvanbreda @kitenetter @CCarvell
The email system on PoMS is working fine. I have updated library on it.

[2021-05-07 10:00] andrewvanbreda commented on #33
@BirenRathod
I have some new commits for various reports
Could you pull the reports in projects/PoMS/ from indicia-reports onto live please.

Thanks

[2021-05-07 13:56] BirenRathod commented on #33
@andrewvanbreda I have pulled all reports now.

[2021-05-07 14:32] andrewvanbreda commented on #33
@BirenRathod Great thanks, we take a look right now

[2021-05-10 12:50] andrewvanbreda commented on #33
@BirenRathod
Hi Biren, are you able to pull those PoMS reports again please as further changes have been made.
Thanks

[2021-05-10 12:53] BirenRathod commented on #33
@andrewvanbreda they have pulled on live now.

[2021-05-10 13:05] andrewvanbreda commented on #33
@BirenRathod Brilliant, thanks Biren

[2021-05-10 16:02] andrewvanbreda opened #86 "Add welsh support for reports"
AVB to make Welsh report variants. Should be relatively straightforward as those language variants are held in attrs_json

[2021-05-10 18:57] kitenetter opened #87 "Translation of enter results page"
@andrewvanbreda I just tried to import the Welsh translation of the enter results page, and this appears to have gone horribly wrong in the resulting pages for both English and Welsh:
https://test-ceh-poms.pantheonsite.io/enter-fit-count
https://test-ceh-poms.pantheonsite.io/cy/cyflwyno-cyfrif-fit

The Welsh page doesn't seem to have created any of the Indicia content.

Apologies if I've done some

[2021-05-10 19:04] andrewvanbreda commented on #87
@kitenetter
Hi Martin,
The Indicia configuration of the Welsh translation site of this page has been wiped. It should be the same as the English version, so I will try and reinstate it now. Shouldn't take long, so will get back to you in 10 mins or so will a result

[2021-05-10 19:12] andrewvanbreda commented on #87
@kitenetter
I believe I have corrected the page problems, although I don't think any translations would have imported. Perhaps a quick chat tomorrow morning about what you are attempting to do so I can advise?

[2021-05-10 19:28] kitenetter commented on #85
I think this is now working okay, although I seem to have lost the formatting for the Privacy Notice in Welsh. Will sort that out. Closing.

[2021-05-10 19:28] #85 closed, assigned to kitenetter

[2021-05-10 19:32] kitenetter commented on #87
Thanks @andrewvanbreda

I'm confused about whether transifex is supposed to be able to transalte the Indicia pages or not, and if it can't what we have to do instead, so a chat would be helpful. Will send a calendar booking for 10am.

@DavidRoy do you have any experience of using transifex to translate Indicia data entry and/or reporting pages?

[2021-05-10 19:37] andrewvanbreda commented on #87
OK, I don't know about transifex. Indicia does use Drupal's translation system however it may not for Warehouse attributes.
Worst comes to worst, as long as you have a readable list of what translations were made, I can enter them manually into Warehouse.
I will experiment in the morning.
The translation system is quite complex, but there should always be a manual solution available to any problem

[2021-05-10 19:47] kitenetter commented on #87
Yes, I think we have the necessary words translated, and I can extract them manually from transifex, so we should be able to find a workaround.

[2021-05-10 19:51] DavidRoy commented on #87
@kitenetter - in theory, yes, they are sent as individual strings from the page.  Using content type = Locale

As an example. on the page: https://test-ceh-poms.pantheonsite.io/enter-fit-count
you need to send individual strings such as 'Date of FIT Count:'

However, I'm a bit confused why the strings are not appearing in the list of translatable terms:
https://test-ceh-poms.pantheonsite.io/admin/

[2021-05-10 20:02] kitenetter commented on #87
@DavidRoy in that case my initial error was in sending the whole page to be translated, rather than the individual strings. Is it okay to find a workaround solution by manually transferring the page translation back onto the website, or do I need to go back to square one and work out how to send the strings (which I would prefer not to do because it will take longer)?

Behind that is a more genera

[2021-05-10 20:09] DavidRoy commented on #87
@kitenetter it’s fine to take whatever approach gets the job done for ukpoms although I have got an eye on the wider requirement for translation

[2021-05-11 11:15] andrewvanbreda commented on #33
@BirenRathod
Hi Biren,
Would you be able to pull these reports again thanks. I have now added language support for the termlists_terms (although not columns yet).
Thanks

[2021-05-11 11:37] BirenRathod commented on #33
@andrewvanbreda I have pulled those reports on live now.

[2021-05-11 12:04] andrewvanbreda commented on #33
@BirenRathod
Thanks Biren :)

[2021-05-11 13:48] andrewvanbreda opened #88 "Reporting data currently incorrect"
Currently the reports have empty attribute data and the species count numbers are wrong.
Should be easy to fix once problems found

[2021-05-11 13:59] andrewvanbreda commented on #41
@kazlauskis @kitenetter
Hi,
Just looking to test editing app records.
It looks like the data is appears on the website recording forms (mostly) ok.
But I noticed that the field "Name of place where the FIT Count was carried out:" is required on the website (location.name in the database) but seems to be empty in the app data.
Normally I would expect editing a record then clicking would save with n

[2021-05-11 14:01] andrewvanbreda opened #89 "Exiting data not loading in Welsh"
Using the Welsh variant of the Public Fit Count page, the app data is not loading in edit mode.

[2021-05-11 14:14] kitenetter commented on #41
@andrewvanbreda @kazlauskis

It is correct that the app does not currently store a location name. It's possible that it [may do so in future](https://github.com/NERC-CEH/fit-count-app/issues/69#issuecomment-838542717) but it won't be mandatory in the app.

I don't think this is necessarily a problem. We are not expecting many users to edit their app FIT Counts via the website, and if they do the w

[2021-05-11 14:16] kitenetter commented on #41
So I think we can leave this as it is for now. Please close if you agree.

[2021-05-11 14:24] andrewvanbreda commented on #41
@kitenetter
OK.
Although it does currently leave me with the problem I can't test saving on the existing app records as I had wanted to save without altering the data.

[2021-05-11 14:26] kitenetter commented on #41
You could test using one of the dummy records added prior to 30 April, e.g. those from recorder ViliusStankaitis

[2021-05-11 14:31] kitenetter commented on #41
@andrewvanbreda I've just edited one of my own dummy app records and when I saved it asked for a location name, which I added, and then it saved okay, so it looks good to me.

However, the location box is picking up on the list of NNR names,a nd also the PoMS 1km square names, and offers them as an autocomplete, which is not really what we want to happen:

![image](https://user-images.githubuserco

[2021-05-11 14:57] andrewvanbreda commented on #41
@kitenetter
OK thanks for note. I will take a look at once have done some of the other task.

[2021-05-11 15:21] kitenetter commented on #87
@andrewvanbreda here are the translations of the various labels and help text etc. for the "Enter results" page:

[PoMS website Indicia page translations_Enter results.docx](https://github.com/BiologicalRecordsCentre/PoMS/files/6460262/PoMS.website.Indicia.page.translations_Enter.results.docx)

[2021-05-11 15:38] kitenetter opened #90 "Translation of Map of FIT Counts"
Some labels have not yet been translated - I will follow that up with Elen.

[PoMS website Indicia page translations_Map of FIT Counts.docx](https://github.com/BiologicalRecordsCentre/PoMS/files/6460368/PoMS.website.Indicia.page.translations_Map.of.FIT.Counts.docx)

[2021-05-11 15:47] kitenetter opened #91 "Translation of My results"
I have added the translations for the title and intro text box. The labels and help text, which are the same as for Map of FIT Counts (#90), are not yet translated.

[2021-05-11 16:34] andrewvanbreda commented on #90
@kitenetter
 Have done the ones that are there.

The Welsh "Main text" doesn't have the Fit Count link in it, I notice that page doesn't have a Welsh translation at the moment, so I left that for now.

[2021-05-11 17:22] kitenetter commented on #90
@andrewvanbreda as you may have seen I've been trying to tidy up the menu headings and the URL aliases. I don't know why the FIT Count page had vanished in its Welsh form but I have reinstated it. It had been done before, but I guess this is another transifex quirk that I don't understand. Anyway, it is back again now:
- English: https://test-ceh-poms.pantheonsite.io/fit-counts
- Welsh: https://te

[2021-05-11 18:38] andrewvanbreda commented on #90
@kitenetter
Ok thanks, no problem

[2021-05-11 20:34] kitenetter opened #92 "How to translate sub-menu item for "Latest news""
Under "News and contacts" we have a sub-menu item "Latest news".

For the Welsh version of the site, this should say "Newyddion diweddaraf".

I can't work out how to apply a Welsh translation to this item, which is generated from a View rather than being a standard sub-menu item.

If this isn't straightforward it can be ignored, since we are not going to be translating the actual news items into W

[2021-05-11 20:53] kitenetter commented on #75
@andrewvanbreda I'm finding it hard to think through how this relates to the data entry reports and forms for the 1 km square surveys. This A1.4 page is much less of an immediate priority compared to getting the 1 km data entry forms working.

The main purpose of A1.4 is to enable our 1 km square volunteers to gain access to the species data that is added after they have sent in their samples. So

[2021-05-11 21:02] kitenetter opened #93 "Data download via polygon select"
We already have the ability for users to download their own data, see #33

We also wish to enable certain users to download data from others for an area of their choice, specified by a polygon drawn on the map (A1.5 in the specifications).

This needs to be a linked to a new website role: users wishing to download via a polygon will need to apply to PoMS to be given that role.

The download should

[2021-05-11 21:03] kitenetter commented on #33
The download for users' own data looks like it is working well, thanks.

In the thread above we said "we still need to confirm what the output should be for users downloading other people's data via the polygon select" - I'm going to put that in a new issue #93

[2021-05-11 21:16] kitenetter commented on #33
The current users' download includes a column for "Pan-trap number" - this is not needed for the FIT Counts and can be dropped.

The column "Photo of target flower" can be dropped (the file name it contains will not be meaningful to users).

We need to add a column for "Other flower name" (this is used whenever "Other flower" is chosen for the target flower).

If possible we should translate lat/l

[2021-05-11 21:29] kitenetter commented on #55
Closing.

[2021-05-11 21:29] #55 closed, assigned to nobody

[2021-05-11 21:33] kitenetter commented on #56
There are still a few items in transifex awaiting translation, but most is now done and I'm closing this issue.

[2021-05-11 21:33] #56 closed, assigned to kitenetter

[2021-05-11 21:35] kitenetter commented on #53
I think the only issue left here is that the `<nolink>` top-level menu items are still forcing a page refresh. Would be good to prevent that if we can.

[2021-05-12 07:49] kitenetter commented on #75
@andrewvanbreda I think you can ignore the previous comment, I wasn't thinking it through properly. If we just use the standard occurrences we will be exposing the individual pan-trap details, which we don't want to do.

So we do need a summarised report that lists the species for each 1 km square in each year.

Ideally the report should show:
- Square name
- 1 km grid ref
- Year being reported
-

[2021-05-12 08:26] andrewvanbreda commented on #53
@BirenRathod
Biren at you able to comment on a fix for this?

[2021-05-12 09:16] andrewvanbreda commented on #92
Hi @kitenetter

I think this view needs a translation which can be added here.
https://test-ceh-poms.pantheonsite.io/admin/structure/views/view/news/translate

[2021-05-12 09:17] andrewvanbreda commented on #93
@kitenetter
Yes ok, think this can be done just be creating a new duplicate download page with map attached to a new full. This shouldn't be difficult.

[2021-05-12 09:22] andrewvanbreda commented on #75
@kitenetter OK, I think what you might be talking about a freeform report here rather than the grid I expected.
Will chat to you sometime over video about this. Prob not in today's meeting though, we can have a specific chat sometime about it.

[2021-05-12 09:50] kitenetter commented on #92
Thanks @andrewvanbreda - sorted and closing.

[2021-05-12 09:50] #92 closed, assigned to kitenetter

[2021-05-12 10:26] #69 closed, assigned to BirenRathod

[2021-05-12 11:28] kitenetter commented on #83
Additional request:
Add "Location code" from the locations table into the grid (to replace "Square ID").

[2021-05-12 12:41] BirenRathod commented on #53
@kitenetter & @andrewvanbreda Don't worry too much at present about menu bit, it will get fix with new theme.

[2021-05-12 13:01] kitenetter commented on #53
Thanks @BirenRathod and the new design demo has just been circulated, in which the menus work in a slightly different way and this problem is no longer an issue, as you said. Closing.

[2021-05-12 13:01] #53 closed, assigned to BirenRathod

[2021-05-12 13:19] andrewvanbreda commented on #41
@kitenetter
Hi
Which page is this, this must be the Public FIT count one?
I am not even sure if this field is supposed to show a square at all (it doesn't for me). Isn't it just supposed to be free text?
Please let me know what this field should actually do.

[2021-05-12 13:29] kitenetter commented on #41
@andrewvanbreda
I started from the "My results" page, found one of my app-entered counts, and clicked on the edit button. That sent me to a page like this:
https://test-ceh-poms.pantheonsite.io/enter-fit-count?sample_id=14181012

The dropdown list appears when I start typing in a location name.

However, I've just realised that the recording forms on iRecord do the same thing. And I think it is th

[2021-05-12 13:42] andrewvanbreda commented on #82
AVB to test for May 2021 release once new design available

[2021-05-12 13:48] andrewvanbreda commented on #41
@kitenetter
Leave open at the moment so I can check what this field is doing, it shouldn't be doing what it is doing (even if iRecord does it too)

[2021-05-12 14:06] andrewvanbreda opened #94 "Consider how to move test configuration to live"
Consider how to move test configuration that has been setup to live environment

[2021-05-12 14:21] andrewvanbreda commented on #41
@kitenetter
Am confused about this field, it appears to be an auto-complete but free text also.
Is this supposed to just be a free text field? (i.e. just text, not linked to an actual location database record)
Cheers

[2021-05-12 14:25] andrewvanbreda commented on #5
@DavidRoy @BirenRathod
I think we should go ahead with this test now.
Martin agreed in meeting this morning.
We only have week left, so think need to get on now.
Thanks

[2021-05-12 14:43] BirenRathod commented on #5
@andrewvanbreda  I have no problem, let me know, when do you want to start?

[2021-05-12 14:52] kitenetter commented on #41
On iRecord it is a bit complicated. Basically it is a free-text field, but users have the ability to save sites into their own "My sites" list, and the sites in that list are offered as auto-complete options that can either be selected, or can be ignored and over-written with free text. If an option is chosen from the "My sites" list then I believe a link is stored between the sample ID and the lo

[2021-05-12 14:56] andrewvanbreda commented on #5
@BirenRathod
The test SQL at the top of this email has  been checked on my own machine, but will need running on the live warehouse. This should initially only copy 1 record which can be checked, then we can look to run it for more records once this is done.
Obviously as this is running on live, you will need to take any recovery precautions you see fit before the run.

[2021-05-12 15:01] BirenRathod commented on #5
@andrewvanbreda For one record we can easily revert it back, so seems like a very minimum risk. isn't it?

[2021-05-12 15:05] andrewvanbreda commented on #5
@BirenRathod The one record itself isn't a risk, it would just be if there was some kind of problem with the run and it accidentally did more.
I mean you can obviously check the SQL yourself and decide yourself if you are happy to run it.
It is entirely up to you whether you feel any precautions are needed or not.

[2021-05-12 15:07] andrewvanbreda commented on #41
@kitenetter Ah ok, thanks for the explanation, I will consider what you have said in regards to existing data.

[2021-05-12 15:08] BirenRathod commented on #5
Thanks @andrewvanbreda. I should have to worry about mostly two tables. samples & occurrences. am I right?

[2021-05-12 15:11] andrewvanbreda commented on #5
@BirenRathod
Yes it updates just one occurrence and its associated sample.
The only other table it touches is the work_queue

[2021-05-12 15:23] BirenRathod commented on #5
@andrewvanbreda yes, I seen it but I'm more concern about other two tables.

[2021-05-12 15:29] kitenetter commented on #50
Now dealt with.

[2021-05-12 15:29] #50 closed, assigned to kitenetter

[2021-05-12 15:29] andrewvanbreda commented on #5
@BirenRathod
Ok, let me know if you need any further input from me.

[2021-05-12 15:32] andrewvanbreda commented on #5
@BirenRathod
One test you could do is run it on DEV/Test warehouse and replace the 13996817 ID with one that doesn't exist and it should do nothing

[2021-05-12 15:39] andrewvanbreda commented on #5
@BirenRathod
If you are unsure, what you could do is run the SQL below first.
Then you can observe it is just updating one record (the SQL makes not change as set survey_id=survey_id & set website_id=o.website_id),  then do the real run with the sql above.
That way if the initial test goes wrong, no alteration is made to the rows

update indicia.samples
set survey_id=survey_id
where survey_id = 46

[2021-05-12 18:18] andrewvanbreda commented on #46
@kitenetter
We seem to be missing translations for Wind Strength

[2021-05-12 19:07] andrewvanbreda commented on #78
@kitenetter
This is now present on the FIT Count Map page on test site.
Click on the balloon icon in top right of map to use it.
Note that the popup will not show actual correct details at moment as it is driven by an unfinished report.

[2021-05-12 19:55] kitenetter commented on #46
Terms for "Weather: wind  (PoMS)" (termlist id 673):

**id | English | sort order | Welsh**
13589 | Leaves still/moving occasionally | 1 | Dail yn llonydd/symud weithiau
13590 | Leaves moving gently all the   time | 2 | Dail yn symud yn ysgafn drwy’r amser
13591 | Leaves moving strongly | 3 | Dail yn symud yn sylweddol
13606 | Not recorded | 4 | Heb ei gofnodi

[2021-05-13 09:52] andrewvanbreda commented on #46
@kitenetter
Done, will not appear on system just yet until background scheduled tasks have been run by warehouse.

[2021-05-13 10:19] andrewvanbreda commented on #46
@kitenetter These are on site now.

Maybe close this if you are happy?

[2021-05-13 10:29] andrewvanbreda commented on #89
@kitenetter @DavidRoy
Am realising we have a serious problem here (not to do with app). Whereby my other multi-lingual projects have multi-language support, having spoke to John it, it looks like Indicia is not going to load this existing attribute data in this particular situation.
I hadn't expected this, it may have also been deceptive in tests as I think data entered in Welsh would load in Wels

[2021-05-13 10:44] #46 closed, assigned to DavidRoy, kitenetter

[2021-05-13 12:12] andrewvanbreda commented on #78
Note without me touching it this is seems to have stopped working sometime overnight. I will have to investigate at lower priority

[2021-05-13 14:51] andrewvanbreda commented on #89
@BirenRathod @kitenetter @DavidRoy
Ok spoke to John, I think (probably) there is an elegant way to correct this situation without changing Indicia.

There is an option that can be enabled
public static $delegate_translation_to_hostsite = TRUE;

Once this is on, we can switch the Welsh page to use English terms, but then those are auto translated by Drupal's language system (we still leave synonyms

[2021-05-13 14:57] BirenRathod commented on #89
@andrewvanbreda you need to remove helper_config.php file from .gitignore. only then git will accept the commit.

[2021-05-13 15:07] andrewvanbreda commented on #89
@BirenRathod Thanks Biren, I will try to take that approach then

[2021-05-13 20:07] andrewvanbreda commented on #89
@kitenetter @DavidRoy @BirenRathod
Just to let you know, this technique looks like it will resolve this problem.
I only imported one term, but can now see this being selected correctly on Welsh version of the page.
Biren: Just to note I didn't need to change $delegate_translation_to_hostsite in the end, already set, so just needed to configure individual form

[2021-05-14 09:57] kitenetter commented on #91
Here is the final set of translated terms for this page:

[PoMS website Indicia page translations_My results_additions.docx](https://github.com/BiologicalRecordsCentre/PoMS/files/6478060/PoMS.website.Indicia.page.translations_My.results_additions.docx)

[2021-05-14 09:57] kitenetter commented on #90
Here is the final set of translated terms for this page:

[PoMS website Indicia page translations_Map of FIT Counts_additions.docx](https://github.com/BiologicalRecordsCentre/PoMS/files/6478065/PoMS.website.Indicia.page.translations_Map.of.FIT.Counts_additions.docx)

[2021-05-14 09:58] kitenetter commented on #87
Here is the final set of translated terms for this page:

[PoMS website Indicia page translations_Enter results_additions.docx](https://github.com/BiologicalRecordsCentre/PoMS/files/6478069/PoMS.website.Indicia.page.translations_Enter.results_additions.docx)

[2021-05-14 10:12] andrewvanbreda commented on #33
@BirenRathod
Are you able to pull these reports again, lot's of changes. Some reports are renamed, so just pull the whole PoMS folder.
Thanks

[2021-05-14 10:45] andrewvanbreda commented on #90
@kitenetter
Done those, although am not sure I have been given any translation for what is on the grid

[2021-05-14 10:55] BirenRathod commented on #33
@andrewvanbreda I have now pulled those reports on live warehouse.

[2021-05-14 11:02] andrewvanbreda commented on #87
@kitenetter
This final set now done, although not completed previous set yet.

[2021-05-14 11:10] kitenetter commented on #90
I haven't asked for a translation of the grid headings because they were not finalised before - I think we will have to live with them being in English for now.

[2021-05-14 11:18] #81 closed, assigned to kitenetter

[2021-05-14 11:26] andrewvanbreda commented on #94
@BirenRathod
Hi Biren,
Do you have any thoughts how we will move the configuration of the test site onto live when finished, as I think there is a live site already isn't there with holding page so presumably the usual Pantheon thing where is it activated and moved across won't be happening.

Thanks for any thoughts you may have regarding this.

[2021-05-14 11:27] andrewvanbreda commented on #33
@BirenRathod Thanks Biren, will check in a bit.

[2021-05-14 11:30] BirenRathod commented on #94
@andrewvanbreda
All stuff from test to live already moved, I just have to update this week changes from test to live.

[2021-05-14 12:01] andrewvanbreda commented on #94
@BirenRathod @kitenetter
When was that move done?, as obviously it means manual moving of all configuration across, including translations, all Martins stuff. Not sure if that is feasible.
How out of date is live?
Could you let me know the URL for it also.

[2021-05-14 12:08] BirenRathod commented on #94
@andrewvanbreda I moved about 15 days ago. it is ukpoms.org.uk. Don't worry about how old stuff on it because once we finish testing and decide to make site live we will move everything again. it is not a huge process.

[2021-05-14 12:17] andrewvanbreda commented on #94
@BirenRathod
Hi Biren,
Am a bit confused what is happening.
What is moving when you say "we will move everything again"?
 I thought the configuration won't be moved from test to live again and that is why there is a need to set live up manually.
Thanks for any clarification.

[2021-05-14 12:24] BirenRathod commented on #94
@andrewvanbreda Which configuration are you after?

[2021-05-14 12:33] andrewvanbreda commented on #94
@BirenRathod
Drupal database configurations, like the Indicia page setups on the test site.
Anything in the Drupal database really.

[2021-05-14 12:35] DavidRoy commented on #94
The test website points to the live warehouse.  I assume we'll replace the current live website with the test website when everyone is happy with it?

[2021-05-14 12:37] BirenRathod commented on #94
@andrewvanbreda Test website is already link to live, so I can move everything to live.

[2021-05-14 12:39] BirenRathod commented on #89
Thanks for this info @andrewvanbreda.

[2021-05-14 12:43] BirenRathod commented on #5
@andrewvanbreda
Both above queries run successfully.

[2021-05-14 12:46] andrewvanbreda commented on #94
@DavidRoy @BirenRathod
Ok thanks, that is what I was checking on, that it can be moved across when ready.
Great thanks.

[2021-05-14 12:47] andrewvanbreda commented on #5
@BirenRathod Ok thanks. I will look when get chance. We probably won't be moving the rest across on a Friday afternoon anyway, so will let you know by Monday.

[2021-05-14 12:51] BirenRathod commented on #5
No problem.

[2021-05-14 15:47] andrewvanbreda commented on #5
@BirenRathod
Hi Biren,
I think that is only my test SQL that has been run. To actually do the copy, the 4 SQL statements  in the second post in this thread need to be run.
Thanks

[2021-05-14 16:00] BirenRathod commented on #5
@andrewvanbreda Ok,

[2021-05-14 16:07] andrewvanbreda commented on #91
@kitenetter Have done these now and can see them on the screen.
I will close this issue as we need to get closing them, re-open needed.

[2021-05-14 16:07] #91 closed, assigned to andrewvanbreda

[2021-05-14 19:38] andrewvanbreda commented on #90
Closing this one now as both files supplied here done

[2021-05-14 19:38] #90 closed, assigned to andrewvanbreda

[2021-05-14 19:41] andrewvanbreda commented on #82
Still occurring on latest theme.

[2021-05-14 20:13] andrewvanbreda commented on #80
Closing this as original issue was fixed

[2021-05-14 20:13] #80 closed, assigned to kitenetter

[2021-05-15 12:05] andrewvanbreda commented on #89
@kitenetter @DavidRoy @BirenRathod
This is fixed and seen working. Problem is this means that welsh bleeds through to the 1km and Pan Trap forms.
However if I switch those forms to show both English/Welsh terms and then tell Javascript to only show the terms we want then this should work.
I need to do this anyway for a change for Karolis because the app has extra terms we don't want on the website

[2021-05-15 12:05] #89 closed, assigned to BirenRathod

[2021-05-15 13:32] andrewvanbreda commented on #87
@kitenetter
Have imported these. We will just have to keep our eyes open for any problems as I won't be able to go through every string to make sure it translated correctly.
I am not sure yet, but it may be necessary to remove quotes out of the strings, as they seem to be break pages even when escaped.
As there is indication here that some strings are for logged out users only, but hadn't realised

[2021-05-15 16:11] andrewvanbreda commented on #87
@kitenetter
The quote problem can be fixed by adding backslashes in front of quotes in the translations. I have tried to do this where I can
e.g.
Os ydych chi wedi cofrestru gyda\'r wefan, mewngofnodwch er mwyn i\'r Cyfrif hwn ymddangos yn eich rhestr \"Fy Nghofnodion\".

This should obviously be invisible on screen, however this does not always seem to happen and the backslash in printing on scre

[2021-05-15 20:33] andrewvanbreda commented on #78
Seems to be working again for no apparent reason (maybe theme change has affected things)

[2021-05-16 10:06] andrewvanbreda commented on #17
Closing this as John says this
"I think I've setup time inputs before where I just used a text_input with the regex validation on the attribute so it is forced to hh:mm format.
It's quite likely that I'll re-code the actual time_input to a html5 input with type="time" at some point, rather than use a library. That matches what we've done with dates. However for Safari we'll need a Polyfill or alte

[2021-05-16 10:06] #17 closed, assigned to BirenRathod

[2021-05-16 10:59] andrewvanbreda commented on #58
@kitenetter
Done (apart from CSV download), available in Administration menu.

@BirenRathod  I think we need to install this module (or similar alternative)
https://www.drupal.org/project/views_data_export

[2021-05-16 15:47] andrewvanbreda commented on #88
Minor counting bug fixed (I think anyway, not seen on actual site yet).
However the main issue is the Warehouse cache tables are not setup for multi-lingual, so am splitting reports into cached english versions and multi-lingual non-cached attributes.

[2021-05-16 16:45] andrewvanbreda commented on #86
Headings are currently going to be translated for now.
The rest of this is now being covered by changed for #88

[2021-05-16 16:45] #86 closed, assigned to andrewvanbreda

[2021-05-17 07:25] BirenRathod commented on #58
@andrewvanbreda That module is already available, so no problem for you to install it.

[2021-05-17 08:16] kitenetter commented on #87
@andrewvanbreda
The mention of "logged-out user" was just to indicate the attributes that are only relevant if the user is logged out, see: https://github.com/BiologicalRecordsCentre/PoMS/issues/10#issuecomment-797530997

That was intended to replicate the way the current iRecord form works for logged-out users.

If I try to enter a record when logged out, using the form as it currently stands, I

[2021-05-17 08:19] andrewvanbreda commented on #87
@kitenetter
Yes am aware of this one (actually there was originally a second attribute it warn about also that was fixed), the problems are all linked. The system as not showing a particular kind of attribute.
I think actually once this is fixed, the profile fields for unregistered users will show (First name, surname, Email). Also I think the instruction text will work also.
So this is all one pr

[2021-05-17 08:45] andrewvanbreda commented on #58
@BirenRathod
Thanks Biren. Didn't realise that would be in the default list. Cheers

[2021-05-17 08:47] andrewvanbreda commented on #33
@BirenRathod
Are you able to pull the PoMS folder again please, I made quite a few changes yesterday although there will be some more later)
Cheers

[2021-05-17 08:49] BirenRathod commented on #58
@andrewvanbreda No porblem.
I recon , please search from the module list, if you can't find then let me know and I make sure to available for you.

[2021-05-17 08:50] BirenRathod commented on #33
@andrewvanbreda I have pulled those reports this morning as I was doing same for other reports. It is already there.

[2021-05-17 12:18] kitenetter opened #95 "Question: edits to Welsh text"
@andrewvanbreda
Some of the Welsh text has got set back to English following the design changes. I will reinstate the Welsh, but I just wanted to double-check that it is okay for me to do that on the test website, and that it will then get carried over to the live site - is that correct?

[2021-05-17 12:30] andrewvanbreda commented on #95
@kitenetter
Yes, changes to test will carry over to live.
Be aware though if what you are noticing is on an Indicia page, it is likely because I am working on it.
I am having to do quite a lot of things to get the system to work with English on some pages Welsh on others.

[2021-05-17 12:40] kitenetter commented on #95
Thanks @andrewvanbreda - the changes are on non-Indicia pages I think, plus some of the menu items have lost their Welsh.

Closing.

[2021-05-17 12:40] #95 closed, assigned to andrewvanbreda

[2021-05-17 12:49] andrewvanbreda commented on #33
@BirenRathod
Can I get you to pull the PoMS reports folder again please. Lots of new versions of the reports hopefully works better with multi-lingual.
Cheers.

[2021-05-17 21:46] andrewvanbreda commented on #59
These fields are fixed now, so shown to logged out users.
There still seems to be an oddity where shown if logged in Welsh, but they are populated correctly so shouldn't be deal breaker (although obviously still better to fix). Can add jQuery to remove if needed.
Will close this as we have another issue open for final testing that form.

[2021-05-17 21:46] #59 closed, assigned to andrewvanbreda

[2021-05-18 09:22] andrewvanbreda commented on #5
@BirenRathod
Hi Biren,
Can I check if those 4 sql statements at the top were run, as am not seeing the record I was expecting on the system.
Cheers

[2021-05-18 09:29] BirenRathod commented on #5
@andrewvanbreda  Do you want me to run?

[2021-05-18 09:32] andrewvanbreda commented on #5
@BirenRathod Yes please, we will have to as live is Thursday as far as I am aware. So we need to check this record survey switch is working.

[2021-05-18 09:49] kitenetter opened #96 "Welsh text not displaying"
On the Home page, if I choose the Welsh version, there is some text displaying in English:

![image](https://user-images.githubusercontent.com/16039111/118630665-a683df80-b7c6-11eb-9e00-3c341d40a284.png)

However, if I edit that page, the text appears to be in Welsh:

![image](https://user-images.githubusercontent.com/16039111/118630627-9bc94a80-b7c6-11eb-9f26-b5d9b2753a51.png)

@andrewvanbreda is

[2021-05-18 10:07] andrewvanbreda commented on #38
@kitenetter
I have checked this, and both English and Welsh registrations work.

There are 3 problem remaining though (number 1 is for me, 2 is for your translator, 3 for me after you reply)

1. The Over 13 box is not currently mandatory.
This is hard than you might think as off is valid to the computer and I can't see easy way to add code to this page, checking with John.
Actually we could make t

[2021-05-18 10:11] andrewvanbreda commented on #88
Numbering fixed and seen working.
The rest now covered by #33

[2021-05-18 10:11] #88 closed, assigned to andrewvanbreda

[2021-05-18 10:15] BirenRathod commented on #5
@andrewvanbreda I will let you once done.

[2021-05-18 10:16] andrewvanbreda commented on #96
@kitenetter
Think the Welsh translation needs editing here, it currently shows English

https://test-ceh-poms.pantheonsite.io/cy/block/4

[2021-05-18 10:38] kitenetter commented on #96
Thanks @andrewvanbreda
I hadn't realised that the home page was using blocks.

I've now edited the block at the top of the page, but having done so the layout for the rest of the (Welsh) page seems to have gone wrong.

Apologies if I've made this worse.

[2021-05-18 10:41] andrewvanbreda commented on #96
@kitenetter
I didn't know either until I had a sniff around, have seen this kind of thing before so I knew where to sniff.
Give me a few mins to finish something then will have a look

[2021-05-18 10:46] andrewvanbreda commented on #96
@kitenetter
Are you able to send a screenshot, my machine looks ok but it might be cached. Note sure what it should look like.

[2021-05-18 10:51] kitenetter commented on #96
English:

![image](https://user-images.githubusercontent.com/16039111/118638671-fc5c8580-b7ce-11eb-8167-c7b314715590.png)

Welsh as it is currently displaing on my machine:

![image](https://user-images.githubusercontent.com/16039111/118638766-15653680-b7cf-11eb-9be8-ce30fcaf8a40.png)

I thought that the two pages looked similar in layout before I edited the block at the top, but I can't be certai

[2021-05-18 10:54] andrewvanbreda commented on #96
@kitenetter
Fraid I have no idea as didn't have anything to do with development of the page, to me though it looks like they were never similar. If that is it gone wrong, then it has gone wrong in a very structured way. Also the images are different to that would result in a different text structure.
The image at the bottom could do with some padding I guess.

[2021-05-18 11:12] andrewvanbreda commented on #38
Actually there is a 3rd issue.
The terms of use needs setting up. I will deal with that.

[2021-05-18 11:28] kitenetter commented on #38
Have sent registration wording to transifex for translation.

[2021-05-18 11:54] BirenRathod commented on #96
@kitenetter This page https://test-ceh-poms.pantheonsite.io/cy/hafan requires to update content same as English one.

[2021-05-18 11:55] kitenetter commented on #96
@BirenRathod does that mean I have to copy the images etc. from the English page, and then add the translated wording?

[2021-05-18 11:57] BirenRathod commented on #96
@kitenetter  I have done that for you. you just need to translate sentences into welsh. Can you do it or Is it done via Transfix?

[2021-05-18 12:03] kitenetter commented on #96
Thanks @BirenRathod - that is great, and I can add the Welsh text back in.

[2021-05-18 12:07] BirenRathod commented on #96
@kitenetter Can you send me the welsh text of this two -> "News and contacts" & "Administrations", So I can change the menu.

[2021-05-18 12:16] BirenRathod commented on #96
@kitenetter No need to do, I have just managed to do it. Just check the text in welsh is ok.

[2021-05-18 12:30] kitenetter commented on #96
That's fine, thanks @BirenRathod
Will get the home page text sorted out later this afternoon.

[2021-05-18 14:02] andrewvanbreda commented on #12
@kitenetter
Have tested permissions and this is how it is currently setup

All testing done directly copying the URL into address bar as some items not yet available in menu.
Also checked items appear in menu where appropriate.

ANONYMOUS USER
Enter Public Fit Date (English) - Can Access
Enter Public Fit Date (Welsh) - Can Access
Fit Count Map (English) - Can access
Fit Count Map (Welsh) - Can acc

[2021-05-18 15:05] BirenRathod commented on #5
@andrewvanbreda I have ran all above top 4 SQLs now.

[2021-05-18 15:09] andrewvanbreda commented on #33
@BirenRathod
Would you be able to pull the PoMS report folder when you get a chance, thanks, as I need to check the reports on the site.
Cheers

[2021-05-18 15:16] andrewvanbreda commented on #5
@BirenRathod
OK thanks. Can't see it yet, but might be cache tables so will wait a bit and check again

[2021-05-18 15:20] BirenRathod commented on #33
@andrewvanbreda Done.

[2021-05-18 15:30] andrewvanbreda commented on #33
@BirenRathod
Thanks Biren,
Ok that is appearing, darn, not picking up the welsh data. Will get back to you

[2021-05-18 15:38] andrewvanbreda commented on #33
@BirenRathod
Hi Biren,
Would you be able to send me these two results so I can try to see what is going on.
Cheers

select * from indicia.sample_attribute_values where sample_attribute_id = 1050 and sample_id = 13803554 and deleted=false;

select * from indicia.cache_termlists_terms where id in
(select int_value from indicia.sample_attribute_values where sample_attribute_id = 1050 and sample_id =

[2021-05-18 15:42] BirenRathod commented on #33
@andrewvanbreda
Here are the results.
[POMS.zip](https://github.com/BiologicalRecordsCentre/PoMS/files/6502561/POMS.zip)

[2021-05-18 15:45] andrewvanbreda commented on #33
@BirenRathod
Aha, thanks I can see the issue. Will need to change the way the reports work a bit.

[2021-05-18 16:19] andrewvanbreda commented on #33
@BirenRathod
Hi Biren,
Hopefully these will be fixed. Can you pull the folder again whenever you get a chance.
Cheers

[2021-05-18 16:22] BirenRathod commented on #33
@andrewvanbreda
Done.

[2021-05-18 16:24] andrewvanbreda commented on #33
@BirenRathod
Thanks for quick response. Ok not working still, think will have to look later at this, just trying to do this quickly. Obviously making a mistake somewhere.

[2021-05-18 16:29] andrewvanbreda commented on #5
@BirenRathod
Um, the base records look ok in the Warehouse.
Would you be able to send this result please so can get idea what might be happening in the cache tables.

select * from indicia.cache_samples_functional where id = 13996817;

select * from indicia.cache_samples_nonfunctional where id = 13996817;

Thanks

[2021-05-18 18:43] andrewvanbreda opened #97 "Image upload not working on data entry form"
Hi @BirenRathod ,

Uploading an image on this page results in this error

"An error occurred uploading the file. Failed to open output stream."

Think you may have fixed this for NPMS in the past?

Cheers.

[2021-05-18 19:36] andrewvanbreda commented on #59
Fixed Welsh showing problem, just simple incorrect option selected.
No translations are available for those fields at the moment but will raise separately.

[2021-05-18 20:09] kitenetter opened #98 "Formatting of Welsh pages"
This is not critical, but would be nice to fix if we can.

On the English home page there is some formatting associated with the "GET INVOLVED" links:

![image](https://user-images.githubusercontent.com/16039111/118716743-145af600-b81d-11eb-9cd1-4f7a3b5096a2.png)

On the Welsh version of this page the formatting has been lost for the equivalent text: "CYMRYD RHAN".

The links still work okay, but

[2021-05-18 20:21] kitenetter commented on #98
On this page:
https://test-ceh-poms.pantheonsite.io/cy/about

We have lost the bold purple formatting for parts of the text. See the English equivalent:
https://test-ceh-poms.pantheonsite.io/about

If this is something that I can change please can you let me know what I need to do.

[2021-05-18 20:27] kitenetter commented on #98
The formatting of this page:
https://test-ceh-poms.pantheonsite.io/fit-counts

has not been applied to the Welsh version:
https://test-ceh-poms.pantheonsite.io/cy/fit-counts

[2021-05-18 20:35] kitenetter opened #99 "Adding images"
I've just re-inserted the image at the top of this page:
https://test-ceh-poms.pantheonsite.io/fit-counts

There are no buffers around it, and I can't see a way of adding buffers.

Can I control this? If not please can you set a buffer.

Or is there a better way of adding images under the new design?

[2021-05-18 20:51] kitenetter commented on #98
The formatting of this page:
https://test-ceh-poms.pantheonsite.io/one-km-square-survey

has not been applied to the Welsh version:
https://test-ceh-poms.pantheonsite.io/cy/one-km-square-survey

[2021-05-18 20:59] kitenetter opened #100 "Add translation for "Add photo" button"
On this page:
https://test-ceh-poms.pantheonsite.io/cy/enter-fit-count

one button translation has been missed. The button "Add photo" should be labelled "Ychwanegu ffotograff".

[2021-05-18 21:03] andrewvanbreda commented on #100
@kitenetter
Hi Martin,

Don't worry about creating any further translation issues on these pages yet as am actively testing them, as am still working on an issues caused by having a mixture of English and Welsh pages.
Leave this issue open and I will fix the photo label.

I have fixed most of the serious issues which aren't translation apart from the species list not showing in Welsh Public FIT co

[2021-05-18 21:12] andrewvanbreda commented on #100
@kitenetter
Fixed, it may be wrong on the other two data entry forms, but leave that with me.

[2021-05-18 21:12] #100 closed, assigned to andrewvanbreda

[2021-05-18 21:16] andrewvanbreda commented on #100
@kitenetter
Sorry this won't be wrong on the other forms because they are English, but currently there is Welsh bleeding through I need to fix.

[2021-05-18 21:28] kitenetter commented on #72
Completed.

[2021-05-18 21:28] #72 closed, assigned to kitenetter

[2021-05-18 22:23] andrewvanbreda commented on #5
@BirenRathod @kitenetter
Hi Biren,
Just realised this has actually worked, so don't worry about running those cache select statements (I asked John to run them this evening anyway)

The problem was simply I forgot the data grids on PoMS have a year filter so the row wasn't displaying.

I will contact you about bringing the rest of the records over tomorrow.

[2021-05-19 08:24] BirenRathod commented on #98
@kitenetter All formatting done.  Please check everything is ok.
My only concern is this page -> https://test-ceh-poms.pantheonsite.io/cy/fit-counts . On this page not all contents are same as English one, so I have amended page accordingly.

[2021-05-19 08:29] andrewvanbreda commented on #94
@DavidRoy @kitenetter @CCarvell @BirenRathod
Personally I think best thing to do today is we should move the site onto live as soon as you are ready with the parts you are doing today.
I can continue to work and make changes in parallel on test/live at same time.
It doesn't make too much difference to me for a few reasons (e.g. makes no difference to report work, work can be done on test and easil

[2021-05-19 08:33] BirenRathod commented on #99
@kitenetter What kind of buffers do you need? you can add image via "Add new file" which already available below the text edito.
![image](https://user-images.githubusercontent.com/5941255/118781700-40aa5d00-b885-11eb-8d35-99c9018bc102.png)

[2021-05-19 09:01] kitenetter commented on #98
Thanks @BirenRathod
The page /cy/fit-counts should have one line of additional text that is not needed on the English page. I will reinstate that.

Closing.

[2021-05-19 09:01] #98 closed, assigned to BirenRathod

[2021-05-19 09:01] andrewvanbreda commented on #5
Hi  @BirenRathod

As a test could you get me the number of rows changed by these updates, and the counts.

Notice the updates only set the website_id, survey_id fields to themselves, so are safe to run if they go wrong (hence the test).
If the counts are ok this means the sql should work and I can send you sql that actually changes the fields properly

update indicia.samples
set survey_id=survey_i

[2021-05-19 09:03] kitenetter commented on #99
The image was added using "Add new file", but it does not have any border, so the text runs right up to the image:

![image](https://user-images.githubusercontent.com/16039111/118786054-5b7ed080-b889-11eb-8b31-8d4dfbc83e27.png)

It just needs a small border around the image to separate it from the text. I can't see any way of controlling that (it used to be easy on previous versions of Drupal!).

[2021-05-19 09:05] BirenRathod commented on #99
@kitenetter It has removed by Julian's theme update. I will add it again.

[2021-05-19 09:30] BirenRathod commented on #97
@andrewvanbreda You have introduced the helper_config.php file. It has got this $interim_image_folder value empty. The photo upload stop working after that.
One solution is disable the $interim_image_folder variable in helper_config.php.
Second option is If you don't require helper_config.php then please remove it.

[2021-05-19 09:44] andrewvanbreda commented on #97
@BirenRathod
When I did the .gitignore change you previously recommended, I saw the helper_config file already had that option I needed set in it.
So never altered the file at all, so assume it was always there.
I think we need the language option though, so the fix is to disable that variable.
I will do that, thanks for letting me know :)

[2021-05-19 09:47] BirenRathod commented on #97
@andrewvanbreda yes please do so. If you check the indicia diagnostic here -> https://test-ceh-poms.pantheonsite.io/admin/config/iform/diagnostics, you will see it is pointing to somewhere else due to empty value.

[2021-05-19 10:01] CCarvell commented on #94
@andrewvanbreda @kitenetter  I am flagging this here given it's the issue thread you are following today and probably links to report work you may still be doing - so apologies if not relevant.
BUT on the Map of FIT Counts page, the Table below the map is still displaying counts from March 2021 which look like the dummy counts (pics of animals etc!).
https://test-ceh-poms.pantheonsite.io/fit-count

[2021-05-19 10:03] BirenRathod commented on #5
@andrewvanbreda Update results in same order as you posted queries above.
1 - 3623
2 - 10207
3 - 1327
4 - 4017
5 - 2992
6 - 24980

Counts results same as above query
1 - 3623
2 - 1347
3 - 2992
4 - 10221
5 - 4031
6 - 25128

[2021-05-19 10:15] andrewvanbreda commented on #97
@BirenRathod
Thanks Biren for your help with this, forgot about that diagnosis tool as long time since I used it, but that doesn't mean I shouldn't of been.
Fixed

[2021-05-19 10:15] #97 closed, assigned to andrewvanbreda

[2021-05-19 10:36] #96 closed, assigned to kitenetter

[2021-05-19 10:39] kitenetter commented on #41
@andrewvanbreda
I think this can be closed?

[2021-05-19 10:40] kitenetter commented on #34
New versions of the YouTube videos now updated on English and Welsh pages.

Closing.

[2021-05-19 10:40] #34 closed, assigned to kitenetter

[2021-05-19 10:41] kitenetter commented on #27
Logos now displaying correctly within the new theme.

Closing.

[2021-05-19 10:41] #27 closed, assigned to kitenetter, CCarvell

[2021-05-19 10:44] andrewvanbreda commented on #33
@BirenRathod
There was a silly reoccurring bug in an area I wasn't expecting. Have seen working on my machine.
Can you pull the PoMS reports when you get a second please as have fixed now, thanks.

[2021-05-19 10:53] BirenRathod commented on #33
@andrewvanbreda All reports have now been pulled down.

[2021-05-19 10:53] BirenRathod commented on #99
@kitenetter Added border and margin now.

[2021-05-19 11:33] kitenetter commented on #12
@andrewvanbreda
Your list of permissions is not quite what I was expecting. In particular, the "PoMS volunteer" role is different to the "Authenticated user" role, and there are a few changes in the page permissions. See:

[PoMS roles and page access permissions.docx](https://github.com/BiologicalRecordsCentre/PoMS/files/6508314/PoMS.roles.and.page.access.permissions.docx)

Let me know if you want