[2021-05-19 12:11] andrewvanbreda commented on #94
@CCarvell
Dummy data needs to be deleted ideally. I don't have an exact definition of what constitutes something that is dummy, I don't want to be deleting real data.
Are you able to send me the numbers of ones to delete.

[2021-05-19 12:13] andrewvanbreda commented on #12
@kitenetter
Ok, I will try to make the changes, I had originally followed this table as best I could

![Screen Shot 2021-05-18 at 13 17 05](https://user-images.githubusercontent.com/2463614/118810538-e5d42e00-b8a3-11eb-8a02-33806f44664f.png)

But will try to change to match document as best I can

[2021-05-19 12:20] CCarvell commented on #94
@andrewvanbreda I would suggest deleting all counts dated March 2021.
There are also - I think - two counts from 02/04 on Bramble and Buddleia that don't look right as those are not in flower yet. I cannot now view the table as the pantheon site isn't showing it. From memory the first April count from 2021 should be showing as being on Dandelion.

Will this affect the live quote at the top of the

[2021-05-19 12:25] andrewvanbreda commented on #5
@BirenRathod
Hi Biren,

Can we have a go at rerunning these 3 counts, I forgot to add deleted flag to occurrence page, cheers.

select count(*) from indicia.occurrences where deleted=false and sample_id in
(select id from indicia.samples where survey_id = 467 and deleted=false);

select count(*) from indicia.occurrences where deleted=false and sample_id in
(select id from indicia.samples where sur

[2021-05-19 12:38] BirenRathod commented on #5
@andrewvanbreda
Below are the results in same order.
1 - 10207
2 - 4017
3 - 24980

[2021-05-19 12:58] andrewvanbreda commented on #5
@BirenRathod
Thanks Biren, so there is only 1 unexplainable disparity in these results.
Can you retry these two, I do not understand why there were not initially the same, unless there is a typo in the counts listed? (in which case they don't need a rerun). Cheers

update indicia.samples
set survey_id=survey_id
where survey_id = 480 and deleted=false;

select count(*) from indicia.samples where su

[2021-05-19 13:02] andrewvanbreda commented on #94
@CCarvell @kitenetter
Yes that value will change as the system doesn't know what is fake.

Yes this would affect everywhere including the warehouse.
However the values will not literally be deleted, there is a flag that is set on the data saying "deleted=true".
So they can be undeleted providing we have and id number or something to identify them with.

[2021-05-19 13:06] BirenRathod commented on #5
@andrewvanbreda
Both queries returned with 1347 number.

[2021-05-19 13:14] andrewvanbreda commented on #5
@DavidRoy @CCarvell @kitenetter
We are now in a position to do the actual copying of data to the new website from iRecord, are you happy for this to go ahead?

[2021-05-19 13:19] CCarvell commented on #94
@andrewvanbreda thanks - I think you can go ahead and delete those March etc counts now.

[2021-05-19 13:56] andrewvanbreda commented on #33
@BirenRathod This still isn't working, but have tested again on my machine and it is fine, and there is no apparent reason for this situation.
Could you run this sql please to help me debug. Thanks (sorry for bugging you so much)

    SELECT s.id as sample_id,csnf.id as sample_nonfunct_id,cof.id as cof_id, conf.id as conf_id,
    sav_cover.id as save_id,ctt_cover.id as main_term_id,ctt_cover.term

[2021-05-19 14:02] BirenRathod commented on #33
@andrewvanbreda
Here is the result.
[data-1621432842867_CSF.zip](https://github.com/BiologicalRecordsCentre/PoMS/files/6509318/data-1621432842867_CSF.zip)

[2021-05-19 14:10] andrewvanbreda commented on #33
@BirenRathod
Darn, this shows the report should be working.
The PoMS folder is def pulled up to date?
Will see what happens if I remove the quote from the welsh. Don't understand this

[2021-05-19 14:19] kitenetter commented on #94
@andrewvanbreda re deletions:
In #77 we said to remove:
- All occurrences from survey ID 641 (FIT Count app) where sample ID <= 14202516

I'm checking the other surveys and will let you have the IDs to delete shortly.

[2021-05-19 14:29] andrewvanbreda commented on #94
These are the ones I counted from march, let me know if you think this is right

13803554,13845947,13959723,13955682,13960608,
13959849,13959785,13960126,13960019,13959920,13959917,13960760,
13961262,13959859,13963166,13963134,13963084,13963079,13963074,
13963062,13963249,13963248,13963134,13963084,13963079,13963420,
13963166,13963062,13963074,13968594,13968590,13987347,13983906,
13987300,13987253

[2021-05-19 14:33] andrewvanbreda commented on #94
@kitenetter
Your statement includes some April ones too, so let me know if those need to go also, the list I provided is march only

[2021-05-19 14:48] kitenetter commented on #94
For survey ID 636 (PoMS FIT Count (website)) there appear to be just four samples, all of which can be deleted.

For survey ID 637 (PoMS FIT Count 1km (website) there appears to be just one sample, which can be deleted.

For survey ID 641, I agree that the March samples you list can be deleted, and these from April are also to be deleted:
14068116, 14069021, 14097873, 14144766, 14181012, 14196022,

[2021-05-19 15:00] andrewvanbreda commented on #94
@kitenetter
Ok, Some of that is my data, and actually it is useful for me to leave some app data on site, so let's delete your selections last minute and delete the other list for now. That is clear then that your suggestions aren't done yet and March ones are.

[2021-05-19 15:01] kitenetter commented on #99
Thanks - closing.

[2021-05-19 15:01] #99 closed, assigned to BirenRathod

[2021-05-19 15:02] andrewvanbreda commented on #94
@BirenRathod
If the first statement correctly updates 52 rows, then can you run the other 2 also. If not 52 rows updated on first statement, do not run second two, as that means there is a problem with the first test statement

update indicia.samples
set deleted=deleted
where id in (13803554,13845947,13959723,13955682,13960608,
13959849,13959785,13960126,13960019,13959920,13959917,13960760,
139612

[2021-05-19 15:07] BirenRathod commented on #94
@andrewvanbreda First query has updated 42 rows. Is that correct?

[2021-05-19 15:08] kitenetter commented on #5
@andrewvanbreda I would say yes, let's go for it!

Are you deleting it from the iRecord surveys, or will we have the data duplicated in two places (which is fine for now)?

I think I will will now switch off the iRecord recording form so we don't have any new samples added there.

[2021-05-19 15:11] BirenRathod commented on #94
@andrewvanbreda I have attached the select query result of first your first update query.
[data-1621437045968_samples.zip](https://github.com/BiologicalRecordsCentre/PoMS/files/6509867/data-1621437045968_samples.zip)

[2021-05-19 15:12] andrewvanbreda commented on #94
@BirenRathod
Thanks Biren, that is strange but useful. I will check

[2021-05-19 15:19] andrewvanbreda commented on #94
@BirenRathod
Hold fire on this for now. Something odd here.

[2021-05-19 15:20] andrewvanbreda commented on #5
@kitenetter
It is the same rows, but the survey_id and website_id fields will be switched to the new site.

[2021-05-19 15:23] kitenetter commented on #5
@andrewvanbreda oh yes, you'd told me that before, sorry, That's fine.

[2021-05-19 15:37] DavidRoy commented on #5
@andrewvanbreda Happy to leave this decision to martin and claire

[2021-05-19 15:38] andrewvanbreda commented on #5
@BirenRathod Final sql to run

update indicia.samples
set survey_id=636,updated_on=now(),updated_by_id=5553
where survey_id = 467 and deleted=false;

update indicia.occurrences o
set website_id=136,updated_on=now(),updated_by_id=5553
from indicia.samples s
where sample_id = s.id
and s.survey_id = 636
and o.deleted=false
and s.deleted=false;

update indicia.samples
set survey_id=637,updated_on=now(

[2021-05-19 15:43] andrewvanbreda commented on #5
@BirenRathod Sorry, missed the work_queue statements as these hadn't been included with the tests, these afterwards cheers

insert into indicia.work_queue(task, entity, record_id, cost_estimate, priority, created_on)
select 'task_cache_builder_update', 'sample', id, 100, 2, now()
from indicia.samples
where survey_id in (636,637,638) and deleted=false;

insert into indicia.work_queue(task, entity,

[2021-05-19 15:52] BirenRathod commented on #5
@andrewvanbreda Here are the update results in same order as above posted query.
1 - 3626
2 - 10224
3 - 1347
4 - 4027
5 - 2992
6 - 24980

And to two work_queues are inserted successfully.

[2021-05-19 15:57] andrewvanbreda commented on #5
@BirenRathod
Great thanks Biren. Just have to wait for the work queue, but this all looks good so far :) thanks for your help with this

[2021-05-19 19:24] kitenetter commented on #38
Registration wording with translations:

[PoMS website registration page translations.docx](https://github.com/BiologicalRecordsCentre/PoMS/files/6511138/PoMS.website.registration.page.translations.docx)

Adding translations to the Welsh registration form is not essential for launch.

For point 3, Terms of Use, we should use the PoMS website Terms of Use:
https://test-ceh-poms.pantheonsite.io/term

[2021-05-19 20:29] #67 closed, assigned to kitenetter

[2021-05-19 20:29] #66 closed, assigned to kitenetter

[2021-05-19 20:29] #65 closed, assigned to kitenetter

[2021-05-19 20:30] #63 closed, assigned to kitenetter

[2021-05-19 20:38] kitenetter opened #101 "Translations of updated guidance documents"
Send FIT Count guidance docs to Elen for translation, and then upload to website.

[2021-05-19 20:38] #79 closed, assigned to kitenetter

[2021-05-19 21:24] andrewvanbreda commented on #38
@kitenetter
Have added this although not sure how to do the translation.
Might need a transfer import.
Also at the moment it is displaying in full on the user registration form, you are supposed to be able to link to it but that isn't working at sec.
You can also have it so it is initially collapsed, then you expand it, but that doesn't work well as the checkbox isn't select message also gets hidd

[2021-05-19 21:28] andrewvanbreda commented on #38
@kitenetter Oh pleasant surprise, just realised it is clever enough to pick up the welsh translation

[2021-05-19 22:14] andrewvanbreda commented on #12
@kitenetter
Changes made.
I can't test every combination though at this time, but can check important ones tomorrow morning.
Leave open for now.
Also there may need to be some alterations depending on how I implement UKCEH staff, consultants going forward as not sure if they will have their own forms or just open existing form in special mode.

[2021-05-20 07:20] DavidRoy opened #102 "Data grid on Map of Fit Counts needs horizontal scroll bar"
For narrow screens, the right hand columns are hidden

![fit](https://user-images.githubusercontent.com/2699478/118936131-2aafa180-b944-11eb-829f-1e408d585dca.png)

[2021-05-20 07:21] andrewvanbreda commented on #61
@BirenRathod
Can you run this SQL when you get a chance. Sets all samples in this project to private

update indicia.samples
set privacy_precision=1000
where survey_id in (636,637,638,641) and deleted=false;

insert into indicia.work_queue(task, entity, record_id, cost_estimate, priority, created_on)
select 'task_cache_builder_update', 'sample', id, 100, 2, now()
from indicia.samples
where survey_

[2021-05-20 07:34] BirenRathod commented on #61
@andrewvanbreda it has updated 8143 rows.

[2021-05-20 07:51] andrewvanbreda commented on #94
All test data removed manually, including my test data and Martin's suggestions

[2021-05-20 07:55] andrewvanbreda commented on #61
@BirenRathod
Thanks Biren, without doing exact counting, looking at the other counts we have, this is looks about right.
Just need to wait for the work_queue to finish.

[2021-05-20 07:58] kitenetter opened #103 "Image displaying incorrectly"
On this page:
https://ukpoms.org.uk/research

The chart is displaying in a wide box and displacing the text. I can't see any problems in edit view.

Let me know if I need to delete the image and add it again.

[2021-05-20 08:01] andrewvanbreda commented on #94
@kitenetter @CCarvell
Just noticed there are March records not in the ID lists we talked about so i will remove those too.

[2021-05-20 08:14] andrewvanbreda commented on #94
Have removed following extra March records and also some April ones that looked wrong as they had Playstation controllers and bits of sofa showing

13959723
13960294
13963394
13963412
13963422
13987787
13987868
13987886
13987887
14119810
14119811
14119812
14143673

[2021-05-20 08:37] BirenRathod commented on #103
@kitenetter  It has resolved now. Also if you add any image without caption , please add class called body_image. you can see example on this -> https://ukpoms.org.uk/fit-counts page. I know bit fiddely but this is how Julian done on whole site using class.

[2021-05-20 08:46] kitenetter commented on #103
Thanks @BirenRathod
Does the class have to be added using the "source" view and adding "class="body_image""?

[2021-05-20 08:47] BirenRathod commented on #103
@kitenetter Yes, that is correct. This is only for non caption image. you need to add class to "<"p">" tag.

[2021-05-20 09:50] andrewvanbreda commented on #102
@DavidRoy
Ok will check with John about fixing this in best way

[2021-05-20 10:00] kitenetter commented on #103
@BirenRathod
I've just added an image to this (unpublished) article:
https://ukpoms.org.uk/node/38

The image is displaying twice - the smaller image is the one that I want to show, but it seems to be including the original image by default.

How can I remove the original image?

[2021-05-20 10:01] CCarvell opened #104 "FIT Count Map showing dots as well as 1km squares - should just be blurred to 1km?"
NOTE I am accessing the new website as a ‘public’ user and NOT logged in, so that I can see what I think most people will see……and same thing happens on my phone as on PC screen.
@andrewvanbreda @kitenetter
Still two issues to address on the FIT Counts map page:
1.	When you zoom in, you can see the 1km square of each count showing as agreed (I think) BUT you can also see a dot or small square at t

[2021-05-20 10:03] CCarvell commented on #61
@andrewvanbreda my apologies I have just created a new issue pointing to this which may overlap - apologies

[2021-05-20 10:03] CCarvell commented on #104
apologies this overlaps with issue #61

[2021-05-20 10:05] BirenRathod commented on #103
@kitenetter  That is because , you have used the article content. if it is simple page , use basic page which does what you expected to do.

[2021-05-20 10:09] kitenetter commented on #104
I'm pretty sure the February count (sample ID 12703302) was added via the old iRecord form, and has come across with the transfer of data. I have deleted it via the warehouse.

The 1 km squares issue is covered in #61 so I will close this one.

[2021-05-20 10:09] #104 closed, assigned to nobody

[2021-05-20 10:10] kitenetter commented on #103
Yes, I used the article because I needed to add an article! This is to appear in the "Latest news" feed. We need to be able to add articles!

[2021-05-20 10:12] BirenRathod commented on #103
@kitenetter In that case, you don't need to add in the body, just need to upload the image which you did. I have implemented the size now , so it will be display as expected.

[2021-05-20 10:15] kitenetter commented on #103
Thanks @BirenRathod that's fine - now published. Closing.

[2021-05-20 10:15] #103 closed, assigned to BirenRathod

[2021-05-20 10:35] andrewvanbreda commented on #61
@BirenRathod
Hi Biren, could you send me this result please so can see if work_queue is finished. Thanks

select count(*)
from indicia.cache_samples_functional csf
join indicia.cache_samples_nonfunctional csnf on csnf.id = csf.id
where csf.survey_id in (636,637,638,641) and csnf.privacy_precision is null;

[2021-05-20 10:50] BirenRathod commented on #61
@andrewvanbreda it returned with 981.

[2021-05-20 11:00] kitenetter opened #105 ""News" view"
https://ukpoms.org.uk/news
Can this view be adjusted so that there is more of a gap, or perhaps a line, between each item?

And is it possible to add a clickable 'more' link to each individual news item? I know the headings are clickable but it is not immediately obvious that there is more to read if you click the heading.

[2021-05-20 11:08] BirenRathod commented on #105
@kitenetter Done.

[2021-05-20 11:11] #105 closed, assigned to BirenRathod

[2021-05-20 11:34] andrewvanbreda commented on #61
@BirenRathod
Ok thanks.
We can have a double-check of this later on. Sounds like it has made good progress. I thought it might of finished actually given the report grid behaviour.

[2021-05-20 14:38] andrewvanbreda commented on #77
This has been dealt with (and some extra ones that were spotted)

[2021-05-20 14:38] #77 closed, assigned to andrewvanbreda

[2021-05-20 14:43] andrewvanbreda commented on #94
Site is now live

[2021-05-20 14:43] #94 closed, assigned to andrewvanbreda, BirenRathod

[2021-05-21 10:10] kitenetter opened #106 "Registration process glitch"
A user has reported this:

As far as I can see the registration with PoMS did complete successfully, and the website links have all been made for the user account in the warehouse (user ID 177). So there may be no action needed, but it is unhelpful if the system is timing out and making it look like it hasn't completed the registration process.

[2021-05-21 10:13] BirenRathod commented on #106
@kitenetter This is indicia problem. This has resolved in other website by John. So it needs to look into by @andrewvanbreda. I assigned this to him.

[2021-05-21 10:28] andrewvanbreda commented on #106
@BirenRathod @kitenetter
Um......it sounds like actually the warehouse part is hanging. It may even be just caught warehouse at bad time. As it has linked the ID, it seems likely to me it is the warehouse end that had the problem.
I will see if I can think of way to reproduce the scenario and make sure it runs ok.
It is as it says when there are several ambiguous accounts to resolve against.
This

[2021-05-21 10:31] kitenetter opened #107 "How to unmasquerade?"
If I masquerade as another user on the PoMS website, I can't see any options to unmasquerade. Is there a button somewhere that I've missed, or if not can we add it?

[2021-05-21 10:45] BirenRathod commented on #107
@kitenetter The unmasquerade link is in the "My account" menu link.

[2021-05-21 10:52] kitenetter commented on #107
Got it - thanks @BirenRathod

[2021-05-21 10:52] #107 closed, assigned to BirenRathod

[2021-05-21 12:44] andrewvanbreda commented on #102
@DavidRoy
Hi David,
I have added some responsive options to the English grid at
https://ukpoms.org.uk/fit-counts-map

Is this better for you? (I don't have smartphone, so am checking on an emulator which shows it is better to me)

If better will apply to other grids.

[2021-05-21 12:48] andrewvanbreda commented on #102
@DavidRoy
Have also changed the welsh of that form. For some reason it doesn't seem to be quite as good at behaving in responsive situation although it is helping. Would be interested to know if that is ok for you?

[2021-05-21 12:56] BirenRathod commented on #102
@andrewvanbreda
On my one it shows in vertical mode as attached screenshot below. So no horizontal scroll bar at the bottom. Although landscape mode is fine.
![PoMS_Screenshot_Mobile](https://user-images.githubusercontent.com/5941255/119140456-164ed000-ba3c-11eb-8afd-c151faa9f723.jpg)

[2021-05-21 13:00] andrewvanbreda commented on #102
@BirenRathod
Thanks Biren.
Yes I wasn't expecting a horizontal scrollbar, but to instead drop less important columns like ID.
Having said that this isn't right, as it looks like it is dropping the columns from the right too (like insect count), there  shouldn't be just 3 columns.
I will have a think as I have no existing scrollbar option to work with.

[2021-05-21 13:29] andrewvanbreda commented on #102
@DavidRoy
Note have switched options off on live for now, so no need to check anymore

[2021-05-21 13:35] DavidRoy commented on #102
@andrewvanbreda you can test out the page on different screens using developer tools in chrome (cntrol-shift-I then control-shift-m) and choose mobile device/screen size?  The table is still truncated on tablets and phones, making right-hand columns inaccessible

[2021-05-21 14:32] andrewvanbreda commented on #102
@DavidRoy
Yes that it what I had been doing. But it did someone thing unexpected, losing the right hand columns wasn't something I was seeing in those tools, it was only supposed to remove the less important ones like ID to make room.
Will investigate

[2021-05-21 15:55] andrewvanbreda commented on #102
@DavidRoy @BirenRathod @kitenetter
Just had another look at this, and switched the test site theme temporarily.
It is the theme that is breaking it, but it is also breaking the Edit icons (which may just be off the right of screen).
So what I will do is have quick play with theme on test site when get chance. Hopefully if I set the style setting on report_grid it will fix this but don't want to be

[2021-05-21 15:58] DavidRoy commented on #102
Thanks @andrewvanbreda.  I agree that you should not spend long on this.
@kitenetter - can you ask julian and steve about this?

[2021-05-21 16:01] andrewvanbreda commented on #61
@BirenRathod
Hi Biren,
If you are still in office, I have a nice easy Friday afternoon job for you :) Just a rerun of that statement to make sure it finished. Cheers. Not urgent so can wait.

select count(*)
from indicia.cache_samples_functional csf
join indicia.cache_samples_nonfunctional csnf on csnf.id = csf.id
where csf.survey_id in (636,637,638,641) and csnf.privacy_precision is null;

[2021-05-21 16:11] BirenRathod commented on #61
@andrewvanbreda Luckily still working, don't want to leave for next week, so here it is.
Good news, it returned with 0. Have a nice weekend.

[2021-05-21 16:13] andrewvanbreda commented on #61
@BirenRathod
Thanks Biren
Thanks is great. :) have nice weekend too.

[2021-05-21 16:21] andrewvanbreda opened #108 "Welsh FIT Count Map wasn't working - Temporary fix applied"
@kitenetter
Just noticed the FIT Count map wasn't displaying, have applied a fix but not sure yet if better fix is required (as it may affect multi-lingual element) or whether this fix will be ok going forward (changed to be the same as English map for now)

[2021-05-21 16:23] andrewvanbreda commented on #108
Note the fix would only affect the language on summary box at moment, otherwise the map is unaffected by way I have fixed this

[2021-05-22 16:40] andrewvanbreda commented on #61
Fit Count Map page report code visually inspected for correctness regarding this.
Checked FIT Count Mapping pages (in both languages) setup with correct versions of report.
Checked random selection of squares are blurred on map.
Query sent to Biren showed all samples for our surveys in database are protected.
Visually checked all 3 data entry forms have privacy precision set in configuration (and

[2021-05-22 16:40] #61 closed, assigned to BirenRathod, kazlauskis, kitenetter

[2021-05-24 18:14] andrewvanbreda commented on #102
@DavidRoy
I think this should be fixed now (not by me I might add, but by the theme design team, and Biren helped to put on site)
Close if you are happy,  otherwise perhaps let Martin know so he can investigate further with theme design team.

[2021-05-24 18:38] DavidRoy commented on #102
Thanks!

[2021-05-24 18:38] #102 closed, assigned to DavidRoy

[2021-05-26 10:13] andrewvanbreda commented on #12
The following have been tested for every combination of access in the "PoMS roles and page access permissions.docx" Word document Martin posted above.
User roles "Anonymous User", "Authenticated User", "1KM Square Volunteer", "UKCEH Staff", "Consultant Entomologists" tested.
Note: some of these are not in the menu system yet, but have been tested by going directly to URL.

https://ukpoms.org.uk/1k

[2021-05-26 10:13] #12 closed, assigned to andrewvanbreda

[2021-05-26 13:33] andrewvanbreda commented on #5
@kitenetter
Hi Martin,
I think the iRecord forms are still active? I assume you intend to deactivate them?
I can see 6 samples have been entered on iRecord since the switch over.
This won't be a problem as can get Biren to rerun the transfer SQL, but obviously need to take those forms offline in long run.

[2021-05-26 13:36] andrewvanbreda commented on #41
Just double-checked, and yes the app data does appear to be loading correctly onto the website data entry form

[2021-05-26 13:36] #41 closed, assigned to kitenetter

[2021-05-26 13:42] andrewvanbreda commented on #87
@kitenetter
All this was fixed before go live, however I don't think there was any translation provided for the profile fields? (First name, Surname etc)

https://ukpoms.org.uk/cy/enter-fit-count

[2021-05-26 13:44] kitenetter commented on #5
@andrewvanbreda
Thanks for the info. What I did was to move the iRecord form to a new URL that has never been given out, and is not in any menus, so I was hoping that would be enough to prevent people from using it, but clearly not. I have now marked it as unpublished as well.

That applies to the public FIT Count - are the recent additions for the public count or the 1 km count? I'll unpublish th

[2021-05-26 13:46] andrewvanbreda commented on #87
Also lacking translation for
Add images
Drop files here...

on the same page

[2021-05-26 14:16] kitenetter commented on #5
@andrewvanbreda I can see that five pan-trap surveys have been added using the old iRecord form, all for location "SY8586 near Wool". Are they the samples you are talking about?

IDs are:
14423685
14423899
14423942
14423976
14424014

I assume you will move these over, but if that is a problem let me know and I can ask the recorder to enter them again.

[2021-05-26 14:34] andrewvanbreda commented on #5
@kitenetter
Yes additionally
14444882 which is a "PoMS FIT Count" survey item.
Note that unpublishing doesn't actually prevent use of the form (I think anyway), although hopefully the red will put the user off.
If this doesn't work you could add some "Not in use" text to the page, or we could hide the save button with jQuery.

[2021-05-26 14:50] andrewvanbreda commented on #5
@BirenRathod
We will need to run this, it is just same as before but without the 1km Survey as that doesn't need running, and additional sample id restrictions to just the samples we are interest in (although it shouldn't actually matter if those aren't present in the query)

update indicia.samples
set survey_id=636,updated_on=now(),updated_by_id=5553
where survey_id = 467 and id = 14444882 and de

[2021-05-26 15:24] BirenRathod commented on #5
@andrewvanbreda They all performed successfully.

[2021-05-26 15:41] andrewvanbreda commented on #5
@BirenRathod
Thanks Biren. Think need to wait for the cache table to update, but according to Warehouse UI this worked

[2021-05-26 15:42] andrewvanbreda opened #109 "Survey drop-down filter not working on Fit Count Map"
Survey drop-down filter not working on Fit Count Map, the grid isn't returning when this is applied

[2021-05-26 15:47] kitenetter commented on #109
@andrewvanbreda also, the filter dropdown doesn't include the app records as a third option - I think it should?

[2021-05-26 17:25] andrewvanbreda commented on #109
@kitenetter
It is ok for me. What page are you seeing this? Does it still do this after a browser cache clearance?

[2021-05-26 19:32] kitenetter commented on #109
@andrewvanbreda I've just cleared the cache and gone to:
https://ukpoms.org.uk/fit-counts-map

using Chrome and not being logged in. I get the same result as on my normal Firefox log-in - only two of the three surveys are showing in the drop-down list for the survey filter:

![image](https://user-images.githubusercontent.com/16039111/119720055-6c1ee000-be61-11eb-90f4-1c0ef9da7870.png)

[2021-05-26 20:28] andrewvanbreda commented on #109
@kitenetter
How odd. Ok thanks for letting me know.
I have no explanation for that at the moment, my machine is showing it fine.

I have worked out the issue with the Survey drop-down, it is an annoying one (but simple to fix).
There is nothing actually wrong with the report logic, but the problem is I called the drop-down "survey_id" in the code, and that word is reserved for special use.
I shoul

[2021-05-27 09:09] andrewvanbreda commented on #109
@kitenetter
The drop-down bit of this is fixed, ironically it was caching issue on my machine that stopped me seeing it.
Caused by an old line of code accidentally left in. Report not fixed yet.

[2021-05-27 11:12] kitenetter opened #110 "FIT Count map - attributes missing from grid display?"
On https://ukpoms.org.uk/fit-counts-map the two most recent counts (added via the app) are missing their habitat and target flower. The data for these attributes has been entered and can be seen in the warehouse, but isn't displaying in the grid:

![image](https://user-images.githubusercontent.com/16039111/119816446-9d8cbf80-bee4-11eb-8b09-83b4dda7846f.png)

[2021-05-27 11:49] andrewvanbreda commented on #110
@kitenetter
This problem is being caused because the cache table hasn't been filled in for that sample, so isn't an issue with what the report is trying to do, it  isn't that the data isn't there for it to collect.
I will wait a bit and see if it fills in, if this delay is too great, we might have to switch to slower non-cached version of report (which the welsh version of the page is running anyw

[2021-05-27 11:51] kitenetter commented on #110
Thanks @andrewvanbreda - I think we can live with a delay as long as it isn't hugely long, good to have the page loading quickly.

Closing.

[2021-05-27 12:17] andrewvanbreda commented on #110
@kitenetter
Am just going to re-open this at moment, it is odd they haven't filled in yet. I would expect the delay to be shorted, wonder if the warehouse is busy.

[2021-05-27 12:29] andrewvanbreda commented on #109
@kitenetter @BirenRathod
Hi,
I have committed a fix for this problem. I think it is best to put the site into maintenance mode first before putting the fix onto the site.
Martin, I assume it would be ok to have site into maintenance mode for short time?. (Note: these changes also change the report so newest samples are now displayed first).

Biren: after Martin confirms it is ok, could you put sit

[2021-05-27 12:46] kitenetter commented on #109
@andrewvanbreda that should be fine - hopefully it will only be offline for a short time, since this is the first day this year with decent weather for people to do FIT Counts!

[2021-05-27 12:50] andrewvanbreda commented on #109
@BirenRathod @kitenetter
It should only be 10 mins really.

[2021-05-27 12:53] BirenRathod commented on #109
@kitenetter  Let me know when you ready.

[2021-05-27 12:57] andrewvanbreda commented on #110
Checking with John if there is a Warehouse issue today

[2021-05-27 12:58] kitenetter commented on #109
@BirenRathod
Any time is fine for me as long as @andrewvanbreda is ready!

[2021-05-27 13:02] andrewvanbreda commented on #109
@BirenRathod
Yes can do now. So put into maintenance mode, pull the reports, then let me know so I can check. Cheers

[2021-05-27 13:03] BirenRathod commented on #109
@andrewvanbreda & @kitenetter anytime from now.

[2021-05-27 13:05] andrewvanbreda commented on #109
@BirenRathod Thanks I will check

[2021-05-27 13:05] BirenRathod commented on #109
@andrewvanbreda The site is under maintenance mode and I have pulled all reports now.

[2021-05-27 13:21] andrewvanbreda commented on #109
@BirenRathod @kitenetter
This seems to have worked so have taken out of maintenance mode.
Martin can you close if happy.

[2021-05-27 13:24] andrewvanbreda commented on #109
Actually, realised I raised this, so I can close it

[2021-05-27 13:24] #109 closed, assigned to kitenetter

[2021-05-27 13:27] andrewvanbreda commented on #110
@kitenetter
Am going to switch the report to the slower version as the grid is filling up with empty cells as data coming in.
Can switch back when resolved.

[2021-05-27 14:40] andrewvanbreda commented on #110
This is fixed and have switched back the report.
Just waiting for confirmation of what problem was from John

[2021-05-27 15:08] andrewvanbreda commented on #110
@kitenetter
Received confirmation from JVB that this was because a work_queue/scheduled_task got stuck on the Warehouse because of a technical issue, this meant th cache attributes were not filling in.
Closing as fixed (Note: this issue would have affected other projects also)

[2021-05-27 15:08] #110 closed, assigned to andrewvanbreda

[2021-05-28 15:42] andrewvanbreda commented on #5
Closing as looks like worked (nothing that only 14444882 will be visible on FIT count map as others are pan trap).
Have also committed the transfer code to Github support_files in case need to use again

[2021-05-28 15:42] #5 closed, assigned to BirenRathod

[2021-06-02 09:35] kitenetter opened #111 "Allow larger file size for photo upload"
Users are finding it difficult to upload photos to the FIT Count form, as there seems to be a fairly low file size limit, smaller than on iRecord.

Can you let me know what the limit is?
Can we do anything to allow larger files to be uploaded and automatically reduced in size? That would be the best solution by far.
If we are unable to do that, can we adjust the error message workding so that it t

[2021-06-02 09:45] kitenetter opened #112 "Allow users to edit their own counts"
On the "My results" page https://ukpoms.org.uk/my-results users do not currently have an edit button available. Need to add this.

[2021-06-02 10:18] andrewvanbreda commented on #112
@kitenetter
Ok will try to fix this, the code is actually present that does this, but not sure why they aren't showing at moment, will let you know

[2021-06-02 10:31] andrewvanbreda commented on #111
@kitenetter
I have set these options to match NPMS. Have you got an example of image that failed before, is it ok now?
The options that are set are:
@resizeWidth=1920
@resizeHeight=1080
@resizeQuality=75
@resize=3mb
@maxFileCount=10

[2021-06-02 11:42] kitenetter commented on #111
@andrewvanbreda what does that mean in terms of the largest file that someone can upload?

[2021-06-02 13:24] andrewvanbreda commented on #111
@kitenetter
I think essentially this means it will try to downscale the image to be maximum of 1920 x 1080 (same as HD tv) and probably resize to 3 megabytes if needs to.
To be honest I am not 100% sure behaviour because it is automatic and am going by Indicia's code comments.
 Drupal and the server might have their own settings which are separate to this also.
What I did do is just try to upload

[2021-06-02 13:26] kitenetter commented on #111
I'm still getting an "unable to upload" message for a file that is just under 5MB, do I need to clear the cache or something?

[2021-06-02 13:28] andrewvanbreda commented on #111
@kitenetter
Maybe it is the type. Are you able to email the image or post it here so I can try the same image. I just tried 12 megabyte and was ok

[2021-06-02 13:31] kitenetter commented on #111
@andrewvanbreda it seems to be working now, at least up to 6MB - it failed for a 17MB image but that is understandable!

Closing.

[2021-06-02 13:31] #111 closed, assigned to kitenetter

[2021-06-03 17:23] kitenetter opened #113 "Problem with entering 1 km FIT Counts"
A 1 km survey volunteer reports:

I haven't had a chance to check this myself. It may only be a problem if the padlock is applied to lock the attribute, in which case a short-term solution would be to remove the padlock so that the user has to re-enter the 1 km square each time.

The same issue may arise for the 1 km pan-trap form, but again I haven't yet been able to check.

[2021-06-03 17:38] andrewvanbreda commented on #113
@kitenetter
Note will look as soon as possible

[2021-06-04 05:00] andrewvanbreda commented on #113
@kitenetter
I have removed padlock on 1km and pan trap forms on live and test.

I would imagine this behaviour would have been same in iRecord (the fields and javascript code driving it are unaltered).
Altering the code that came across from iRecord is beyond scope of current budget, although I do realise there is a requirement for copying the spatial reference over from previous samples, am not s

[2021-06-07 09:59] CCarvell opened #114 "My results FIT Counts not showing for ccar"
on the My results page https://ukpoms.org.uk/my-results I have selected 2021, FIT Count app, Apply Filters - and nothing is showing - under the table it states "No information available" - but I have uploaded 5 counts from the app so far.

This may relate to issue #112 I'm not sure?

@andrewvanbreda and @BirenRathod note that @kitenetter is on leave this week, so please let me know if there are an

[2021-06-07 10:17] andrewvanbreda commented on #114
@BirenRathod @CCarvell
I checked another user and they are fine. But I saw the Warehouse database was having problems with NPMS this morning.
I also noticed on the Fit Count Map that the attributes are not being filled in this morning, this means also likely to be a Warehouse issue.
@BirenRathod Are you the scheduled tasks running ok on the Warehouse at the moment?

[2021-06-07 10:22] BirenRathod commented on #114
@andrewvanbreda Yes, it running but it has got warning about not finishing task in time. May be left with some pending jobs.

[2021-06-07 10:22] andrewvanbreda commented on #114
Hi @CCarvell
Are your records appearing on the general Fit Count Map? If so, could you let me know some of the ID numbers associated with those records.

[2021-06-07 10:49] CCarvell commented on #114
@andrewvanbreda here are a few of my IDs - I think!

14499641
14457484
14388215

[2021-06-07 10:50] andrewvanbreda commented on #114
@CCarvell Ok thanks. Will look into this

[2021-06-07 10:55] andrewvanbreda commented on #114
@BirenRathod
Hi Biren,
Could you run this against live for me please. Cheers.

select created_by_id from indicia.samples where id in (14499641,14457484,14388215);

[2021-06-07 11:01] BirenRathod commented on #114
@andrewvanbreda All returned with 301649.

[2021-06-07 12:31] andrewvanbreda commented on #114
@CCarvell @BirenRathod
Hi Claire,
The website is behaving correctly given the data it has been given.
The problem is with the data in the general Warehouse database (which also holds records from iRecord etc).
Essentially the problem is there are two accounts for yourself.
One is attached to the app and one is attached to the website.
That explains why the website doesn't see your records under My

[2021-06-07 14:18] BirenRathod commented on #114
@CCarvell Because your account is already exists in the warehouse, if you register via app, the app fails to re-register and website fails to send email. This could be affecting to other users too.

[2021-06-07 14:21] andrewvanbreda commented on #38
@CCarvell
I have added these translations to the system. However there is a problem, Drupal is not showing them, I do not know if this is a but in Drupal's translation system not showing translations for user fields. I will have to look into this.
I added the translation for "no" as "nac ydw" however the system already has a translation for "yes" as "ie" so I have not changed this. Can you check t

[2021-06-07 14:54] andrewvanbreda commented on #114
@BirenRathod
Hi Biren,
I am not sure I understand this situation. If the app is working correctly, why is the registration failing? it should just link to the same account already in the Warehouse database.

The problem Claire is having to this is different.
I think the order of events for Claire is something like this
1. Registration on website (which is then linked to the Warehouse)
2. For some

[2021-06-07 15:08] BirenRathod commented on #114
@andrewvanbreda Registration fails when somebody try to register with existing email address. Because on the warehouse, only one account per email address accepted. When somebody try to register via app, it is creating account on Drupal website also, that is fine for Drupal but not good for warehouse if account is already exists.

Also another problem is - if Registered account on app been deleted

[2021-06-07 15:18] andrewvanbreda commented on #114
@BirenRathod
If this is what app is doing it is incorrect, it should link to existing account.
This sounds all wrong to me.
Any account deletion on app should not delete the Warehouse one as it is already in use. That should be handled by the warehouse. This does not sound right to me again.
Anyway, let's wait to see what Claire says.

[2021-06-07 15:22] BirenRathod commented on #114
@andrewvanbreda I don't know yet what has done on app. so let's get explanation from Claire.

[2021-06-07 19:36] andrewvanbreda commented on #112
@kitenetter @CCarvell
This looks like a theme problem, so you will need to contact theme designers.
Switching theme does show the icon. Actually in Safari it doesn't display at all, but in Firefox the icon is there but is tiny (see to the right of the screenshots below). Have also attached a screenshot of the html, it is the action-button that doesn't display
![button-html](https://user-images.git

[2021-06-08 09:52] andrewvanbreda commented on #106
@kitenetter
I have investigated this issue.
I think I will have to close this and put it down to a one off.

A few things to note.

1. Looking at the database I don't think the user should of got this message. He does have several websites, but there is only one Warehouse account so there is no ambiguity.
2. Removing his attachment to the Warehouse (clearing the Indicia Warehouse ID from his Drupa

[2021-06-08 09:52] #106 closed, assigned to andrewvanbreda, BirenRathod

[2021-06-08 12:30] CCarvell commented on #114
@andrewvanbreda @BirenRathod @kazlauskis The below is relevant to both PoMS website and app:

I think this is what I have done, but order of events is tricky as I don't know whether test versions/ beta versions have got in the way:

1. Registered on the website ukpoms.org.uk using ccar@ceh.ac.uk and later given administrator status by @andrewvanbreda on 28/03/2021 - then had to re-set my password

[2021-06-08 12:32] CCarvell commented on #114
ps. @andrewvanbreda @kazlauskis note that I just logged out of my app account and back in again.
Now I cannot see any of my Uploaded surveys showing on the app - it says "No uploaded surveys" - will post this on the app GitHub too.

[2021-06-08 12:39] kazlauskis commented on #114
@CCarvell the passwords can be different on the websites, as long as the emails are the same the accounts should be linked in the Warehouse.

Any data, including the uploaded surveys, will be removed from the device after the user logs out or reinstalls the app. When logging out there is an option to leave the local data - uncheck the 'Discard local data' checkbox.

[2021-06-08 13:50] andrewvanbreda commented on #114
@CCarvell
In answer to your question 2.
This change won't affect anything other than the UKPOMS website.
It definetely needs to be done anyway, you can't have the website continue with a deleted  Warehouse account.

As far as I am aware the website is operating correctly. Really my work was to setup the website so that shows the app data, and allows it to be edited as required.
I believe this situ

[2021-06-08 13:58] andrewvanbreda commented on #114
@CCarvell @kazlauskis @BirenRathod
OK, I have checked this.
The account in question was actually deleted in 2014.
This is interesting as it may explain another issue we had.
This suggests actually it is neither the website or app that is causing the problem, but when the website/app talks to the Warehouse to link to existing accounts (such as iRecord), the Warehouse is including deleted accounts.

[2021-06-08 14:11] andrewvanbreda commented on #114
@CCarvell
Claire your UK PoMS account is fixed. I can now see 5 My Records on it.
Checking with John about possible known issues with Warehouse.

[2021-06-08 15:19] andrewvanbreda commented on #114
@CCarvell @kazlauskis @BirenRathod @DavidRoy
John had a look at this and made a good observation that I didn't notice, that actually the creation and deleted (updated_on) date on that account is the same.
This means that when it was deleted, it wasn't 2014, but simply that whatever deleted i  didn't set the date correctly.
Also looks like the code for this issue might have caused #106
It does soun

[2021-06-08 22:43] CCarvell commented on #114
@andrewvanbreda great, thank you for fixing my account - I can now see my 5 app-generated FIT Counts on the website!!

However, when I select Survey: FIT Count, then Apply filters, no data is showing - yet this should pick up the counts I entered into iRecord either this year (which I did in April) or in previous years - right? Is this linked to issue #106 as well?

@DavidRoy may still be on leave

[2021-06-09 09:23] DavidRoy commented on #114
can you confirm if this is a wider problem or isolated to Claire's account because of issues between the website and app account registration.  If it's not a wider problem then this is not necessarily high priority to resolve

[2021-06-09 09:56] DavidRoy commented on #114
There are no blocked user accounts and active registrations in the last few days.  FITcounts are being submitted today

[2021-06-09 10:18] andrewvanbreda commented on #114
@CCarvell OK, that problem makes sense actually as those records are going to be pointing at the old ID number.
Will get Biren to look in the database.

@DavidRoy
Yes it is a suspected problem in the general Warehouse code during registration.
It is doing something funny at this point.
I do not think it is specific to Claire, although she may have had the unusual circumstances needed for it to hap

[2021-06-09 10:36] andrewvanbreda commented on #114
@BirenRathod
Hi Biren,
Whenever you get a sec, could you get me these counts from the database. Cheers

select count(id) from indicia.samples where created_by_id = 82207 and deleted=false;
select count(id) from indicia.occurrences where created_by_id = 82207 and deleted=false;

[2021-06-09 13:02] CCarvell commented on #114
@andrewvanbreda thank you so much for continuing to look into this.

@DavidRoy - Martin reported on Sunday that there were approx 100 blocked user accounts (this is on the app GitHub list app#82) and I assume those are still unresolved.

I have checked the poms@ceh.ac.uk email and no new website feedback messages are appearing BUT I noticed that from Sunday there are also 4 emails from the mailer

[2021-06-09 13:46] BirenRathod commented on #114
@CCarvell This has got nothing to do with migration. This has generated from third party service used with Pantheon to deliver email. By looking at the error there is one possibility is that user might have deleted this email address.

[2021-06-09 15:04] andrewvanbreda commented on #82
@CCarvell
I have a fix I can deploy for this one if you don't mind site being in maintenance mode for 5 minutes.

[2021-06-09 15:13] BirenRathod commented on #114
@andrewvanbreda
First query result is 20
Second query result is 100

[2021-06-09 15:24] DavidRoy commented on #114
@CCarvell f.boyett98@brinternet.com is clearly a typo when registering the email address.  We get these periodically and not much we can do about it i'm afraid other than following with each individual case and trying @btinternet.com rather than @brinternet.com

[2021-06-09 15:24] andrewvanbreda commented on #114
@BirenRathod
Thanks Biren

@CCarvell Looks like you have 20 samples, 100 occurrences which are attached to the user account that had become deleted.
These might be associated with other websites such as iRecord.
I will have to have a look at this  because it might actually be easier to undelete the old account if mistakenly deleted and use that.
I don't think that is something I will get around to

[2021-06-10 21:40] andrewvanbreda commented on #82
@CCarvell
Note: I tried to deploy this this evening, but there was a problem. I had originally pushed map to the back so the date picker isn't obscured, but I put this onto live but noticed last minute this breaks map clicking.
Fortunately I noticed and reversed this before taking out of maintenance mode.
Will have to push date picker to front instead.
Site was down for about 10 minutes with no al

[2021-06-11 14:09] andrewvanbreda commented on #87
Note First Name, Surname label translations were added as part of another issue.

Added translation for the yellow "This FIT Count is being submitted to the UK PoMS website......." section which had been left out (possibly because it is only seen when no logged in, so perhaps missed in testing)

I have removed the following helptext in Welsh version as currently it is untranslated and not really t

[2021-06-14 14:28] kitenetter commented on #114
As far as I can see the initial problem here arises from the fact that Claire's iRecord account was originally linked to her hotmail address, whereas her FIT Count app account is linked to her CEH email address.

Although Claire has subsequently edited her Drupal iRecord registration to update it to the CEH email, my understanding is that changing an email in Drupal has no impact on the email stor

[2021-06-14 15:02] andrewvanbreda commented on #114
@kitenetter
I just got a mail into my email account saying you commented on this thread, but I cannot see the comment.
Leave open until I get chance to fix Claire's account.

It would not be advisable for user's to be able to change the Warehouse email address as that would cause extra confusion, as the Warehouse only holds 1 email address per person, but each of their websites can have their emai

[2021-06-14 15:06] andrewvanbreda commented on #83
Report not deployed yet, but have so far committed following fixes

1. Allocated semi-transparent dark blue, unallocated semi-transparent red.
2. Removes colour variation depending on count
3. Square ID removed
4. Code added instead
5. Count is now for calendar year only with automatic switch to next year
6. (Martin has already fixed the 3 unused squares)

Just need to fix the map click, should be

[2021-06-14 15:07] BirenRathod commented on #114
@kitenetter I don't have a problem if you close this.

[2021-06-14 15:11] kitenetter commented on #114
Trying to catch up with this thread, and am finding it very confusing - apologies if I now add to the confusion.

There is mention above of user ID 82207, which appears to relate to a deleted warehouse account for Claire. However, I cannot find any PoMS records attached to that account, I can only find BeeWalk records (survey ID 178). Not sure if it is correct that the account for user ID 82207 sh

[2021-06-14 15:49] andrewvanbreda commented on #114
@kitenetter
I need to fix Claire's account, but quickly in answer to your question about the Warehouse. John is going to look into this.
The system doesn't delete Drupal accounts based on Warehouse deletion. That would be very difficult I think. However the Warehouse account should not have been deleted in this case, it is the Warehouse that incorrectly deleted automatically.
This is not a PoMS is

[2021-06-14 15:50] andrewvanbreda commented on #114
@kitenetter
and in terms of the confusion.....I think the only thing you need to know is John is going to look at Warehouse behaviour and I need to fix claire's account.

[2021-06-14 15:55] andrewvanbreda commented on #83
@BirenRathod
Hi Biren,
Are you able to pull the squares_summary_mappable report in indicia-reports PoMS.
It is a live report, but I don't think there will be an issue as tested on my machine and none of the parameters have changed.

[2021-06-14 15:56] andrewvanbreda commented on #74
Closing as this is covered by #83

[2021-06-14 15:56] #74 closed, assigned to andrewvanbreda

[2021-06-14 15:59] BirenRathod commented on #83
@andrewvanbreda I have pulled that report now.

[2021-06-14 16:24] andrewvanbreda commented on #83
@BirenRathod
Thanks Biren. That worked fine, although am noticing a problem with the count field that I am not seeing on my own machine (this would not be a new problem).
Could you pull it again please as have tried to add a distinct to the field.
Cheers.

[2021-06-14 16:29] BirenRathod commented on #83
@andrewvanbreda I pulled it again.

[2021-06-14 16:34] andrewvanbreda commented on #83
@BirenRathod Thanks Biren,
Yes that looks fixed now :)

AVB: Note to myself, just the grid clicking to fix now

[2021-06-15 16:36] kitenetter commented on #112
@andrewvanbreda I've just found from previous emails that we did discuss the edit button functionality with Julian back in May, at which point they said:

They also attached file style.css which was copied to you.

Does that resolve this issue or are there additional problems that Julian's information doesn't cover?

[2021-06-15 17:00] BirenRathod commented on #112
@kitenetter I have already added that while ago but this could have different class name then report-grid-container one.

[2021-06-17 17:19] kitenetter commented on #112
@andrewvanbreda do you need me to pursue anything with Steve/Julian?

[2021-06-18 08:36] andrewvanbreda commented on #112
@kitenetter
Yes please do. If you look at the lower half of the screenshot above, you can see actually the icons do display, but they are far too small (like minuscule). In Safari they are not present at all. So this is not related to horizontal scrollbar as far as I can see.
Also switching themes shows the icons fine.

[2021-06-18 14:38] andrewvanbreda commented on #114
Hi @BirenRathod ,

Have indeed got very confused with this, as we seem now to be dealing with 3 accounts.

So I am going to start from scratch. Biren could you run these 9 queries when you get chance, as there is now an extra user ID to take into account after Martin's extra information. Cheers

select count(id) from indicia.samples where created_by_id = 82207 and deleted=false;
select count(id) f

[2021-06-18 14:53] BirenRathod commented on #114
@andrewvanbreda Results are in same order as queries stated above.
20
100
true
54
40
true
7
12
false

[2021-06-18 15:08] andrewvanbreda commented on #114
@BirenRathod
Thanks Biren
Ok that settles it, I think we will need to repoint everything at 301649 which is Claire's only non-deleted account (which is also her fit count app one).
Then make sure all her Drupal accounts are point at that.

Will get back to you next week as that will require updates to live db, not a job for late on Friday afternoon in case of problems.

[2021-06-18 15:50] kitenetter commented on #112
Following today's CSS update the edit buttons are visible, but are not yet being filtered to the type of record entered, i.e. for my FIT Count I can currently see a button to edit the FIT Count and a button to edit a 1 km survey.

[2021-06-18 17:30] andrewvanbreda commented on #112
@kitenetter Ok, I will take a look. I probably can't fix immediately, I will removed them from the Fit Count Map for now until I can fix. I don't think you would actually be able to see the record, it will moan you are trying to edit a record that isn't yours.

[2021-06-18 17:40] andrewvanbreda commented on #112
@kitenetter
Ok have removed the icons from My Records and Fit Count in both languages for the minute until I fix.

The problem I saw was different to what you were describing. The Fit Count Map had an edit icon next to every record, when it should just be your own. I will look at as soon as I can.
I did test this, so not sure what has happened.

[2021-06-19 10:53] andrewvanbreda commented on #112
@kitenetter
Fixed.
The problem was simple (but annoying given the effort to get the logic right).

The actual code logic wasn't wrong, the problem was that these forms used to have the pan-trap data on them.
This was removed from the report, but the icon was accidently left by me on the page.
So the report no longer controlled that icon, and as such it displayed the entire time.

I have tested thi

[2021-06-21 15:50] kitenetter commented on #112
@andrewvanbreda the edit buttons now seem to be working as expected, thanks.

We are not expecting any 1 km counts to be entered in Welsh (and there is only an English form with which to enter the 1 km results) so I don't think any further action is required.

I think we can close this one?

[2021-06-21 16:03] kitenetter commented on #10
As far as I can see the only issue left to resolve is the display of icons on the recording form - I think these were for the amount of flower cover? This is a nice-to-have rather than an essential, so is not high priority.

[2021-06-21 16:51] kitenetter opened #115 "Pan-trap data entry form is not storing the sample location ID"
Applies to:
https://ukpoms.org.uk/add-1km-samples

The 1 km square location ID is not being saved into location_id in the samples table.

As a result, this page is not getting updated correctly:
https://ukpoms.org.uk/square-volunteer-pantrap-statuses

and the samples are being stored as sensitive, which I don't think we intended.

[2021-06-21 16:53] kitenetter opened #116 "1 km pan-trap data entry issues"
Aplies to https://ukpoms.org.uk/add-1km-samples

The auto-complete for the 1 km squares finds the first letter very quickly but fails to narrow the choices down as you add the second letter and the initial number - may be related to #115

When the square has been selected from the auto-complete list, the map should zoom in to the square - I guess this may also be related to #115

Date-picker is hi

[2021-06-21 16:55] kitenetter commented on #113
There is no requirement to copy spatial refs from previous sample for the FIT Count form (it is only for the pan-trap form that we'd like to be able to copy over the precise grids).

Removing the padlocks is probably all that is needed at the moment, so this can probably be closed?

[2021-06-21 20:04] #113 closed, assigned to andrewvanbreda

[2021-06-21 20:16] andrewvanbreda commented on #116
1.
This is controlled by the response from the Warehouse not the website, am also not seeing this issue.
Do you have an example entry that is causing the problem, also browser/system used.
I just tried and response was immediate.

2. Yes this is related to that.
But I am confused as iRecord doesn't use a field that would store in location_id, it uses a field that would store to location_name text.

[2021-06-21 20:19] andrewvanbreda commented on #115
@kitenetter
I will have to look at this tomorrow.
It seems to me iRecord is using a field that wouldn't normally store the location_id either (it uses imp-location:name).
So it seems to me that iRecord might of been doing something "funny" that has failed to copy across to the new website correctly.

The sensitive thing was actually deliberate, I didn't know it wasn't supposed to be like that.
I c

[2021-06-21 20:21] #112 closed, assigned to andrewvanbreda, kitenetter

[2021-06-22 09:28] andrewvanbreda commented on #115
@kitenetter
I have fixed this as of 10:15 on the 22 June (mentioning time as maybe useful dealing with existing data). Also removed privacy protection at that time.

Problem was so subtle, but unfortunately it stopped it working at all. It related to iRecord getting the data from a report, and the new website getting the data directly from the database table.

Will have to think how to correct the

[2021-06-22 09:34] andrewvanbreda commented on #115
Note the 1km form configuration looks to be correct

[2021-06-22 09:50] kitenetter commented on #116
@andrewvanbreda I can no longer reproduce the problem with the auto-complete, it's working fine this morning, and is also zooming in to the map correctly.

[2021-06-22 09:52] andrewvanbreda commented on #115
@kitenetter
I think there are 207 samples that need correction.
I believe this can be done, as although the spatial reference that is entered will not match up with the square numbers, I think the first 4 digits always do.
The exception to this I think are squares SE1845, SE1867 which share the first 4 digits so I cannot use that rule, so will have to treat as special case and can probably use a m

[2021-06-22 10:10] andrewvanbreda commented on #116
@kitenetter
Zoom was fixed as part of #115
Fixing that one automatically caused the zoom to start working.

I will close this then as the date picker problem is already know, and I think the first point might of been the Warehouse having a bad moment.

[2021-06-22 10:10] #116 closed, assigned to andrewvanbreda

[2021-06-22 10:36] kitenetter commented on #115
@andrewvanbreda here are the location links that need to be added for the samples. I make it 206 that need correcting, but that will be because I've just deleted my test data entry from yesterday.

[PanTrap_1km_location_edits.xlsx](https://github.com/BiologicalRecordsCentre/PoMS/files/6693478/PanTrap_1km_location_edits.xlsx)

[2021-06-22 10:45] andrewvanbreda commented on #115
@kitenetter
OK thanks, will see if I can use this list instead for the updates instead of the vaguer algorithm I mentioned.

[2021-06-22 11:55] andrewvanbreda commented on #115
@kitenetter @BirenRathod
OK am not going to use that spreadsheet for corrections;
Trying to copy out all the IDS for an update is very time consuming, but more importantly more liable to mistakes than automatic I think.
We can use to verify the result.

Firstly I should say, we don't need to worry about those squares I mentioned as they aren't even involved in this.

@BirenRathod can you run these

[2021-06-22 12:00] BirenRathod commented on #115
@andrewvanbreda
First query returned with 206 updated rows.
I have attached result of second query below.
[data-1624363172375.zip](https://github.com/BiologicalRecordsCentre/PoMS/files/6694036/data-1624363172375.zip)

[2021-06-22 12:32] andrewvanbreda commented on #115
@BirenRathod
This looks like the right result (didn't try whole spreadsheet, but checking a random).

Can you run the following two statements please

update indicia.samples smp
set privacy_precision=null, location_id = l.id, updated_by_id = 5553, updated_on = now()
from indicia.locations l
where LEFT(l.centroid_sref,4) = LEFT(smp.entered_sref,4)
AND smp.survey_id = 638 and smp.location_id is NULL

[2021-06-22 12:39] BirenRathod commented on #115
@andrewvanbreda It has updated 206 records.

[2021-06-22 12:39] BirenRathod commented on #115
@andrewvanbreda All done.

[2021-06-22 12:40] andrewvanbreda commented on #115
@BirenRathod
@kitenetter
Thanks Biren, thanks for the help getting this sorted out.
Martin this should be fixed now but it may take a little time to filter through the work_queue

[2021-06-25 10:06] kitenetter commented on #115
@kitenetter to do final check and close if all okay

[2021-06-25 10:26] andrewvanbreda opened #117 "Improve presentation of yellow help areas"
Experiment with basic html instead as some users find the yellow help hard to read.

[2021-06-25 10:30] andrewvanbreda opened #118 "1km entry forms for support use & expert use"
Martin to send links to equivalent pages on iRecord

[2021-06-25 10:33] andrewvanbreda commented on #118
These needs to be separate forms as they include extra species grids not available on standard forms

[2021-06-25 10:38] andrewvanbreda opened #119 "Checking reports for verification"
3.1 FIT Count target flower checking report – not yet done, Priority: high, but not needed until end of season

3.2 FIT Count insect group checking report – not yet done, Priority: high, but not needed until end of season

3.3 1km square survey flower checking report – not yet done, Priority: high, but not needed until end of season

[2021-06-25 10:47] andrewvanbreda opened #120 "Year filters should be newest year first"

[2021-06-25 10:51] andrewvanbreda commented on #78
@andrewvanbreda Note to myself, summary popups to be disabled (to allow the grid filtering when clicking map to work) until it is fixed that both of these work together.

[2021-06-25 10:57] andrewvanbreda opened #121 "Avoid scrolling on grids by removing less useful columns"
Scrolling behaviour on grids is not ideal – edit button is hidden until scrolled. We can drop the “Projection entered” column, and maybe also the “Other habitat” column.

[2021-06-25 11:06] andrewvanbreda opened #122 "My Results missing location columns"
Missing attributes for location name, output spatial ref (i.e. to translate lat/long into grid ref), and country.
(country can be derived from location_ids field)

[2021-06-25 11:10] andrewvanbreda commented on #75
After discussion with Martin, this needs to be a Squares list drop-down driving a freeform report after page refresh.

[2021-06-25 13:24] andrewvanbreda commented on #121
@kitenetter
Done.
Projection Entered and Other Habitat Columns removed from English and Welsh My Results page.

[2021-06-25 13:24] #121 closed, assigned to andrewvanbreda

[2021-06-25 14:01] andrewvanbreda opened #123 "Automatic filling of spatial reference for pan-trap data entry based on location and pan-trap number"
Automatic filling of spatial reference for pan-trap data entry based on location and pan-trap number

This would require 5 location attributes representing each pan-trap number to be created, and then the grid references are stored in these against each location square.
Code would need to then need to use this data to automatically fill in the spatial reference field once the pan-trap number is se

[2021-06-25 14:02] andrewvanbreda commented on #123
Closing as discussed in Martin with meeting, beyond scape of current project budget.
This Github issue is purely a data placeholder.

[2021-06-25 14:02] #123 closed, assigned to nobody

[2021-06-25 14:03] andrewvanbreda commented on #123
@kitenetter
Just tagging you to notify you that I raised this in Github as an information placeholder, but have closed the issue.

[2021-06-28 13:25] andrewvanbreda commented on #114
Hi @johnvanbreda

Are you able to to have a look at this issue at all?
It is very long trhead so if you are confused about anything, maybe best asked me.

Essentially what has happened is we Claire noticed that the app records she had entered were not appearing on the website.

It turns out what happened was that Claire registered on the website, but the linking Warehouse account magically became

[2021-06-28 13:50] andrewvanbreda commented on #78
@kitenetter
As agreed, I have disabled the Summary popup for now which re-enables the grid reacting to the map.
Click on the balloon icon in the top-right of the map, then click on map features (or drag several) to limit the grid to just those.

AVB: Note to myself this is the configuration that needs reinstating into the [map] control for English and Welsh once the summary box is working with the

[2021-06-28 14:34] andrewvanbreda commented on #117
@kitenetter
How about this test page. The yellow replaced with a Strong bold paragraph apart from the bit about saving at the bottom which is emphasis italic (just because it looked better to my eyes like that). Best to look at the test page when logged out so you can also see the personal details section. Let me know your thoughts.

https://test-ceh-poms.pantheonsite.io/enter-fit-count

[2021-06-29 19:56] johnvanbreda commented on #114
The API which registers a new warehouse user can sometimes fail to create a new unique user account because there are more than 1 possible existing match. In this case it will ask the user to help work out which one to use and will then merge the 2 possible accounts. This does result in one of the accounts being left with no records and deleted. I've just added a test to the unit testing to be abs

[2021-07-02 19:18] andrewvanbreda commented on #82
@kitenetter
Just to note I have got this to work on test now. I just need to check with Biren/Richard about whether some commits they have made to the site are safe to deploy to live.

[2021-07-03 20:45] andrewvanbreda commented on #82
@kitenetter
Fixed and deployed to live.

[2021-07-03 20:45] #82 closed, assigned to nobody

[2021-07-05 09:18] kitenetter commented on #114
@johnvanbreda we've had another similar report from a user who says:

I ran this query:
`SELECT p.id AS p_id, p.surname, p.first_name, p.email_address, w.title AS website, uw.created_on AS uw_created, uw.updated_on AS uw_updated, p.created_on AS p_created, p.updated_on AS p_updated, p.deleted AS p_deleted, u.id as u_id, u.created_on AS u_created, u.updated_on AS u_updated, u.deleted AS u_deleted
F

[2021-07-05 09:27] kazlauskis commented on #114
My primary Warehouse account was flagged deleted a few months back when I have accepted to merge my accounts (this was some other project). I do have a few accounts that I use for testing etc so I wasn't too worried that this has happened, and maybe that was a fluke but it seems like it can mess up actual user accounts too.

[2021-07-05 14:39] johnvanbreda commented on #114
@kitenetter I've fixed the data in this instance and I'm working on some code changes to stop it happening again.

[2021-07-05 17:03] kitenetter commented on #114
@johnvanbreda the user is still not seeing their recent records in their "My records" view - is that just taking a while for the updates to fed through, or is there still something that needs updating?

[2021-07-05 18:28] andrewvanbreda commented on #114
@johnvanbreda @kitenetter
If this is like Claire's, the Indicia Warehouse ID on the website will need manually updating to the non-deleted ID. I can't check this right now, but can have a look later

[2021-07-06 08:06] andrewvanbreda commented on #114
@johnvanbreda @kitenetter
I just checked, and the website account is linked to Indicia user 68198.
That user is not in a deleted state on the Warehouse so is correct.
If they are not seeing their records, that suggests those records are attached to a deleted Warehouse User record and will need repointing to be for user 68198

[2021-07-06 08:42] johnvanbreda commented on #114
@kitenetter Scott's most recent record in the database is 20842427 and I can see this on his My Records view. Which missing records are you referring to?

[2021-07-06 10:13] kitenetter commented on #114
@johnvanbreda Scott's records are now showing correctly, thanks - they weren't last night, but presumably I was just being impatient in expecting them to appear more quickly.

[2021-07-06 10:19] kitenetter commented on #114
Going back to the original issue, Claire still has 54 samples in the database that are linked to the deleted user ID 133147. Can we relink these to her non-deleted user ID 301649?

[2021-07-06 10:26] johnvanbreda commented on #114
See https://github.com/BiologicalRecordsCentre/iRecord/issues/1110 for long-term resolution discussion as opposed to short-term support.

[2021-07-06 11:20] kitenetter commented on #118
The pages linked below are unpublished, and show no data (because the data has been moved to the new website).

Page that allowed existing samples to be selected and edited (available to all with 1 km square role):
https://www.brc.ac.uk/irecord/node/7119?group_id=1073&implicit=f
https://www.brc.ac.uk/irecord/node/7119/edit

Page that allowed existing samples to be selected, and insect 'bycatch' co

[2021-07-06 11:36] kitenetter commented on #115
All okay, closing.

[2021-07-06 11:36] #115 closed, assigned to kitenetter

[2021-07-06 11:46] kitenetter opened #124 "Form to allow 1km square volunteers to edit their pan-trap data"
Relates to #118

1km square volunteers enter pan-trap data here:
https://ukpoms.org.uk/add-1km-samples

At the moment they are unable to edit that data.

We need a report that displays the pan-trap data and provides an edit button.

I think this probably needs a new page, “My pan-trap results”, that is only available to users with the 1 km square surveyor role.

Alternatively we could have a page

[2021-07-06 13:35] johnvanbreda commented on #114
@kitenetter I've updated Claire's samples.

[2021-07-06 13:36] kitenetter commented on #114
Thanks @johnvanbreda - I think we can close this one now.

[2021-07-06 13:36] #114 closed, assigned to johnvanbreda

[2021-07-06 15:41] CCarvell commented on #114
@kitenetter @johnvanbreda thanks for updating my records - I can now see all 2020 and 2021 counts entered (including from iRecord).
2018 and 2019 are definitely missing some public FIT Counts - for 2019 it shows 2 under my name plus some that I entered for other recorders (eg 5742675), but there are 11 within the processed data from the main database under my name, and a couple of others that I en

[2021-07-06 15:57] kitenetter commented on #114
@CCarvell sample IDs 7338505 and 7338497 were entered by Nadine as far as I can tell. The 1 km square counts digitised by Nadine will not be included in your account.

[2021-07-09 11:37] kitenetter commented on #124
Hi @andrewvanbreda - next time you're able to work on the PoMS website I'd be grateful if you could progress this issue as a priority. We are getting an increasingly long list of records that need to be edited and I fear that we could end up with incorrect data getting in to the results.

[2021-07-09 11:48] andrewvanbreda commented on #124
@kitenetter
Ok yes, I have been doing Plant Portal, but I don't think that is going live today.
Let me see if I can do this one now.

[2021-07-09 13:57] andrewvanbreda commented on #124
@BirenRathod @kitenetter
Hi Biren,

I have written a couple of simple reports to handle this at a basic level for now,
so the user can see the iRecord columns and see points on a map.
We can adjust from there as needed.
Biren, when you get a chance can you pull these two new reports onto live.
my_pan_trap_results_in_detail_lingual.xml
my_pan_trap_results_in_detail_mapping_lingual.xml

Cheers

[2021-07-09 14:02] BirenRathod commented on #124
@andrewvanbreda I have pulled those reports now.

[2021-07-09 14:06] andrewvanbreda commented on #124
@BirenRathod
Thanks Biren for quick response

[2021-07-09 14:45] andrewvanbreda commented on #124
@BirenRathod
Hi Biren,

Would you be able to pull those again as made a couple of improvements.

Cheers

[2021-07-09 14:47] BirenRathod commented on #124
@andrewvanbreda Done.

[2021-07-09 14:52] andrewvanbreda commented on #124
@BirenRathod
Thanks Biren. I knew you had before I saw your message as I saw the two changes come through (y)

[2021-07-09 14:58] andrewvanbreda commented on #124
@kitenetter
Martin. This is now live.
It is just a basic page for now with no download, but allows editing.
You would have to let me know whether you want a download with extra columns (or the same columns as the grid).
Note the Welsh page just shows the same as the English at the moment.

[2021-07-09 16:37] kitenetter commented on #124
Many thanks @andrewvanbreda and @BirenRathod - I've just tested that and all works as expected.

We don't need a download, nor anything different for the Welsh page.

[2021-07-09 16:37] #124 closed, assigned to kitenetter

[2021-07-13 11:28] andrewvanbreda commented on #118
Hi @kitenetter

These two reports link to two pages but I can't see them. It says access denied but I am an iRecord admin, have these been deleted? If not I will need exact details of the extra grids that were on the page so I can add them to UKPoMS

https://www.brc.ac.uk/irecord/node/7158
https://www.brc.ac.uk/irecord/node/7163

[2021-07-14 13:53] kitenetter commented on #118
@andrewvanbreda I can access them in edit view, does that work for you?:
https://www.brc.ac.uk/irecord/node/7158/edit
https://www.brc.ac.uk/irecord/node/7163/edit

[2021-07-14 14:52] andrewvanbreda commented on #118
@kitenetter
Yes that is working thanks, should be enough

[2021-07-18 13:54] andrewvanbreda commented on #118
Hi @kitenetter @CCarvell ,

I have setup these two pages (and associated Edit pages)

https://ukpoms.org.uk/select-samples-bycatch-data
https://ukpoms.org.uk/select-samples-species-data

I have not made them available in menu yet, as am not sure if you are happy with them.

@CCarvell, I think Martin is on leave, so I don't know if you have an opinion on the points I make in this comment.

Some cha

[2021-07-18 17:09] CCarvell commented on #118
@andrewvanbreda thank you very much for this update and useful summary of the questions remaining.

I agree with what you are suggesting above but think it would be best to wait for Martin's @kitenetter return to check the answers.
If this is for entry of the by-catch data for 2021 (which will mostly be done by Nadine in the lab later in the season) then for the species-specific data entry (which

[2021-07-22 11:22] andrewvanbreda commented on #122
@BirenRathod
Hi Biren,
Could you pull this report onto live Warehouse when you get chance. Cheers.
This isn't in use yet, so safe to pull
projects/PoMS/my_poms_results_in_detail_lingual_2.xml

[2021-07-22 11:25] andrewvanbreda commented on #117
IGNORE THIS FOR THE MINUTE
I just noticed the changes I made a few weeks ago have been overwritten for some reason

[2021-07-22 11:43] BirenRathod commented on #122
@andrewvanbreda I have pulled that report now.

[2021-07-22 12:44] andrewvanbreda commented on #108
Fixed and deployed.
Parameter was missing for Other Habitat attribute.

[2021-07-22 12:44] #108 closed, assigned to andrewvanbreda

[2021-07-22 15:19] andrewvanbreda commented on #122
@CCarvell @kitenetter
Have added this fix to the test site.

https://test-ceh-poms.pantheonsite.io/cy/my-results

There is no translation though, can you let me know if it is ok for the live site as is.

Not sure what the "output spatial ref (i.e. to translate lat/long into grid ref)" note I made was about.
I think this was after meeting with Martin.
If I am take to take this literally, that the e

[2021-07-23 11:17] andrewvanbreda commented on #58
@kitenetter @CCarvell
New Users Export option available in administration menu.
Close if happy. Note it appears to export the header twice, not sure why it is doing that. You can just manually remove one of those rows after export and perhaps that will be fixed with an update to the export module in future.

[2021-07-23 11:47] andrewvanbreda commented on #10
Raised as a general Indicia issue
https://github.com/Indicia-Team/client_helpers/issues/122

[2021-07-23 11:47] #10 closed, assigned to BirenRathod

[2021-07-23 11:48] andrewvanbreda commented on #10
Not that the requirement for copying spatial references was abandoned after discussion as not possible

[2021-07-23 13:03] andrewvanbreda commented on #38
@kitenetter @CCarvell
Hi,

Have corrected this situation now so the translations are working. Seems there is a separate setup for these translations actually as part of the fields themselves.
Only "I agree with these terms" remains untranslated. I cannot see how that can be done as the module controlling that does not have translation options.
However Biren is going to be deployed a Drupal 9 versi

[2021-07-23 13:13] BirenRathod commented on #38
@andrewvanbreda Yes, The legal module will allow to choose the language which has enabled for the site. And then you need to add translated script in it. I have already deployed on test site which you can check if you like.

[2021-07-23 15:04] andrewvanbreda commented on #38
@BirenRathod
Thanks for that info. I still have it on my task list to have a quick look at the Drupal 9 site

[2021-07-27 10:36] andrewvanbreda opened #125 "Limit reports to UK only"
@BirenRathod
Can you pull the PoMS reports folder on live warehouse please.
There are lots of new reports (well new files for altered versions of old reports).
Should be safe to pull, they are all new reports apart from one of them which is an edit, and that one has only been deployed to test so far.

Thanks

[2021-07-27 10:45] BirenRathod commented on #125
@andrewvanbreda All reports gone live now.

[2021-07-27 12:51] andrewvanbreda commented on #125
@kitenetter
Deployed to live.
Following pages now limited to UK, Isle of Man, Jersey, Guernsey

(English & Welsh)
Fit Count Map inc grid, map, result count
List of Samples for administrators inc grid, map, result count

Left the My Results pages, as you'll always want to see your results no matter where you put them (even it is put on the moon we would want the user to be able to correct that).
1k

[2021-07-27 12:51] #125 closed, assigned to BirenRathod

[2021-07-28 16:03] kitenetter opened #126 "Add pan trap data - English names for plants not available"
On the pan-trap data entry form:
https://ukpoms.org.uk/add-1km-samples

there is an occurrence grid for entering flower counts. The grid will only accept scientific names, but it should accept English names as well. I can't see any reason for the English names to be unavailable; the form seems to be set up to allow English names:

![image](https://user-images.githubusercontent.com/16039111/1273567

[2021-07-28 17:51] andrewvanbreda commented on #83
Hi @BirenRathod
Could you pull squares_summary_mappable PoMS report on live whenever you get a chance, cheers. Should be ok as tested on my machine and have preconfigured the form to take into account the change.
Cheers

[2021-07-28 20:25] andrewvanbreda commented on #126
@kitenetter
At the moment I cannot explain this, I set test site up to match iRecord and it is still doing it so will need to look tomorrow

[2021-07-28 20:28] andrewvanbreda commented on #126
Note it isn't the settings as even setting to All Names Are Available results in "Australian Blackwood" for example not being found

[2021-07-29 08:33] BirenRathod commented on #83
@andrewvanbreda I just pulled the repository but that report didn't update. Any idea?

[2021-07-29 09:35] andrewvanbreda commented on #83
@BirenRathod
Hi Biren,
That was an odd one. I checked Github and you are right, my commit wasn't there, even though the repository on my local machine was acting like it had been pushed successfully (git diff, git status showed nothing, even though my change was present in the file).
I did a hard reset and I could see my change again, so have recommitted and pushed.
I can now see it in Github

[2021-07-29 09:41] BirenRathod commented on #83
@andrewvanbreda Thanks. I have pulled that report now.

[2021-07-29 09:59] andrewvanbreda commented on #83
@BirenRathod
Thanks Biren. This is working.

@kitenetter @CCarvell
This was the last thing to fix on this issue, so closing now.

[2021-07-29 09:59] #83 closed, assigned to BirenRathod

[2021-07-29 12:28] andrewvanbreda commented on #126
@kitenetter
Have looked into this.
I believe this is a bug in Indicia. The language option to show preferred terms in particular language for term lists is getting accidentally mixed into the options on the species grid so the species grid also wrongly thinks its search should be preferred only.
I will speak to John about the best way to fix.

[2021-07-29 15:35] andrewvanbreda commented on #126
@kitenetter
Have a fix working on test site. I will deploy this shortly. The site will be offline for about 10 minutes (with usual maintenance mode message being displayed).

[2021-07-29 16:07] andrewvanbreda commented on #126
@kitenetter
Deployed. Close if happy, or let me know if not (although I did check it myself).
Actually a good sign is I noticed it also fixed another problem with the translation of the names in the species which I was previously having to override with jQuery

[2021-08-02 11:12] kitenetter commented on #122
@andrewvanbreda that works fine, just two comments:
1. The main reason for asking for an "output spatial ref" was to have the lat/long coords translated into grid references. Is there a simple way of achieving that?
2. As things stand it is difficult for the user to see how to download their records, because the download link is on the far right of the grid and can only be seen if you use the scro

[2021-08-02 15:09] andrewvanbreda commented on #122
Hi Martin @kitenetter ,
OK, those extra columns are from the spec, but am happy to remove.
As mentioned problem with the Output_sref is that it is generated by Indicia but includes privacy_precision logic. So would be empty for our private location (although actually I don't have that column on my database for some reason, but can see the code).
I will have a go at pulling out the code directly, a

[2021-08-02 16:09] kitenetter commented on #122
Just to clarify, we do need the columns in the download, and it is desirable to show them on the web page grid, but if it helps make the grid more useable and removes the need for the scrollbar I'm happy to drop them from the grid (but not the download).

Let me know if you need me to talk to Steve about reducing the font size in the grids.

[2021-08-02 16:11] DavidRoy commented on #122
@BirenRathod should be able to tweak the stylesheet if font sizes need changing?

[2021-08-02 18:15] BirenRathod commented on #122
@kitenetter I have reduced a font size, so you could able to see all column without compromising column numbers or size. see if that font size works fine or not. That also work for download link. It is on test site at present.

[2021-08-03 08:41] kitenetter commented on #122
Thanks @BirenRathod - I think that looks much better and I'd be happy for the change to be applied to the live site.

[2021-08-03 08:47] BirenRathod commented on #122
Thanks @kitenetter. I pushed the cod on live too.

[2021-08-03 09:00] andrewvanbreda commented on #122
@kitenetter
Hi
I have added the necessery configuration so those columns only appear in the download. I have added this to live also ready for when report is released. Just looking at the output_sref and will let you know shortly

[2021-08-03 09:03] andrewvanbreda commented on #122
@kitenetter
Ok, yes I think I misread the original comment and thought it was convert the OSGB into lat/long

We can do it the way you say, but the output_sref will be blurred by the privacy_precision, so will basically show the user what the public is seeing.

[2021-08-03 09:09] kitenetter commented on #122
@andrewvanbreda in that case can the download include both the input coordinates (full precision, mix of grid ref and lat/long) **and** the output_sref (which I assume will always be a 1 km square?).

No need to display output_sref in the web page grid.

[2021-08-03 09:18] andrewvanbreda commented on #122
@kitenetter
In theory yes, but I just noticed another problem I hadn't realised. That column is an occurrence column, not for samples, so am checking again (I had assumed it was sample as that is where the spatial references sit).
Might be able to get around this if I can use distinct in some way (as all the occurrences would have matching spatial reference).
Will get back to you about if this is

[2021-08-03 09:49] andrewvanbreda commented on #122
@kitenetter
OK, we can't really use that column as it is an occurrence one and that causes issues (includes there being no output for it for no occurrences are recorded).
I will try to grab the output_sref code and put it directly in the report modified.
I will let you know how I get on shortly with that

[2021-08-03 10:31] andrewvanbreda commented on #122
@BirenRathod
Hi Biren,
Could you pull that report again, cheers
projects/PoMS/my_poms_results_in_detail_lingual_2.xml

[2021-08-03 10:55] BirenRathod commented on #122
@andrewvanbreda That report gone live now.

[2021-08-03 11:15] andrewvanbreda commented on #122
Hi @BirenRathod,
Thanks Biren, that has worked. I am seeing something in the data I don't understand though, can you let me know this result cheers.
select output_sref from indicia.cache_occurrences_nonfunctional where id = 20322843;

[2021-08-03 11:21] BirenRathod commented on #122
@andrewvanbreda  It is SU5886.

[2021-08-03 11:45] andrewvanbreda commented on #122
@BirenRathod
Thanks Biren

@kitenetter
This is deployed to test now if you want to check it matches when you want. I am noticing something slightly odd about the output_sref. I will mail about it as I need to refer to the precise spatial references

[2021-08-03 12:03] andrewvanbreda commented on #122
@kitenetter
Actually I double checked, the oddity is correct. Just me misunderstanding the grid ref. I double checked visually in iRecord the spatial reference appears inside the blurred one.
Just let me know if you are happy for this to go live.

[2021-08-05 17:12] kitenetter opened #127 "Add emails to "People" table"
Please add a column for email address, in the same way you did for the FIT Count website.

[2021-08-05 17:52] BirenRathod commented on #127
@kitenetter Email column added now on people list. Also, I found some spam users, could you please delete them? usually end with .site extension. Seems like spam module is not working properly. I will find an another solution for it.

[2021-08-05 18:23] kitenetter commented on #127
Thanks @BirenRathod - it was the spam users that made me ask you for the email column! I will get rid of them. Closing this issue.

[2021-08-05 18:23] #127 closed, assigned to BirenRathod

[2021-08-19 13:08] andrewvanbreda commented on #119
@kitenetter
I have a version of 3.1 working on my machine now.
This is a report grid. Towards the right of each grid row is a free textbox, with a submit link . You just fill this in and click Submit and it is saved (with a confirmation, no page reload required)

I think looking at 3.2, 3.3 these are slightly more tricky.
Am I right in thinking these corrections must be a selection from a species

[2021-08-25 08:47] andrewvanbreda commented on #119
@kitenetter
For 3.2, 3.3 the requirement is to have the correction selection from a species list.
For my current code (currently on my machine) I am making the assumption that the verifier is required to select a name from the species list, but this name is saved as basic text to the database.

I want to check this is ok as there are some advantages/disadvantages of this.

- Easier to implement, f

[2021-08-25 11:22] andrewvanbreda commented on #122
@kitenetter @CCarvell
I went ahead and put this live.

I did notice when I tested some people's My Results I was getting an error which confused me.
After investigation, I noticed this was because some users had not entered a surname, so these accounts had not been linked to the database.
These people would not have been able to enter data anyway, it is likely these accounts are just spam accounts

[2021-08-25 11:22] #122 closed, assigned to kitenetter

[2021-08-25 13:52] andrewvanbreda commented on #126
@kitenetter
Am going to close this one to reduce number of open issues. Just re-open if you feel you need to.

[2021-08-25 13:52] #126 closed, assigned to kitenetter

[2021-08-27 12:05] andrewvanbreda commented on #33
@BirenRathod @kitenetter
I don't know what the problem is with the Welsh, as I don't see that problem anymore, the downloads have Welsh in them (although a lot of the reports have changed so that might explain it).
Biren could you pull these new reports which will correct the problem where the Other Target is never displayed.
Whenever you get chance, not urgent. Cheers

	reports/projects/PoMS/blur

[2021-08-27 16:06] kitenetter commented on #119
Just having a look at this, but I can say straight away that we don't need Welsh names.

[2021-08-27 16:36] kitenetter commented on #119
Lists:
For 3.2, the box that is filled in if a correction is needed should provide a dropdown, using the ten names given is species list ID 221. Doesn't necessarily need to be an auto-complete dropdown.

For 3.3, it is the plant occurrences from the pan-trap samples that we are talking about, and these are ideally to be selected from the UK Master List.

For both, I think it is preferable to store

[2021-08-27 17:19] kitenetter commented on #118
@andrewvanbreda answers to your questions:

1. These forms should be available under "Add your results".
The select-samples-bycatch-data one should be accessible only to these roles: admin; UKCEH staff
The select-samples-species-data one should be accessible only to these roles: admin; UKCEH staff; consultant entomologists

2. We don't need to have the year in the page titles - I have edited the t

[2021-08-27 17:23] kitenetter commented on #118
Additional question - on the enter species form (i.e. the form you get to from the edit button on select-samples-species-data), we filter the UK Master List so that it only allows entry of Hymenoptera and Diptera:

![image](https://user-images.githubusercontent.com/16039111/131165389-60b9d004-a6f0-411d-966a-de44116c5115.png)

I would prefer to limit this further so that it only allows selection of

[2021-08-27 17:24] kitenetter commented on #117
Let me know if this can be reinstated

[2021-08-27 17:29] kitenetter commented on #58
Is it possible to add the warehouse user ID for each user?

[2021-08-27 17:35] kitenetter opened #128 "Provide csv download for list of survey square statuses"
On the 'survey statuses' page in the Admin menu (https://ukpoms.org.uk/square-volunteer-pantrap-statuses) can we add a option to download the grid into a csv file.

The page itself is only visible to the admin role at the moment, and the download button should also be specifically restricted to the admin role if possible (in case we make the page more widely accessible in future).

[2021-08-28 09:12] andrewvanbreda commented on #119
@kitenetter
Ok, I will have a look at implementing these changes. For the UK master list item it will need to be an autocomplete else too many entries.

[2021-08-28 09:19] andrewvanbreda commented on #118
@kitenetter
1. OK
2. OK
3. OK

About the filter I don't know I will have a quick look. We can't mix types of filter, so they would have to be limited by Taxon Group, but I need to look in the database. The taxon group situation is not actually that simple as I see some are duplicated and spelt differently so that makes things even more confusing for me as each taxon only has one taxon group.

[2021-08-28 09:39] andrewvanbreda commented on #58
@kitenetter
Done.
Please close if happy, or let me know if not.

[2021-08-28 10:02] andrewvanbreda commented on #117
@kitenetter
Done.
Let me know if you like this styling and will apply to other pages and live.

(Just to note, I am aware the "How much of your 50x50cm patch was occupied by the target flowers?" termlist has the wrong size icons next to them on the test site, so please ignore that for this issue).

[2021-09-01 14:40] andrewvanbreda commented on #119
@kitenetter
I have implemented the ID saved to the database on my machine.
How do you want this to work one the correction is made.
At the moment on my machine the correction remains editable on the grid so it can be changed again if needed.

[2021-09-02 21:48] andrewvanbreda commented on #118
Hi @BirenRathod
Whenever you get a sec Biren, could you pull these reports in the PoMS reports folder on live. Cheers

select_samples_to_add_insect_data_mapping
select_samples_to_add_insect_data
squares_summary_mappable

[2021-09-03 10:02] kitenetter opened #129 "Spam registrations increasing?"
We are getting a lot of spam registrations on the PoMS website, with active accounts in the last few weeks for multiple addresses linked to tacittender.site and fernreach.site. I will block these ones.

These accounts are getting activated, but don't appear to be adding anything to the website, so perhaps it isn't a problem. But if there is anything else we can do to avoid accounts from known spam

[2021-09-03 10:57] andrewvanbreda commented on #128
Hi @kitenetter
I have enabled this option.

As the page is currently for admins only, I just enabled the download option.

To limit the download specifically to administrators would require separate versions of the page for public/admin which is outside the current budget for the project.
This can be taken into account if there is an enhancement in the future to open this page to the public.

Plea

[2021-09-03 11:19] andrewvanbreda commented on #128
@kitenetter
Actually I just noticed something funny with way site is setup.
The "PoMS.roles.and.page.access.permissions" page specifies that "1km square volunteers" and "UKCEH Staff" can access this page.
However these users don't have rights to the Administration menu which these pages were placed into.
So they have the odd situation where they cannot access this page from the menu system, but if

[2021-09-03 11:21] kitenetter commented on #128
Thanks @andrewvanbreda - I'll have a think about who needs to access this page. For now at least the download is fine the way you've implemented it.

[2021-09-03 11:27] BirenRathod commented on #118
@andrewvanbreda I have now pulled those reports now.

[2021-09-03 12:39] andrewvanbreda commented on #118
@BirenRathod
Thanks Biren :)

[2021-09-03 12:41] andrewvanbreda commented on #118
@BirenRathod
Sorry Biren, I just realised I made a mistake, one of the reports I asked for wasn't the right one, could you pull this please thanks.
Thanks
get_years_for_population_call

[2021-09-03 12:56] BirenRathod commented on #118
@andrewvanbreda
Have you committed in the master branch? I don't see any reports pulling down.

[2021-09-03 13:02] andrewvanbreda commented on #118
@BirenRathod
I saw it seems to have pulled anyway, it seem to be there much to my surprise.
I  spotted a problem, so will need a re-pull later anyway, will let you know.

[2021-09-03 14:17] andrewvanbreda commented on #118
@BirenRathod
Hi Biren,

I fixed those problems, if you could pull the following whenever you get a chance. Cheers
select_samples_to_add_insect_data_mapping
select_samples_to_add_insect_data
get_years_for_population_call

[2021-09-03 14:27] BirenRathod commented on #118
@andrewvanbreda Reports have pulled down now.

[2021-09-03 15:41] andrewvanbreda commented on #118
AVB following notes are for myself.
I have tested this successfully (inc save, permissions). All that is needed to go live is to enable the menu items.
Just two things to address
1. Martin's filter question
2. There is a problem when editing records on these pages as system does not allow editing of records you didn't create currently.

[2021-09-05 16:39] andrewvanbreda commented on #118
AVB: Note to myself
Problem 2 fixed.

[2021-09-05 17:06] andrewvanbreda commented on #118
Hi @kitenetter

In terms of your question about filtering.
Without spending extra budget on coding, the only option would be to supply me with an extact list of species to limit to (this could be any of the following->preferred name, taxon meaning ID, taxa_taxon_list_id,taxon_id,external_key)

Unfortunately, this filtering option does not seem to currently allow you to specificy a taxon in the tax

[2021-09-06 09:46] andrewvanbreda commented on #118
@kitenetter
This is now live.
Please close if happy.

[2021-09-06 10:28] andrewvanbreda commented on #118
@kitenetter
Another quick not about this. The Year filter on the page will go back to all project year (2017), actually there is a background limiter that has come across from iRecord that actually limits the page to 2019 and later.

[2021-09-06 12:48] andrewvanbreda commented on #120
@BirenRathod
Whenever you get a chance could you pull these reports please. These are versions that aren't live so should be safe to do. Cheers

projects/PoMS/blurred_poms_results_cache_3
projects/PoMS/blurred_poms_results_lingual_3
projects/PoMS/blurred_poms_results_mapping_lingual_3
projects/PoMS/blurred_poms_results_mapping_cache_3.xml
projects/PoMS/my_pan_trap_results_in_detail_lingual_2.xml
p

[2021-09-06 13:01] BirenRathod commented on #120
@andrewvanbreda  these are gone live now.

[2021-09-06 13:12] andrewvanbreda commented on #120
@BirenRathod
Thanks Biren :)

[2021-09-06 14:47] BirenRathod commented on #129
@kitenetter This is a problem. I checked to day as well and there were three more registrations from last week Friday. I could stop but not worth investing time on Drupal 8 because I have already taken necessary action on Drupal 9. So would be good if we migrate site on Drupal 9 as soon as possible.

[2021-09-07 19:08] andrewvanbreda commented on #120
@kitenetter
This is live now. It will also add a new year to the filter automatically each January.
The Target Flower column is also improved, instead of just saying "Other please describe below" (when there is no below in the case of the grid), it says "Other" with the other flower in brackets.

[2021-09-07 19:08] #120 closed, assigned to andrewvanbreda, BirenRathod

[2021-09-08 08:57] kitenetter commented on #129
Okay, we'll focus on Drupal 9 for this. Closing.

[2021-09-08 08:57] #129 closed, assigned to BirenRathod

[2021-09-08 08:59] BirenRathod commented on #129
@kitenetter I recon sooner the better. probably we could plan something in next week.

[2021-09-10 08:30] andrewvanbreda commented on #118
@kitenetter
Sorry, another quick note for you to check.
I noticed the two data entry forms for this have this configuration
occurrence:record_status=C
occurrence:release_status=U

Is it correct these forms should be setting unreleased status, this has come across from the old iRecord form configuration.

[2021-09-10 14:12] kitenetter commented on #118
@andrewvanbreda we needed these settings in iRecord to ensure that the PoMS data didn't get exposed in full detail to the public and to the verifiers. Now that the PoMS website is separate, and doesn't have an agreement with iRecord, we no longer need to flag the occurrences as confidential nor unreleased.

Question: in the warehouse, the Pollinator Monitoring Scheme website is linked to the test

[2021-09-10 14:16] BirenRathod commented on #118
@kitenetter It is fine to update on both warehouse. it will not impact as long as id is same.

[2021-09-10 15:11] andrewvanbreda commented on #118
@kitenetter
Have removed the Unreleased configuration lines. Do you know if anyone would of used these pages on the site yet?

[2021-09-10 15:23] kitenetter commented on #118
I don't think so - I haven't had a chance to check them yet, and haven't told anyone else about them, so I would be surprised if any data has been entered via thir route as yet.

[2021-09-14 09:14] andrewvanbreda commented on #117
Note these text changes will not be available on test after Biren clones live onto the test site (until I reinstate the change anyway). I will write a note once I have done that.

[2021-09-14 10:03] BirenRathod commented on #117
@andrewvanbreda This is why I asked if I can clone first test to dev then you will not lose anything.

[2021-09-15 13:02] andrewvanbreda commented on #93
@BirenRathod
Hi Biren,
Can you pull this PoMS report whenever you get a chance, not in use yet so it is safe to do so. Thanks

data_download_in_detail_with_blur_lingual.xml

[2021-09-15 13:17] BirenRathod commented on #93
@andrewvanbreda I have now pulled that report.

[2021-09-15 17:34] kitenetter commented on #118
@andrewvanbreda I'm looking at the form for adding 'bycatch' data:
https://ukpoms.org.uk/node/43/edit

This is currently using species list ID 221 "Insect groups (PoMS)". It needs to change to species list ID 234 "Insect groups (PoMS pan-traps)".

At the moment species list ID 234 is linked to iRecord and is not available to use on the PoMS website. Can we just change the "Owned by" value from iRe

[2021-09-15 17:38] kitenetter commented on #119
That sounds fine Andy. I don't think we often need to make an edit more than once but it's good to have the option to do so.

[2021-09-15 17:41] kitenetter opened #130 "Size of text in species recording grids"
The grids we use on the PoMS website all have a larger font than I would like, and for the species data entry form the current font is very congested:

![image](https://user-images.githubusercontent.com/16039111/133482541-77b67b48-abf5-4e26-947c-03cfb0278820.png)

That is from https://ukpoms.org.uk/node/44/edit

@BirenRathod are you able to adjust the font size in these grids or do I need to go ba

[2021-09-16 09:01] BirenRathod commented on #130
@kitenetter When you say adjust font size, do you want me to increase or decrease? Also, do you want me to do same for dropdown too?

[2021-09-16 09:12] andrewvanbreda commented on #118
@kitenetter
Done.
Please check.

[2021-09-16 11:04] andrewvanbreda commented on #93
@BirenRathod
Hi Biren,
I have made a couple of changes. Could you pull that report whenever you get a chance please.

[2021-09-16 13:26] BirenRathod commented on #93
@andrewvanbreda I have pulled that report now.

[2021-09-16 13:37] andrewvanbreda commented on #93
@BirenRathod
As always, thanks for the assitance

[2021-09-16 13:57] andrewvanbreda commented on #93
@kitenetter
Something like this Martin?
https://ukpoms.org.uk/data-download
(note I am aware of an issue on this screen where using the balloon tool to click does not make the grid react to the map click. Will fix that. Note the polygon tool does work though)

[2021-09-17 09:21] andrewvanbreda opened #131 "Move site from Drupal 8 to Drupal 9"
Hi  @BirenRathod @CCarvell @kitenetter

Thought I would open an issue for the move so that details can be stored here rather than lost in emails.

So far I have done a check of the code to make sure it should work in Drupal 9.
No alterations to the existing code were identified.
However the new checking/verification pages will need some alteration. These are not deployed yet so this isn't a proble

[2021-09-17 09:29] BirenRathod commented on #131
Thanks, @andrewvanbreda. As you already mentioned my comments, we are good to go for Drupal 9 Migration. this is only site left for me to migrate.
@kitenetter Have you sorted out the downtime regarding this? please do so. I believe October & November will get more busy, so better to do next week.

[2021-09-17 10:59] CCarvell commented on #131
@BirenRathod - @kitenetter is on leave and back Monday 20th.
Since Andy noted that Drupal 8 is coming to end of life 2nd November I was wondering if we could wait until PoMS surveys have finished at the end of September, as Biren noted the migration takes 1 hour to 12 hours max.

BUT if it has to be next week, then perhaps we could say Wednesday? That way Martin can confirm on Monday and has time

[2021-09-17 12:50] BirenRathod commented on #131
@CCarvell Yes, Wednesday will be perfect once @kitenetter confirmed that.

[2021-09-17 20:31] andrewvanbreda opened #132 "Target Flower not showing in some grids unless Other option is used"
@BirenRathod
Hi Biren,
I noticed a (silly) bug, whenever you get a chance, can you pull these two reports (which I assume will be next week).
Thanks

reports/projects/PoMS/blurred_poms_results_cache_3.xml
reports/projects/PoMS/poms_results_in_detail_admin_cache_3.xml

[2021-09-20 07:48] BirenRathod commented on #132
@andrewvanbreda Did you commit this to master branch? I have pulled the repository but nothing updated.

[2021-09-20 08:20] kitenetter commented on #131
Okay, I will put out a message for Wednesday.

[2021-09-20 08:31] BirenRathod commented on #131
@kitenetter yes, please. thanks. I assume you are going to put message on website too. I will put down website after 12:00 pm.

[2021-09-20 08:33] kitenetter commented on #131
@BirenRathod do you mean it will be down from mid-day on Wednesday 22 September?

[2021-09-20 08:35] BirenRathod commented on #131
@kitenetter Yes.

[2021-09-20 09:13] andrewvanbreda commented on #132
@BirenRathod
Thanks Biren,
Yes the push had failed, am not sure how I didn't notice that.
I have now pushed the change.

[2021-09-20 09:20] BirenRathod commented on #132
@andrewvanbreda Both reports gone live now.

[2021-09-20 09:21] BirenRathod commented on #131
@andrewvanbreda Just see above for your info.

[2021-09-20 10:22] andrewvanbreda commented on #131
@BirenRathod Yes that is fine, won't really affect me as I just won't work on the site that day.

[2021-09-20 10:32] andrewvanbreda commented on #132
@BirenRathod @kitenetter
Thanks Biren, this is working now.
Note I changed issue title because I just noticed the original title was wrong, the problem related to the Target Flower..

[2021-09-20 10:32] #132 closed, assigned to BirenRathod

[2021-09-21 11:28] andrewvanbreda commented on #131
Just for the record, I noticed the Species Grid translations were not appearing (actually the rows were completely empty).

This was fixed by
Using this  line in dynamic.php
$html .= call_user_func(array(self::$called_class, $method), $auth, $args, $tabalias, array_merge(['extraParams'=>$auth['read']], $options));

instead of this
$html .= call_user_func(array(self::$called_class, $method), $auth,

[2021-09-23 09:34] andrewvanbreda commented on #131
@BirenRathod @kitenetter
I have added translation for the help text and labels on the Welsh Fit Count data entry form for the Drupal 9 site.
The termlists translation won't work unless the User Interface Translation problem is fixed.
Note there is some old code (that is no longer needed because of a bug fix) that could be adapted that used to force translation of the species grid, am sure that cou

[2021-09-23 09:44] andrewvanbreda commented on #131
@BirenRathod
It is probably a good idea to leave the Drupal 8 test running for now as it maybe useful for fixing the translation issue.

[2021-09-23 09:48] BirenRathod commented on #131
@andrewvanbreda My recommendation is you don't need to use drupal 8 test env. instead you can use live env of Drupal 8. It will will be available soon one propagation process finished completely. Here is the URL of that -> http://live-ceh-poms.pantheonsite.io/
Although test & live env of Drupal 8 will be available till End of Oct. After that I have to decommission them.

[2021-09-23 09:52] CCarvell commented on #131
@andrewvanbreda if there is a clear (near-guaranteed) fix to this Welsh translation issue that you have identified, then I think we should sort it out asap. I have already alerted our Welsh Gov funder (she's also a PoMS volunteer) and she is keen that we meet our objectives of treating the English and Welsh equally, but is OK with the site having gone back to live as it is.

Could you please send

[2021-09-23 09:54] BirenRathod commented on #131
When you say "The termlists translation won't work unless the User Interface Translation problem is fixed." . This is not something we should do as this feature been introduced by one of Drupal contributed module.

Also, about extra budget for fixing species grid bit is something I could not comment on. It is definitely to consider for @CCarvell to decide.

[2021-09-23 10:19] kitenetter opened #133 "Photos missing"
I just edited this page:
https://ukpoms.org.uk/species-recording

The photos that were previously showing on the page have now disappeared. I'm not sure if they were missing before I did the edit, or if the edit has caused them to be lost.

Is there an easy way of reinstating them or do I have to manually re-insert them?

[2021-09-23 10:51] BirenRathod commented on #133
@kitenetter When I clicked edit, all images were there. So I just re-added them at their original place.

[2021-09-23 11:26] kitenetter commented on #133
Thanks @BirenRathod

Why did they get lost, and how can I stop this happening again?

[2021-09-23 11:39] BirenRathod commented on #133
@kitenetter It is not your fault actually. I just noticed that the backup hasn't restored the style folder which used by these images. I have now copied those.

[2021-09-23 12:54] andrewvanbreda commented on #131
@BirenRathod
That is fine. I wasn't intending to actively work on it. But it is worth leaving until the language is fixed.

@CCarvell
No it isn't a near-guarantee. I will have to do a test, then I can send a quote. I would hope it works.

However what I will do is see if John has seen this happen before first as really we could do with the translation module working.

I have also had to soak up ov

[2021-09-23 13:51] andrewvanbreda commented on #131
@BirenRathod
I have spoken to John, and he remind me of an option to check that I had forgotten about.
I think this line is missing from the helper_config (actually I think the helper_config file isn't present)

public static $delegate_translation_to_hostsite = TRUE;

I think this will fix it. I dunno if you just want to copy over the old helper_config from the Drupal 8 site, or whether you want m

[2021-09-23 13:54] BirenRathod commented on #131
@andrewvanbreda Yes, that has not been added as I copied drupal 8 version of git on to ceh-ukpoms repository not from ceh-poms repository. Please commit onto pantheon of ceh-ukpoms, so If I update iform module in future, I will check first and copy that.

[2021-09-23 14:17] andrewvanbreda commented on #131
@kitenetter @CCarvell @BirenRathod
Language problem fixed.
Not the new configuration version of that configuration file for the website has an extra option
"upload_max_filesize = '4M'"
I didn't remove it, as it might be required for the later version of the code the site is now running.
However it could theoretically impact the size of images people can upload, we can increase if needed.

Please c

[2021-09-23 14:20] BirenRathod commented on #131
Fantastic @andrewvanbreda. Upload file size is fine.

[2021-09-23 14:22] kitenetter commented on #131
Many thanks @andrewvanbreda - I will do final checks and close the issue tomorrow.

[2021-09-24 13:59] andrewvanbreda commented on #119
@kitenetter
This is what the pages currently look like. Don't click on the Submit buttons at the moment, that is not working on the site at the minute (I am not sure why, but is working on my system). Same also with the autocompletes on the last 2 forms, working on my machine, but not on that site yet.
But anyway, let me know if you have any thoughts on the visual side of this at the moment

https

[2021-09-27 10:24] andrewvanbreda commented on #119
@BirenRathod
Hi Biren,
I am very confused about something I am seeing. Could you send me these two results please

select sample_id,survey_id from indicia.cache_occurrences_functional where id = 15619068;

select id,survey_id from indicia.samples where id in
(select sample_id from indicia.occurrences where id = 15619068);

Cheers

[2021-09-27 10:31] BirenRathod commented on #119
@andrewvanbreda Both queries are returned with this 9707805   64  result.

[2021-09-27 10:33] andrewvanbreda commented on #119
@BirenRathod
Thanks Biren, very interesting result (and confusing).

[2021-09-27 12:23] andrewvanbreda opened #134 "Photos not uploading on Drupal 9"
@BirenRathod @kitenetter @CCarvell
I just noticed a problem after reading someone's comment on a Sample, the new Drupal 9 site image uploading is not working.

https://ukpoms.org.uk/enter-fit-count

Output stream error clicking on Add Photo button.

Biren are you able to look at what is happening here?

[2021-09-27 12:52] BirenRathod commented on #134
@andrewvanbreda There are some pending commit to release on live ukpoms. Can I do it first? So I could find out the problem .

[2021-09-27 12:55] andrewvanbreda commented on #134
@BirenRathod Yes please do as all those commits are to do with logging, or stuff we will need but isn't deployed yet. So not of it will affect site. Those commits can be copied to live.

[2021-09-27 13:10] BirenRathod commented on #134
@andrewvanbreda It has resolved now. The file helper_config you added last, it has got interim_image_folder variable left which I have commented now.

[2021-09-27 13:16] andrewvanbreda commented on #134
@BirenRathod
OK great thanks. Ok, that explains why it passed testing.

@kitenetter @CCarvell
There might now be some samples which people will need to upload pictures to.
I dunno if it would be worth us querying the database for samples in the time between now and when the language fix was done, and then you could email the people involved if you get you that info?

[2021-09-27 15:55] kitenetter commented on #134
There are samples without photos but the photos are not mandatory and it might be more trouble than it is worth to email people and ask them to edit them. What date did the problem start?

[2021-09-27 16:03] #133 closed, assigned to BirenRathod

[2021-09-27 20:04] andrewvanbreda commented on #134
@kitenetter
It would have been about 3pm on Thursday 23rd September.

I did see one sample comment of someone actually saying they couldn't upload their photos.
The sample ID was 15619068.
We could get Biren to query the database so we can see the comments since Thursday and contact the people who actually said that are having trouble?

[2021-09-30 11:54] kitenetter opened #135 "Problems with user registration"
Not sure if @andrewvanbreda or @BirenRathod is best placed to help with this.

I've encountered two different problems with user registrations on the PoMS websitre this morning.

**1. Missing recorder name**
This applies to user https://ukpoms.org.uk/user/145 who registered 3 months ago.

They registered and their account was shown as active, but they were unable to add data. On their account page

[2021-09-30 12:06] BirenRathod commented on #135
@kitenetter 1. I don't have any idea about it. It needs more investigation require as this is just one of user.

2. In Drupal 9, there is a "legal" module now in place instead of "terms of use". I have made mandatory of accepting terms and condition. The advantage of doing that is if there is a spam user registered already (which I deleted after I migrated but just in case there is) they can't abl

[2021-09-30 12:11] kitenetter commented on #135
Thanks @BirenRathod

I agree that acceptance of the terms must be mandatory. What I don't understand is how this user was able to register without accepting them.

I will try ticking the box and will see if that resolves the problem (and I will let the user know that I have done this on their behalf).

[2021-09-30 12:14] BirenRathod commented on #135
@kitenetter This could be registered in old system and I just copied from there by accepted user.

[2021-09-30 20:35] andrewvanbreda commented on #135
Hi @kitenetter

My thoughts on this are:

1.
Yes the Indicia Warehouse needs the surname to link to an account. So this would of failed until they filled it in the surname.
I have a feeling early on, that field had accidently been left as a non-mandaotry field

2. Is this because we have switched module, so the new module doesn't know about the tick on the old module.

[2021-09-30 20:43] andrewvanbreda commented on #131
@kitenetter @BirenRathod
Hi,
When I was looking at your question from this morning just now, I just noticed the Create Account link s now very small, it wasn't even obvious to me at first.
That is a theme issue, so am just raising it, you'll need to ask Biren or Steve to have a look.

[2021-10-01 09:40] andrewvanbreda commented on #119
@kitenetter
The Target Flower Checking report is working if you needed me to put that live? (subject to you checking that it is what you expect).

The other two would be ready but I there is a bug I am trying to fix where sorting a column or moving grid page breaks it.
(the reason for the breakage is related to these two reports using an autocomplete)

[2021-10-04 10:59] kitenetter commented on #135
For user https://ukpoms.org.uk/user/303

If I go to edit their profile I am unable to tick the box to accept the terms - the box is not editable.

What do I need to do to enable this user account?

[2021-10-04 11:12] kitenetter commented on #135
This is turning out to be a wider issue. I've just tried to masquerade as Nadine so that I can check everything is working for her to add the specimen bycatch data, and her account has the same problem with the terms tick box being unticked and non-editable.

This needs a solution urgently otherwise we will not be able to process the PoMS specimens.

[2021-10-04 11:24] kitenetter commented on #135
Okay, this may not be quite such an urgent problem. Nadine has just tried to log on herself, and she got asked to confirm that she accepted the terms of use. She did so, and now the box is ticked.

So it appears that this does work as it should, but with the following constraints:
- The user has to log in and tick the box, I cannot do it for them (which makes sense)
- I cannot masquerade as a user

[2021-10-04 11:25] BirenRathod commented on #135
@kitenetter you can't checked that by yourself for user/303 unless that user has got same role as your one. Also in Nadine case, I just masqueraded , so should fine for you (if you are POMS support)

[2021-10-04 11:28] BirenRathod commented on #135
@kitenetter Yes, all users (previously registered) should tick the box to accept terms.
If you want to masquerade check first if that user has accepted terms and conditions.
Yes, please warn if they have registered before.

[2021-10-04 19:00] kitenetter commented on #118
All seems well with these forms, thanks. Closing.

[2021-10-04 19:00] #118 closed, assigned to kitenetter

[2021-10-05 10:20] kitenetter opened #136 "Samples with missing location"
Four pan-trap samples have been entered without storing any value in the mandatory "1km square" attribute. Here is an example:
https://ukpoms.org.uk/add-1km-samples?sample_id=15177030

This may be a one-off glitch, and it is easy enough to edit and correct, but I wanted to raise it in case there is any underlying problem that we need to investigate.

If there is no obvious problem then I will edit

[2021-10-05 10:59] kitenetter commented on #136
Another example, from a different recorder - this is the only one out of 20 samples that is missing the location:
https://ukpoms.org.uk/add-1km-samples?sample_id=15357857

[2021-10-05 11:03] kitenetter commented on #136
Also:
https://ukpoms.org.uk/add-1km-samples?sample_id=15501204

[2021-10-05 11:18] kitenetter commented on #136
Also:
https://ukpoms.org.uk/add-1km-samples?sample_id=14727643

[2021-10-05 11:23] kitenetter commented on #136
This example is one of six from this recorder where the location is missing (so that of their 20 samples, six are missing the link to the 1km square):
https://ukpoms.org.uk/add-1km-samples?sample_id=15510886

[2021-10-05 13:53] andrewvanbreda commented on #136
@kitenetter
I know at one point we did have a problem with the location field that I fixed (although I thought that was closer to start of project, and may not have been on this form)

So I cannot explain this behaviour at all. I cannot understand why usually it saves fine.
It is interesting that it is the pan trap form when the other one works in the same way.

I did just corrected 15510886 and i

[2021-10-05 14:06] andrewvanbreda commented on #136
@kitenetter
Are you having any trouble with 1km FIT counts?, as the location autocomplete is ALMOST identical to the pan-trap form (see below).
(Aside from the helptext) - The only difference I can see is the pan trap form is not setup to set the grid reference field automatically and has to be typed by the user.

[location autocomplete]
@label=1km square
@helpText=Start typing the grid reference

[2021-10-06 13:48] andrewvanbreda commented on #119
@BirenRathod
Hi Biren,

Could you pull this new report please whenever you get a chance. No in use yet, so is safe pull.
projects/PoMS/taxon_list.xml

Thanks

[2021-10-06 13:52] BirenRathod commented on #119
@andrewvanbreda Gone live now.

[2021-10-06 14:09] andrewvanbreda commented on #119
@BirenRathod
Thanks Biren :)

[2021-10-09 18:45] andrewvanbreda commented on #119
@kitenetter
This are ready (from my point of view) to go live whenever you are ready, you can check the test site versions here

https://test-ceh-ukpoms.pantheonsite.io/fit-count-target-flower-checking
https://test-ceh-ukpoms.pantheonsite.io/fit-count-insect-group-checking-report
https://test-ceh-ukpoms.pantheonsite.io/1km-square-survey-flower-checking-report

[2021-10-11 09:02] andrewvanbreda commented on #119
@kitenetter

Actually two other considerations in regards to this,

1. Whenever you are ready, let me know how the roles need setting up in regards to these pages.

2. Also for 1km flower checking, the request with to limit this to plants. You will need to let me know how this should be filtered exactly.
To do this I am currently limiting to the following taxon groups from the UK Master List (I di

[2021-10-12 11:36] kitenetter opened #137 "Linking samples to emails"
If a user adds a public FIT Count to the PoMS website, their email address gets stored in cache_samples_nonfunctional.attr_email.

However, if a user adds a 1 km square FIT Count, no email address is stored in cache_samples_nonfunctional.attr_email.

Is there a reason for this difference?

[2021-10-12 13:05] andrewvanbreda commented on #137
@kitenetter
Going by the name of that field I would imagine it only stores the email from users who entered their email who filled in the Public FIT Count page unregistered. This is stored in an attribute.
Now I am not sure, but that page might also store the email address of registered users in that attribute automatically.

The other pages do not support unregistered users, so there is no need f

[2021-10-13 14:38] andrewvanbreda commented on #119
@kitenetter
I think there was a mistake in the setup of the "FIT Count insect group checking report" and "FIT Count target flower checking".
That mistake was those pages were note getting data from the app. I have now added that survey id to the configuration for those two pages.

[2021-10-13 17:00] kitenetter commented on #136
@andrewvanbreda I have now filled in the missing names for all the pan-trap samples.

I can't find any 1 km FIT Count samples that have missing names, so this does seem to be an issue specific to the pan-trap data entry.

I hadn't realised that the 1 km FIT Count form was auto-filling the detailed grid ref box with the 1 km square grid ref. It shouldn't do that, sorry for not spotting this before!

[2021-10-13 17:28] andrewvanbreda commented on #136
@kitenetter
I will do the change tomorrow, but yes you are right in theory.
I will just want to make sure their is not an unforeseen implication of the change.
I will also have a look at the pan-trap location problem again.

[2021-10-14 10:13] andrewvanbreda commented on #136
@kitenetter
Hi Martin,

I have made that change now.
Actually just thinking, for the future, can you let me know if you make any changes to the configuration that might  affect the code running.
This is simply because I may need to make the same change to EU PoMS and its associated FIT Count site as well as any of the TEST/DEV sites applicable to these projects.

In terms of this location problem.

[2021-10-21 17:30] andrewvanbreda commented on #38
@kitenetter
Just looking at some of the issues.
Don't think this issue needs to be open anymore. The terms and conditions do have a translation.
There seems to a couple of untranslated strings such as "Accept Terms & Conditions of Use" which I guess simply don't have a translation.
Anyway, taking this one off my task list.

[2021-10-25 19:34] kitenetter commented on #136
We are unlikely to get further examples this year as data has now been entered for 2021. I'll close the issue but we may have to come back to it next year.

[2021-10-27 13:17] andrewvanbreda opened #138 "Flowers Counted wrong in download files"
@kitenetter @CCarvell
David Roy noticed the Flowers Counted was wrong in the download files.
It was being treated as a term list instead of number, so was coming out with random terms like "City".
This has been fixed on UK PoMS as part of the crossover with EU PoMS project.

Am just raining this issue for a logging of changes to the site. I will close it immediately as the fix has just gone live.

[2021-10-27 13:17] #138 closed, assigned to nobody

[2021-10-28 14:30] andrewvanbreda commented on #136
@kitenetter
OK I have now raised this against the EU Pollinator project anyway as don't want that going live with similar issue, so perhaps there will be a fix before next year.

[2021-10-31 13:50] andrewvanbreda opened #139 "Habitat does not display correctly for "Other" option"
If "Other" was selected by user then currently it displays "Other please describe below" which doesn't make sense to display on a grid. Changed to "Other" and precise detail in brackets.

Fixed for EU PoMS

Following reports altered:
	reports/projects/PoMS/blurred_poms_results_cache_4.xml
	reports/projects/PoMS/blurred_poms_results_lingual_4.xml
	reports/projects/PoMS/blurred_poms_results_mapping_

[2021-11-05 12:08] kitenetter commented on #93
**Minor problem:**
I can add a polygon and use this to filter the grid. If I then "Clear the edit layer" using the map control, the grid refreshes to show all data, but the map display does not refresh, and I have to refresh the whole page to go back to showing all the records.

**Additional requests:**
1. The download page appears to be filtering so that it only includes samples added direct to t

[2021-11-08 09:33] andrewvanbreda commented on #93
@kitenetter
1.
There was a mistake in the page configuration that stopped app records returning-> Corrected

Added Survey filter, although not this also currently includes 1km. Awaiting response from @CCarvell

2. Can you confirm, as the original requirement stated current year only, this one would need a report change.

[2021-11-12 19:04] kitenetter commented on #119
Responses to the above:

**Roles**
These three pages need to be available for the UKCEH staff role.

"Taxon groups"
Your list is correct for the flowers (in fact I would only expect PoMS to produce "flowering plant" records, but it won't do any harm to include the other categories).

**General query**
Is it correct that the way these pages work is that you first add a corrected name, and then clic

[2021-11-22 13:22] andrewvanbreda commented on #119
Hi @kitenetter

Firstly in answer to your questions
1. If no correction is needed, there is no need to click Submit.
2. Yes, just add the correction and then click Submit on that row (a confirmation message is displayed). Each page is slightly different as how the correction is added (one is a free text, another is a drop-down, the other is an autocomplete).
I did check these work a few days bck,

[2022-01-05 09:37] kitenetter opened #140 "Consultant entomologist role has lost permissions"
The "consultant entomologist" role should provide access to the Indica page for entering species data for 1 km square samples, which is accessed via https://ukpoms.org.uk/select-samples-species-data

That page is not currently available for the consultant entomologist role. It was previously available so I don't know why this has changed.

If I look at the "edit role" options for the consultant en

[2022-01-05 09:58] andrewvanbreda commented on #140
@kitenetter
OK I will look. The support for this can be assigned to my EU PoMS timesheet as previously mentioned by David.
I have not changed the site at all recently so I do not know what has happened yet

[2022-01-05 10:02] DavidRoy commented on #140
A wider issue with drupal sites that @BirenRathod is looking into

[2022-01-05 10:16] andrewvanbreda commented on #140
@DavidRoy @BirenRathod @kitenetter
I did just look at UK PoMS before seeing your message David.
It looks like most of the permissions selections have been wiped (the test site is the same).
Most pages are showing as administrator only (even things like My Results).
Masquerading as standard user is showing incorrect pages.
I will leave this in Biren's hands unless I hear otherwise.

[2022-01-05 10:42] BirenRathod commented on #140
@kitenetter & @andrewvanbreda I have restored all permissions now.

[2022-01-05 10:46] andrewvanbreda commented on #140
@kitenetter Please close this issue once you are happy with Biren's fix

[2022-01-05 10:51] kitenetter commented on #140
Thanks everyone, that seems to be working again now. Closing.

[2022-01-05 10:51] #140 closed, assigned to kitenetter

[2022-01-11 10:38] kitenetter commented on #119
Hi @andrewvanbreda I need to pick up this issue - sorry not to have got back to you before, and let me know if we need to discuss over zoom.

On the test site, things seem to be working as expected for the two FIT Count checking reports.

Three requests (these are desirable rather than essential):
1. When a correction is necessary, it is not obvious whether or not the "Submit" button has been clic

[2022-01-11 13:48] andrewvanbreda commented on #119
@kitenetter
Hi Martin,

Here are my thoughts.

1. There is no harm pressing the submit button twice. There is also a confirmation if you click submit. I will have a see if there is something quick I can do, but can't promise.

2. Ok I will try to add this, shouldn't be hard.

3. This is a site theme issue I think, maybe @BirenRathod  could help?

4. I think the confusion here is the spec says this

[2022-01-11 14:21] kitenetter commented on #119
@andrewvanbreda points 1 to 3 are understood and are fine.

In the document "PoMS summary specification 2020_02_08_ESTIMATES_ADDED - priorities.docx" we specified three checking reports, which are numbered 3.1, 3.2 and 3.3 in that document. Under 3.3 we have:

So this report should be displaying occurrences of plants from survey ID 638 that have photos attached. Although we probably only need to f

[2022-01-11 16:04] andrewvanbreda commented on #119
@kitenetter
Ok, I think I have fixed this extra point 4. Please check this report again

I think all that needed to happen was to change this from 637 to 638

I think the confusion is originating with the terminology, as there are two 1km square surveys, and 2 FIT Count surveys (and they overlap)
To add to my confusion, the Pan Trap survey on EU PoMS is called fixed square.

Hi @kazlauskis ,

I do

[2022-01-11 16:50] kitenetter commented on #119
@andrewvanbreda the report seesm to be showing the correct set of occurrences and photos, thanks. However, I'm not sure how the auto-complete field is set up - it doesn't seem to be offering plant names.

[2022-01-11 17:24] andrewvanbreda commented on #119
@kitenetter
Acknowledged.
Will have to investigate further, the taxon group filter has been supplied, but is being ignored.

[2022-01-11 18:18] kazlauskis commented on #119
@andrewvanbreda yes, the app will not automatically display any new attributes added to the warehouse survey.

[2022-01-11 18:20] kazlauskis commented on #119
Just don't make it as a 'required' attribute as this would then prevent app records.

[2022-01-12 09:24] andrewvanbreda commented on #119
@kazlauskis
Thanks Karolis.
Yes definitely isn't a required one, as that would also break the website's forms for the non-expert users also as you say.

[2022-01-12 11:27] kitenetter commented on #119
@andrewvanbreda we'd like to make the FIT Count plant form available as soon as we can - this one:
https://test-ceh-ukpoms.pantheonsite.io/fit-count-target-flower-checking

The only person who needs to use it at the moment is Nadine. Is it okay for her to start using it on the test site? If so that reduces the pressure to transfer to the live site.

[2022-01-12 12:53] andrewvanbreda commented on #119
@kitenetter
I  would not be recommend to use on test site.
For instance ,it may be used for development tasks, which may interfere with a result from it. Although unlikely to happen here, in theory best to avoid.
I will transfer it to live this after I get back from lunch if no issues.

[2022-01-12 15:01] andrewvanbreda commented on #119
@kitenetter
Hi,

This is now live and I have successfully tested it on live masquerading as Nadine.

Have put as a sub-menu item in a menu called "Species correction reports" (which I can change name of if you wish)

[2022-01-12 16:50] kitenetter commented on #119
Thanks Andy, looks good to me, will try it out with Nadine in the morning.

[2022-01-13 10:14] andrewvanbreda commented on #119
@kitenetter
Insect group checking now live

[2022-01-13 12:03] andrewvanbreda commented on #119
@kitenetter
Looks like I already had coded a fix for 1km flower checking taxon groups but hadn't added the configuration to the test site (which surprises me, maybe I got distracted).
Could you check it and see if you want me to put it live.
Thanks

[2022-01-13 12:28] andrewvanbreda commented on #119
@andrewvanbreda Note to myself: 1km Flower Checking is now on live site, but not in menu until Martin checks it.

[2022-01-13 12:37] kitenetter commented on #119
Thanks @andrewvanbreda - I've had a quick check on the live site version and it looks fine to me.

[2022-01-13 12:39] BirenRathod commented on #119
Do I still need me to look into this?

[2022-01-13 12:55] andrewvanbreda commented on #119
@kitenetter Did you check the 1km Flower Checking as well?

[2022-01-13 14:31] kitenetter commented on #119
@andrewvanbreda yes, it was the 1 km flowers that I was referring to, so I think all three are fine now, thanks.

@BirenRathod the only issue is for this page:
https://ukpoms.org.uk/fit-count-insect-group-checking

In the "Correction" column there is a dropdown list, which displays nine rows, but there are ten to choose from. Is it possible to have all ten rows displayed in the dropdown, to avoid

[2022-01-13 14:45] andrewvanbreda commented on #119
@BirenRathod @kitenetter
Hi Biren,
Looks like Martin does need help with that problem. I think the CSS needs adjusting in the theme.

[2022-01-13 15:10] andrewvanbreda commented on #119
@kitenetter
1km flower checking now live in menu

[2022-01-13 16:54] BirenRathod commented on #119
@kitenetter The dropdown list size has increased now, so no need to scroll.

[2022-01-14 10:22] andrewvanbreda commented on #119
@BirenRathod
Hi Biren,
Could you pull these two reports whenever you get a chance please (they are not the live versions so is safe to do so at anytime)
reports/projects/PoMS/occurrence_media_name_checking_report_2.xml
reports/projects/PoMS/sample_media_name_checking_report_2.xml

Thanks

[2022-01-14 10:49] BirenRathod commented on #119
@andrewvanbreda Those reports gone live now.

[2022-01-14 11:04] andrewvanbreda commented on #119
@BirenRathod
Thanks Biren, will have a look in a bit

[2022-01-14 15:16] andrewvanbreda commented on #119
@kitenetter
Date limit now set on the 2 FIT Count report.
Limit is 1st April to 30th September for the year set in the filter.

In practice, at the moment it means that 2 records where removed from the target flower checking report.

[2022-01-17 15:26] andrewvanbreda commented on #119
Hi @kitenetter,
I have had a think about the submit change.
I think this wouldn't be very quick change so would need to charge to EU PoMS. Part of the reason is we have two types of report anyway (one with text, and two with autocompletes), so to some extent the change needs doing twice.
Also the way the code works doesn't lend to this kind of charge particularly easily.
Also there is the testing

[2022-01-17 15:45] kitenetter commented on #119
Happy to use it as it is for this year and revisit if any problems arise. I will add help text to the page if needed. Closing.

[2022-01-17 15:45] #119 closed, assigned to kitenetter

[2022-01-31 17:25] kitenetter opened #141 "Unable to access insect checking page"
I have been using this page for the last half hour or so:
https://ukpoms.org.uk/fit-count-insect-group-checking

But it suddenly stopped working and I am now seeing:
Failed to connect to warehouse1.indicia.org.uk port 443: Connection refused

[2022-01-31 17:26] kitenetter commented on #141
And now it is back again ... assume just a temporary glitch, and will close if it doesn't happen again.

[2022-01-31 17:34] #141 closed, assigned to nobody

[2022-02-07 11:53] kitenetter opened #142 "Unable to add 1km square data in Northern Ireland"
We seem to be unable to enter data for Northern Ireland - the 1km squares are set up but we're getting an error message that the precise grids don't match to the 1km square, even though it looks like they should.

![image](https://user-images.githubusercontent.com/16039111/152783202-3ea474be-8545-47a3-bb21-4aa4c341650a.png)

[2022-02-07 14:27] andrewvanbreda commented on #142
@kitenetter
I will check this.

My guess is, I think it may have been generally added to Indicia and PoMS is picking up the change and it is working incorrectly.
I am a bit confused why the Indicia code appears to have updated on UKPomS

I will check after I have finished what I am doing, so that will be this afternoon.

[2022-02-07 15:22] andrewvanbreda commented on #142
@kitenetter
I know code for this was added to general Indicia for the Butterfly site, and it would have ended up on PoMS after an upgrade such as the Drupal 9 upgrade.

However I cannot get that message to appear on my machine, even with identical data.

Are you able to write down the exact steps that cause the message to appear.

[2022-02-07 15:47] kitenetter commented on #142
1. Log on to UK PoMS
2. Go to Add your results - 1km pan-trap samples
3. Select a square in NI, e.g. "J1181 Antrim"
4. Click on map (within displayed 1km square) to add a more precise grid ref, e.g. J116812
5. Fill in all the mandatory attributes
6. Click save

The error message then appears: "Please ensure the precise grid reference is inside the 1km square."

Using Firefox.

[2022-02-07 16:37] andrewvanbreda commented on #142
@kitenetter
This is kind of fixed ( I have disabled the message)
I hadn't realised the message only shows on save as the code I was thinking maybe at fault appears before save.
It is another problem.
The problem is there is some code in there that does that validation that doesn't work for Irish Grid.
My guess is it originates from the forms on iRecord as I can see it isn't my code style.

For now

[2022-02-07 17:10] kitenetter commented on #142
Thanks @andrewvanbreda that will be fine for now and we can get the NI data entered.

I was expecting/hoping that the filters and grids (e.g. on the Map of FIT Counts) would automatically default to the current year. The current year seems to be given in the dropdown for the filter but it the map and grid are defaulting to 2021. Would be good to fix this - let me know if you want a new issue for i

[2022-02-07 17:33] andrewvanbreda commented on #142
@kitenetter
I will change this for EU PoMS then move it across.
This is because originally not even the near year appear automatically, I think the default was left, perhaps because I didn't think of it.

The forms have been changed now so that the validation is limited to OSGB, that is now live.

Close when happy.

[2022-02-07 17:35] andrewvanbreda opened #143 "Date filters for reports should default to current year automatically"
See title.

Also manually change to 2022 until this change is deployed.

To be developed for EU PoMS and moved across

[2022-02-07 17:36] kitenetter commented on #142
Thanks - closing

[2022-02-07 17:36] #142 closed, assigned to andrewvanbreda, kitenetter

[2022-02-07 17:48] andrewvanbreda commented on #143
@kitenetter
I have shifted all the dates to 2022 manually for now

[2022-02-11 18:01] kitenetter opened #144 "Add a second data correction attribute for plant names"
For future development, documenting so that it doesn't get lost. Applies to:
- https://ukpoms.org.uk/fit-count-target-flower-checking
- https://ukpoms.org.uk/1km-square-survey-flower-checking

At the moment we have a single attribute to capture the corrected names. However, this causes difficulties because sometimes the correction applies to the main target flower termlist, and sometimes to the fr

[2022-08-22 15:38] kitenetter opened #145 ""Read more" link not working on news page"
On this page:
https://ukpoms.org.uk/news

there is a "Read more" link, set up via the "Pager" in the view settings. However, the "Read more" link does not function, and the older news stories are inaccessible.

Hoping this is an easy fix but let me know if not!

[2022-08-22 16:34] andrewvanbreda commented on #145
@kitenetter
Has this gone wrong recently? or was it always like this
I didn't setup the News view, but from what I can tell we don't actually control this functionality, it is Drupal. This leaves me with very few options apart from trying to switch it on/off, clearing caches, fiddling with a few settings.
Nothing working.

@BirenRathod
Do you have any ideas? Might it be a bug in Drupal 9.4?

One p

[2022-08-22 16:38] kitenetter commented on #145
Not sure if it has gone wrong recently, as we've only recently acquired more than six news stories!

Let's see if Biren can suggest anything.

[2022-08-22 16:48] andrewvanbreda commented on #145
@kitenetter
Just looked at NPMS and noticed it has a similar More button that doesn't work, however in that case there is a pager setup.
I have changed UKPoMS so that it uses a pager instead of a "Read More..." link.
At least now it works, even if it is working differently.

[2022-08-22 16:49] andrewvanbreda commented on #145
@kitenetter
Can you check if the new method is satisfactory, and close if ok, or reassign to Biren if not.
Cheers

[2022-08-22 16:55] kitenetter commented on #145
@andrewvanbreda that has had a weird effect on the home page, which used to have a functioning "Read more" link. It is now listing all the news stories, with an odd pagination link at the bottom.

I'm happy with the pager here:
https://ukpoms.org.uk/news

but would prefer the home page to go back to what it was.

[2022-08-22 17:01] andrewvanbreda commented on #145
@kitenetter
I have changed it to show 6 items at a time, same as before (it was previously showing 10)
I have also changed tit o be a less intrusive mini arrow style pager
I don't think I can do any better than the way it is now, so if you need the Read More link you will need to assign to Biren again.

[2022-08-22 17:09] andrewvanbreda commented on #145
@kitenetter
Sorry I misunderood the issue. I will take action now to make sure home page not affected, and only news page is. Will let you know when done.

[2022-08-22 17:15] andrewvanbreda commented on #145
@kitenetter
I have changed New page to have the full pager, but 6 only News items per page.
Homepage should be the way it is before, it is using the same settings, although I can't see the Read More link, but as I say that page is now using same settings.
Can you check if it looks like it used to?
If not, can you tell me after which part of the page that Read More link was appearing after.
Thanks.

[2022-08-22 17:16] andrewvanbreda commented on #145
Oh I can see a News Sidebar with Read More link on right side of homepage if that is what you meant.

[2022-08-22 17:18] kitenetter commented on #145
That looks fine @andrewvanbreda many thanks (and yes it was the sidebar that I meant).

Closing.

[2022-08-22 17:18] #145 closed, assigned to andrewvanbreda

[2022-10-14 10:43] kitenetter opened #146 "Menu item displaying incorrectly"
Under "Add your results" there is a menu item "1 km FIT Counts" that should only be visible to users with the role "1KM Square Volunteer". At the moment it is visible to all users. If someone without the role clicks on the link, the page is inaccessible, which is fine but it would be preferable for it not to appear in the menu at all.

[2022-10-14 13:18] andrewvanbreda commented on #146
@kitenetter
Fixed.
The site was actually setup correctly, but when I rebuilt the permissions cache it fixed it.
Why that would corrupt I do not know.
Please check it and then close this issue if happy, or comment further.

[2022-10-14 18:03] kitenetter commented on #146
Thanks @andrewvanbreda - closing.

[2022-10-14 18:03] #146 closed, assigned to kitenetter

[2022-11-01 14:05] andrewvanbreda opened #147 "Typo in pan-trap form instructions"
Hi @kitenetter

I have noticed a typo on the pan-trap form, and it is also appearing on the SPRING website

"You will need to fill in a separate for for each of the five pan-traps in your square, each time you carry out a survey visit."
("for" appearing twice).

Can you confirm what this should say to I can change it on both sites?

[2022-11-01 14:33] kitenetter commented on #147
@andrewvanbreda which form do you mean, is it one of the PDF forms?

[2022-11-01 14:46] andrewvanbreda commented on #147
@kitenetter Near top of pan-trap data entry page

https://ukpoms.org.uk/add-1km-samples

[2022-11-01 14:52] kitenetter commented on #147
Thanks - it should say:
"You will need to fill in a separate form for each of the five pan-traps"

I have corrected it on the English version of the UK PoMS website.

[2022-11-01 15:02] andrewvanbreda commented on #147
@kitenetter
Great.
I have also adjusted UK PoMS test, & SPRING Live/Test (with slightly altered wording as that project uses 10 pan-traps)

[2022-11-01 15:02] #147 closed, assigned to kitenetter

[2022-11-23 09:58] kitenetter commented on #136
@andrewvanbreda the problem of missing locations for 1 km pan-trap samples has occurred again in 2022 - we have 32 samples (entered by several different people at different times) that are missing a location link. Here is one example:
https://ukpoms.org.uk/add-1km-samples?sample_id=20100518

I can manually add the locations for these samples so we don't lose the data, but it would be great if we c

[2022-11-23 10:02] andrewvanbreda commented on #136
@kitenetter
OK thanks for letting me know. I will look now as it might affect EU PoMS.

[2022-11-23 10:08] kitenetter commented on #136
@andrewvanbreda I'm just starting to do the corrections, would you prefer me not to do that until after you've looked into it?

If needed the other sample IDs that I haven't yet corrected are:
18620541
18620894
18620936
18765471
19589994
19590015
19839237
19839245
19839288
19839342
19839584
19839625
19839627
19839637
19839796
20063794
20100530
20100548
20271211
20480655
20480733
20481335
20481368

[2022-11-23 10:21] andrewvanbreda commented on #136
Hi @kitenetter
I think you can do most of the corrections., maybe just leave 5 uncorrected for now.

I have checked the Warehouse UI, it seems 1km FIT Count doesn't have the issue, but EU PoMS Pan Traps IS having the same issue.

It is a very strange problem, as the location autocomplete is pretty much the same on 1km FIT Count and Pan Trap surveys.
It is also just a basic one, it doesn't have any

[2022-11-23 10:58] andrewvanbreda commented on #136
Hi @kitenetter,

I have reproduced the problem.

The good news is that actually it isn't a saving algorithm failure (so you can have faith in that).

What is happening is there are a few location validations going on when the user clicks on the Save button, and one of these is broken on Pan Traps because there is a slight typo in the code.

One of these validators checks to make sure the pan trap

[2022-11-23 11:29] kitenetter commented on #136
Thanks @andrewvanbreda for tracking that down. I will get back to correcting the missing ones later today. Please close this issue once you've completed the fix.

[2022-11-23 12:09] andrewvanbreda commented on #136
@kitenetter
Fix is now live.

[2022-11-23 12:09] #136 closed, assigned to kitenetter

[2022-11-29 10:34] andrewvanbreda opened #148 "Activities functionality discussion"
@CCarvell @kitenetter
In light of my email problems recently, are you able to confirm you got an email I sent with a summary of my findings.
sent 18/11/2022 15:05
subject line "Re: Thoughts on the activites system".

Thanks.
Once I know this, we can either continue discussion over Github, or email.

[2022-11-29 10:47] kitenetter commented on #148
Hi @andrewvanbreda - I think I have received all your emails, thanks, but as usual am struggling to find time to respond. Will try to get back to you later this week.